.home-page {


  section {
    padding: 15px;
  }

  .container {
    margin: 0 auto;
    max-width: 1280px;

    .label-date {
      display: flex;
      align-items: center;

      >.newspaper_title {
        font-size: 1.75rem;
        color: orange;
        font-family: "Anakotmai-Medium";
        padding: 0;
        margin: 0;
      }

      >.Newspaper_SelectDate {
        margin-left: 16px;

        >.mat-form-field-hide-placeholder {
          >.mat-form-field-wrapper {
            >.mat-form-field-flex {
              >.mat-form-field-infix {
                margin-top: 7px;
                font-size: 20px;
                color: orange;
                font-family: "Anakotmai-Medium";
                width: 110px;

                >input {
                  cursor: pointer;
                }
              }

              >.mat-form-field-suffix {
                >.mat-datepicker-toggle {
                  >.mat-icon-button {
                    >.mat-button-wrapper {
                      svg {
                        width: 100%;
                        margin-bottom: 4px;
                      }
                    }
                  }
                }
              }
            }

            >.mat-form-field-underline {
              display: none;
            }
          }
        }

        .datepickerOne {
          background: lightgreen;
        }

        .datepickerOne .mat-calendar-body-today:not(.mat-calendar-body-selected) {
          border-color: darkgreen;
        }

        .mat-datepicker-content .datepickerOne.mat-calendar {
          width: 500px;
          height: auto;
        }
      }
    }

    @media (max-width: $xxlarge) {
      max-width: 1024px;
    }

    @media (max-width: $large) {
      max-width: 768px;
    }

    a:-webkit-any-link {
      color: unset;
    }

    .tag-link {
      color: $black;
      @include pointer();

      &.gray {
        color: gray;
      }

      &:hover {
        color: $brandcolor2 !important;
      }
    }

    .md-none-min {
      @media (min-width: $medium) {
        display: none !important;
      }
    }

    .md-none-max {
      @media (max-width: $medium) {
        display: none !important;
      }
    }

    .time {
      @include font-size-11($font-head-500);
    }

    .amount-social {
      @include font-size-11($font-head-400);
      display: inline-flex;
      gap: 5px;

      >span {
        flex: 0 0 auto;
      }
    }

    .wrapper-banner-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
      padding: 0 12px;
      height: 50px;
      border-bottom: solid 1px #d9d9d9;

      &.banner-header-bg-gray {
        background: #f8f8f8;
        border-bottom: unset;
        justify-content: unset;

        @media (max-width: $medium) {
          position: sticky;
          top: 0;
          margin: 0 -15px;
          padding: 0px 15px;
        }
      }

      >.banner-text-header {
        @include font-size-8($font-head-400);
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-break: break-word;

        &:hover {
          color: rgba($brandcolor2, 0.95);
          cursor: pointer;
        }
      }

      >.banner-count-header {
        @include font-size-9($font-head-500);
        flex: 0 0 auto;
      }
    }

    .wrapper-bar {
      height: 30px;
      @include font-size-11($font-head-500);
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;

      >.news-post-bar-left,
      >.news-post-bar-right {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        gap: 6px;
      }

      >.news-post-bar-left {
        >.post-point {
          color: gray;
          font-size: x-large;
          line-height: 16px;
        }
      }

      >.news-post-bar-right {

        svg,
        path {
          fill: $svg-color-gray-icon;
        }

        >svg {
          width: 12px;
          height: 12px;
        }
      }
    }

    .wrapper-news-post {
      @include pointer();

      &.flex-content {
        @media (min-width: $medium) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          border-bottom: solid 1px #d9d9d9;
        }
      }

      >.wrapper-news-post-img {
        aspect-ratio: 16 / 9;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        @include font-size-9($font-head-500);
        background-color: #f8f8f8;

        >img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        >span {
          margin: 12px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          word-break: break-word;
        }
      }

      >.detail {
        padding: 10px;

        @media (max-width: $medium) {
          padding: 15px;
        }

        >.title {
          @include font-size-9($font-head-500);
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          word-break: break-word;
        }

        >.owner-post {
          >.owner-name {
            @include font-size-11($font-head-500);
            color: slategray;
            cursor: pointer;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            word-break: break-word;
            display: -webkit-box;

            &:hover {
              color: rgba($brandcolor2, 0.95);
            }
          }
        }

        >.wrapper-title-topic {
          align-self: stretch;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          >.title-topic {
            @include font-size-9($font-head-500);
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            word-break: break-word;
            @include pointer();
          }
        }
      }
    }

    >.wrapper-1 {
      display: flex;
      align-items: flex-start;
      gap: 30px;

      @media (max-width: $large) {
        flex-direction: column;
      }

      >.wrapper-1-left,
      >.wrapper-1-right {
        width: 50%;
        align-self: stretch;
        display: flex;
        flex-direction: column;

        @media (max-width: $large) {
          width: 100%;
          flex-direction: column !important;
        }

        .wrapper-hastags {
          padding: 20px 0;
          @include font-size-10($font-head-400);

          >.header-hastags {
            color: $brandcolor2;
          }
        }
      }

      >.wrapper-1-left {
        justify-content: space-between;

        .wrapper-box {
          >.wrapper-copper-img {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: hidden;

            >.teg_event {
              background-color: black;
              position: absolute;
              color: white;
              padding: 10px;
              top: 0;
              left: 0;
              @include font-size-9($font-head-500);
              z-index: 5;
            }

            >.image-background {
              position: absolute;
              background-size: cover;
              filter: blur(5px);
              width: 100%;
            }

            >.image {
              width: 50%;
              height: auto;
              position: relative;
              z-index: 1;
            }
          }

          >.detail {
            padding: 15px;

            >.title {
              @include font-size-7($font-head-500);
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
              word-break: break-word;
            }

            >.content-detail {
              @include font-size-9($font-content-light);
              display: -webkit-box;
              -webkit-line-clamp: 4;
              -webkit-box-orient: vertical;
              overflow: hidden;
              word-break: break-word;
              line-height: 1.6;
            }
          }
        }
      }

      >.wrapper-1-right {
        >.wrapper-section-model {
          width: 100%;

          >.wrapper-news {
            flex: 1 1 0%;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 15px;

            @media (max-width: $medium) {
              flex-direction: column;
              gap: 0px;
            }

            &.wrapper-news-2 {
              flex-direction: column;

              @media (max-width: $large) {
                flex-direction: row;
              }

              @media (max-width: $medium) {
                flex-direction: column;
              }
            }

            >.wrapper-news-left,
            >.wrapper-news-right {
              flex: 1 1 0%;
              width: 50%;
              align-self: stretch;

              @media (max-width: $medium) {
                width: 100%;
              }
            }

            >.wrapper-news-left {
              @media (min-width: $medium) {
                display: grid;
              }
            }

            >.wrapper-news-right {}
          }
        }
      }
    }

    >.header-title {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 15px;
      height: 50px;

      >.wrapper-title {
        display: flex;
        align-items: center;

        >span {
          flex: 0 0 auto;
          @include font-size-6($font-head-400);
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          word-break: break-word;
          color: $brandcolor2;
          line-height: 1.5;
        }

        >hr {
          width: 100%;
        }
      }
    }

    >.wrapper-content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 15px;

      @media (max-width: $xlarge) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
      }

      @media (max-width: $medium) {
        grid-template-columns: 1fr;
        row-gap: 40px;
      }

      >.card-content {
        display: flex;
        flex-direction: column;

        .wrapper-bar {
          flex: 0 0 auto;
        }

        .container-content {
          flex: 1 1 0%;
          @include pointer();

          >.image-content {
            width: 100%;
            aspect-ratio: 16/9;
            object-fit: cover;
            @include font-size-9($font-head-500);

            &.image-null {
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              background-color: #f8f8f8;
            }

            >span {
              margin: 12px;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              word-break: break-word;
            }

            @media (max-width: $medium) {
              margin-bottom: 10px;
            }
          }

          >.title-post {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-height: 26px;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin-top: 10px;
            @include font-size-9($font-head-500);

            &:hover {
              color: rgba($brandcolor2, 0.95);
            }
          }
        }

        .owner-post {
          >.owner-name {
            @include font-size-11($font-head-500);
            color: slategray;
            cursor: pointer;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            word-break: break-word;
            display: -webkit-box;

            &:hover {
              color: rgba($brandcolor2, 0.95);
            }
          }
        }
      }
    }
  }
}

.home-wrapper-right {
  flex-direction: row !important;
  width: 100% !important;
  gap: 15px;
}

.news-post-flex {
  width: 100%;
  flex-direction: row;
  display: flex;
}

.post-wid {
  width: 50%;
  display: flex;
}