.privacy-policy {
    min-height: calc(100vh - 55pt);
    background: #f5f5f5;
    > .container {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 10px;
        > .body-privacy-policy {
            display: flex;
            flex-direction: column;
            padding: 15px 0;

            > .topic {
                font-size: 20px;
                font-family: "Kanit-500";
            }
            > .detail-policy {
                @include font-size-9($font-head-500);
                > .policy {
                }
            }
        }
    }
}
