<!DOCTYPE html>
<html>

<head>
	<title> Template</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
	<style type="text/css">
		* {
			font-family: 'Roboto', sans-serif;
			background: #f5f5f5;
		}
	</style>
</head>

<body>
	<div width="100%" style="margin:0px 0 0 0;background:#f5f5f5">
		<center style="width:100%;text-align:left;background:#f5f5f5;padding-bottom: 25px;">
			<table style="margin:0 auto;background:#f5f5f5;padding-top:0px;border-bottom: solid;"
				class="m_-5907332182002236281m_-1691394256282030723email-container" width="580" cellspacing="0"
				cellpadding="0" border="0" align="center">
				<tbody>
					<tr>
						<td>
							<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center"
								style="padding: 15px 0;">
								<tbody>
									<tr>
										<td dir="ltr" style="text-align:center;" valign="top">
											
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr>
						<td dir="ltr" width="100%" valign="top" align="center" style="padding: 0px;"
							style="background: #fff;">
							<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center"
								style="background: #fff;">
								<tbody>
									<tr>
										<td dir="ltr" width="100%" valign="top" align="center" style="padding: 0px;"
											style="background: #fff;">
											<table width="100%" cellspacing="0" cellpadding="0" border="0"
												align="center" style="background: #fff;">
												<tbody>
													<tr>
														<td class="m_-5907332182002236281m_-1691394256282030723stack-column-center"
															width="100%" style=" padding: 15px; ">
															<table width="100%" cellspacing="0" cellpadding="0"
																border="0" align="center">
																<tbody>
																	<tr>
																		<td dir="ltr"
																			style="padding:0 0px;color:#000;font-weight:400;text-align:left;font-size:16px;line-height:1.5rem;padding-top:10px;font-family: 'Roboto', sans-serif;"
																			valign="top">
																			<%- emailContent %>
																	<tr>
																		<td class="m_-5907332182002236281m_-1691394256282030723stack-column-center"
																			width="100%" style=" padding: 15px; ">
																			<table width="100%" cellspacing="0"
																				cellpadding="0" border="0"
																				align="center">
																				<tbody>
																					<tr>
																						<td dir="ltr"
																							style="padding:0 0px;color:#000;font-weight:300;text-align:left;font-size:12px;line-height:1.2rem;padding-top:10px;font-family: 'Roboto', sans-serif;"
																							valign="top">
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																	<tr>
																		<td class="m_-5907332182002236281m_-1691394256282030723stack-column-center"
																			width="100%" style="padding: 20px 10px; ">
																			<table width="100%" cellspacing="0"
																				cellpadding="0" border="0"
																				align="center" style="">
																				<tbody>
																					<tr>
																						<td>
																							<p
																								style="font-size: 16px;color:#000;font-weight: 300;margin-top:5px;margin-bottom: 0;">
																								ขอบคุณครับ,</p>
																						</td>
																					</tr>
																					<tr>
																						<td
																							style="padding:0 0px;color:#000;text-align:left;padding-top:0px;font-family: 'Roboto', sans-serif;">
																							<h4
																								style="font-size: 16px;color:#000;font-weight: 300;margin:0;">
																								ทีมงานสะพานบุญ</h4>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</center>
	</div>
</body>

</html>