<div class="provision">
    <div class="container">
        <p class="header">นโยบายความเป็นส่วนตัว</p>
        <ul>
            <li>
                <a href="/policy">นโยบายความเป็นส่วนตัว</a> ของ Move Forward Party เป็นการอธิบายวิธีที่ Move Forward
                Party รวบรวม ใช้
                และแลกเปลี่ยนแบ่งปันข้อมูลส่วนบุคคลของท่าน
            </li>
        </ul>
        <p class="title">ข้อมูลส่วนบุคคลในความหมายของ Move Forward Party เป็นอย่างไร?</p>
        <ul>
            <li>
                สำหรับ Move Forward Party เราเชื่ออย่างยิ่งในสิทธิความเป็นส่วนตัวขั้นพื้นฐาน
                และสิทธิพื้นฐานที่ว่านี้ควรเท่าเทียมกันไม่ว่าท่านจะอาศัยที่ใดบนโลกใบนี้
                และนั่นเป็นหลักการพื้นฐานที่เรานำไปปฏิบัติต่อข้อมูลที่เกี่ยวข้องกับบุคคลที่ถูกระบุตัวตนแล้วหรือสามารถระบุตัวตนได้
                หรือที่เชื่อมโยงแล้วหรือที่สามารถเชื่อมโยงกับพวกเขาได้ โดย Move Forward Party ถือว่าข้อมูลเหล่านี้เป็น
                "ข้อมูลส่วนบุคคล" ไม่ว่าบุคคลนั้นจะอยู่ที่ใด โดยหมายความถึงข้อมูลที่สามารถระบุตัวท่านได้โดยตรง เช่น
                ชื่อของท่านถือเป็นข้อมูลส่วนบุคคล และข้อมูลที่ไม่ระบุตัวตนของท่านโดยตรง แต่สามารถใช้ระบุตัวตนของท่านได้
                เช่น หมายเลขซีเรียลของอุปกรณ์ซึ่งเป็นข้อมูลส่วนบุคคล
                สำหรับข้อมูลที่นำมารวบรวมเพิ่มเติมถูกพิจารณาว่าเป็นข้อมูลที่ไม่ใช่ข้อมูลส่วนบุคคลตามวัตถุประสงค์ของนโยบายความเป็นส่วนตัวนี้
                นโยบายความเป็นส่วนตัวนี้ครอบคลุมถึงวิธีการที่ Move Forward Party หรือองค์กรในเครือ (เรียกโดยรวมว่า “Move
                Forward Party”) ใช้จัดการกับข้อมูลส่วนบุคคล ไม่ว่าท่านจะโต้ตอบกับเราบนเว็บไซต์ของเราผ่านแอพของ Move
                Forward Party หรือด้วยตนเอง (รวมถึงทางโทรศัพท์หรือเข้าชมเว็บไซต์ของเรา หรือร้านค้าปลีกของเรา) Move
                Forward Party อาจเชื่อมโยงกับบุคคลที่สามในบริการของเรา หรือให้บุคคลที่สามสามารถดาวน์โหลดแอพได้ใน App
                Store ของเรา นโยบายความเป็นส่วนตัวของ Move Forward Party
                ไม่มีผลบังคับใช้ต่อวิธีการกำหนดข้อมูลส่วนบุคคลของบุคคลที่สามหรือวิธีที่พวกเขาใช้ข้อมูล
                เราสนับสนุนให้ท่านอ่านนโยบายความเป็นส่วนตัวของพวกเขาและสนับสนุนรับทราบสิทธิความเป็นส่วนตัวของท่านก่อนที่จะติดต่อกับพวกเขา
            </li>
        </ul>
        <p class="title">สิทธิความเป็นส่วนตัวของท่านในความหมายของ Move Forward Party</p>
        <ul>
            <li>
                สำหรับ Move Forward Party เราเคารพสิทธิของท่านที่จะรับทราบ เข้าถึง แก้ไข ถ่ายโอน จำกัดการประมวลผล
                และลบข้อมูลส่วนบุคคลของท่าน เราได้มอบสิทธิ์เหล่านี้ให้กับฐานลูกค้าทั่วโลก
                และหากท่านเลือกที่จะใช้สิทธิ์ความเป็นส่วนตัว
                ท่านจะไม่ถูกเลือกปฏิบัติหรือได้รับการบริการในระดับที่ต่ำกว่ามาตรฐานจาก Move Forward Party
                หากต้องการใช้สิทธิ์และตัวเลือกความเป็นส่วนตัวของท่าน
                รวมถึงกรณีที่ผู้ให้บริการบุคคลที่สามดำเนินการในนามของ Move Forward Party
                โปรดไปที่หน้าข้อมูลและความเป็นส่วนตัวของ Move Forward Party ที่เว็บไซต์
                <a
                    href="https://www.moveforwardparty.org/privacy-policy">https://www.moveforwardparty.org/privacy-policy</a>
                และสำหรับ Move Forward Party
                ในการช่วยป้องกันความปลอดภัยของข้อมูลส่วนบุคคลของท่าน
                ท่านต้องลงชื่อเข้าใช้บัญชีของท่านและท่านจะได้รับการยืนยันตัวตน
                อาจมีบางสถานการณ์ที่เราไม่สามารถดำเนินการตามคำขอของท่านได้ ตัวอย่างเช่น
                หากท่านขอให้เราลบข้อมูลธุรกรรมของท่าน โดย Move Forward Party
                มีหน้าที่ตามกฎหมายที่จะต้องเก็บบันทึกธุรกรรมดังกล่าวให้เป็นไปตามกฎหมาย นอกจากนี้
                เราอาจปฏิเสธต่อคำขอของท่านหากการทำดังกล่าวเป็นการทำลายการใช้ข้อมูลโดยชอบด้วยกฎหมายเพื่อวัตถุประสงค์ในการต่อต้านการฉ้อโกงและความปลอดภัย
                เช่น เมื่อท่านร้องขอให้ลบบัญชีที่กำลังถูกตรวจสอบที่มีปัญหาด้านความปลอดภัย
                รวมทั้งเหตุผลอื่นๆที่ทำให้คำขอร้องด้านความเป็นส่วนตัวของท่านอาจถูกปฏิเสธ คือ
                หากคำขอนั้นเป็นอันตรายต่อความเป็นส่วนตัวของผู้อื่น เป็นเรื่องเล็กน้อย หรือก่อกวน
                หรือเป็นคำขอที่ไม่สามารถเป็นไปไม่ได้
            </li>
        </ul>
        <p class="title">ข้อมูลส่วนบุคคลที่ Move Forward Party ทำการรวบรวมจากท่าน</p>
        <ul>
            <li>
                สำหรับ Move Forward Party เราเชื่อว่าท่านต้องได้รับความเป็นส่วนตัวในระดับสูง
                ซึ่งหมายความว่าเราพยายามรวบรวมเฉพาะข้อมูลส่วนบุคคลเท่าที่เราต้องการเท่านั้น ข้อมูลส่วนบุคคลที่ Move
                Forward Party รวบรวมขึ้นอยู่กับวิธีที่ท่านโต้ตอบกับ Move Forward Party คำอธิบายเกี่ยวกับวิธีการที่ Move
                Forward Party จัดการกับข้อมูลส่วนบุคคลสำหรับบริการแต่ละรายการสามารถศึกษาได้ที่ <a
                    href="https://www.moveforwardparty.org/privacy-policy">https://www.moveforwardparty.org/privacy-policy</a>
                เมื่อท่านสร้างไอดีกับ Move Forward Party หรือเปิดใช้งานผลิตภัณฑ์หรืออุปกรณ์ ดาวน์โหลดอัปเดตซอฟต์แวร์
                เชื่อมต่อกับบริการของเรา หรือติดต่อกับเรา (รวมถึงทางโซเชียลมีเดีย) และเข้าร่วมทำแบบสำรวจออนไลน์
                หรือการโต้ตอบกับ Move Forward Party การกระทำข้างต้นเราอาจจะสามารถรวบรวมข้อมูลของท่านได้ รวมถึง:
                ข้อมูลเกี่ยวกับบัญชี. ไอดี Move Forward Party ของท่านและรายละเอียดบัญชีที่เกี่ยวข้อง รวมถึงที่อยู่อีเมล
                อุปกรณ์ที่ใช้ลงทะเบียน สถานะบัญชี และอายุ
                ข้อมูลอุปกรณ์ ข้อมูลที่สามารถระบุอุปกรณ์ของท่านได้ เช่น หมายเลขซีเรียลของอุปกรณ์
                หรืออื่นๆที่เกี่ยวข้องกับอุปกรณ์ของท่าน เช่น ประเภทเบราว์เซอร์
                ข้อมูลที่ใช้ติดต่อ ข้อมูล เช่น ชื่อ ที่อยู่อีเมล ที่อยู่จริง หมายเลขโทรศัพท์ หรือข้อมูลติดต่ออื่นๆ
                ข้อมูลการป้องกันการฉ้อโกง ข้อมูลที่ใช้เพื่อช่วยระบุและป้องกันการฉ้อโกง
                รวมถึงคะแนนความน่าเชื่อถือของอุปกรณ์
            </li>
        </ul>
        <p class="title">ข้อมูลส่วนบุคคลที่ Move Forward Party ได้รับจากแหล่งที่มาอื่น</p>
        <ul>
            <li>
                Move Forward Party อาจได้รับข้อมูลส่วนบุคคลเกี่ยวกับท่านจากบุคคลอื่น
                จากธุรกิจหรือบุคคลที่สามที่ดำเนินการตามคำสั่งของท่าน
                จากพันธมิตรของเราที่ทำงานร่วมกับเราในการจัดหาผลิตภัณฑ์และบริการ
                และช่วยเหลือเราในด้านความปลอดภัยและการป้องกันการโกง รวมถึงจากแหล่งที่มาอื่นๆ ที่ชอบด้วยกฎหมาย
                Move Forward Party อาจรวบรวมข้อมูลเกี่ยวกับท่านจากบุคคลอื่น ตัวอย่างเช่น
                บุคคลนั้นเชิญท่านเข้าร่วมในบริการหรือฟอรั่มแสดงความเห็นของ Move Forward Party
                หรือร่วมแลกเปลี่ยนเนื้อหากับท่าน
            </li>
        </ul>
        <p class="title">คำสั่งของท่าน </p>
        <ul>
            <li>
                ท่านสามารถสั่งให้บุคคลอื่นหรือบุคคลที่สามแลกเปลี่ยนข้อมูลกับ Move Forward Party ได้ ตัวอย่างเช่น
                ท่านอาจสั่งให้ผู้ให้บริการสื่อสังคมออนไลน์ แบ่งปันข้อมูลเกี่ยวกับบัญชีของท่านกับ Move Forward Party
                สำหรับการเปิดใช้งานบัญชี หรือ แบ่งปันข้อมูลโพสต์จากแพลตฟอร์มนั้นๆ
                พันธมิตรของ Move Forward Party เราอาจทำการตรวจสอบความถูกต้องของข้อมูลที่ท่านให้ ตัวอย่างเช่น
                เมื่อท่านสร้างบัญชีผู้ใช้ Move Forward Party กับบุคคลที่สามเพื่อความปลอดภัย
                และเพื่อวัตถุประสงค์ในการป้องกันการฉ้อโกง
                เพื่อวัตถุประสงค์ในการวิจัยและพัฒนา เราอาจใช้ชุดข้อมูล เช่น ชุดข้อมูลที่มีภาพ เสียง หรือข้อมูลอื่นๆ
                ที่อาจเชื่อมโยงกับบุคคลที่สามารถระบุตัวตนได้ เมื่อได้รับชุดข้อมูลดังกล่าว
                เราจะดำเนินการตามที่กฎหมายกำหนด รวมถึงกฎหมายในเขตอำนาจศาลที่ชุดข้อมูลนั้นถูกจัดเก็บอยู่
                เมื่อมีการนำชุดข้อมูลดังกล่าวไปใช้เพื่อการวิจัยและพัฒนา เราจะไม่ระบุตัวตนที่อาจปรากฏในชุดข้อมูลนั้น
            </li>
        </ul>
        <p class="title">การเชื่อมบัญชี</p>
        <ul>
            <li>ท่านสามารถเชื่อมต่อบัญชี กับผู้ให้บริการสื่อสังคมออนไลน์ อื่น อาทิ Facebook Twitter
                เพื่อแบ่งปันข้อมูลโพสต์จากแพลตฟอร์มนั้นๆ โดยท่านสามารถเปิด หรือ ปิดใช้งานการการแบ่งปันข้อมูลนี้ได้</li>
        </ul>
        <p class="title">การใช้ข้อมูลส่วนบุคคลของ Move Forward Party</p>
        <ul>
            <li>
                Move Forward Party นำข้อมูลส่วนบุคคลมาใช้ขับเคลื่อนบริการของเรา เพื่อประมวลผลธุรกรรมของท่าน
                เพื่อใช้ติดต่อสื่อสารกับท่าน เพื่อความปลอดภัยและการป้องกันการฉ้อโกง และเพื่อปฏิบัติตามกฎหมาย
                เรายังอาจใช้ข้อมูลส่วนบุคคลเพื่อวัตถุประสงค์อื่นใดที่ได้รับความยินยอมจากท่าน
                Move Forward Party
                ใช้ข้อมูลส่วนบุคคลของท่านก็ต่อเมื่อเราได้ดำเนินการดังกล่าวถูกต้องตามหลักการทางกฎหมายเท่านั้น Move
                Forward Party
                อาจอาศัยความยินยอมของท่านหรือข้อเท็จจริงที่ว่าการประมวลผลเป็นสิ่งจำเป็นเพื่อให้เป็นไปสัญญาที่ทำไว้
                เพื่อปกป้องผลประโยชน์ที่สำคัญของท่านหรือของบุคคลอื่น หรือเพื่อปฏิบัติตามกฎหมาย
                ทั้งนี้ขึ้นอยู่กับสถานการณ์
                เราอาจประมวลผลข้อมูลส่วนบุคคลของท่านเมื่อเราเล็งเห็นว่าเป็นประโยชน์โดยชอบด้วยกฎหมายของเราหรือของผู้อื่น
                โดยคำนึงถึงผลประโยชน์ สิทธิ และผลประโยชน์ที่คาดหมายของท่าน
                หากท่านมีคำถามเกี่ยวกับหลักการพื้นฐานทางกฎหมาย ท่านสามารถติดต่อเจ้าหน้าที่คุ้มครองข้อมูลได้ที่ <a
                    href="mailto:office@moveforwardparty.org">office@moveforwardparty.org</a>
            </li>
        </ul>
        <p class="title">อำนาจบริการของเรา</p>
        <ul>
            <li>
                Move Forward Party รวบรวมข้อมูลส่วนบุคคลที่จำเป็นในการให้บริการของเรา
                ซึ่งอาจรวมถึงข้อมูลส่วนบุคคลที่รวบรวมเพื่อปรับปรุงข้อเสนอแนะ เพื่อวัตถุประสงค์ภายใน เช่น
                การตรวจสอบหรือการวิเคราะห์ข้อมูล หรือเพื่อการแก้ไขปัญหา ประมวลผลธุรกรรมของท่าน ในการดำเนินธุรกรรม Move
                Forward Party จะต้องเก็บรวบรวมข้อมูล เช่น ชื่อของท่าน การซื้อ และข้อมูลการชำระเงิน
            </li>
        </ul>
        <p class="title">การติดต่อสื่อสารกับท่าน</p>
        <ul>
            <li>
                เพื่อตอบสนองต่อการสื่อสาร เรามีความจำเป็นต้องติดต่อสื่อสารกับท่านในด้านธุรกรรมหรือบัญชีของท่าน
                รวมถึงการทำการตลาดผลิตภัณฑ์และบริการของเรา รวมถึงการให้ข้อมูลที่เกี่ยวข้องอื่นๆ
                หรือขอข้อมูลหรือข้อเสนอแนะ และในบางครั้งเราอาจใช้ข้อมูลส่วนบุคคลของท่านเพื่อส่งข้อความสำคัญถึงท่าน เช่น
                การสื่อสารเกี่ยวกับการซื้อและการเปลี่ยนแปลงข้อกำหนด เงื่อนไข และนโยบายของเรา
                เนื่องจากข้อมูลนี้มีความสำคัญต่อการโต้ตอบระหว่างท่านกับ Move Forward Party
                ท่านจึงไม่สามารถยกเลิกการรับการแจ้งเตือนสำคัญข้างต้นนี้ได้
            </li>
        </ul>
        <p class="title">ความปลอดภัยและการป้องกันการฉ้อโกง</p>
        <ul>
            <li>
                เพื่อปกป้องบุคคล พนักงาน และ Move Forward Party และเพื่อป้องกันการสูญเสียและป้องกันการฉ้อโกง
                รวมถึงเพื่อปกป้องบุคคล พนักงาน และ Move Forward Party เพื่อประโยชน์ของผู้ใช้ทั้งหมดของเรา
                และมีการคัดกรองล่วงหน้า หรือสแกนเนื้อหาที่อัปโหลดเพื่อตรวจสอบหาเนื้อหาที่อาจผิดกฎหมาย
                รวมถึงการแสวงประโยชน์ทางเพศจากเด็ก
            </li>
        </ul>
        <p class="title">ข้อมูลส่วนบุคคลที่ใช้เฉพาะบุคคล</p>
        <ul>
            <li>
                หากท่านเลือกที่จะปรับแต่งบริการหรือการสื่อสารในแบบเฉพาะบุคคล Move Forward Party
                จะใช้ข้อมูลที่เรารวบรวมเพื่อให้เราสามารถนำเสนอบริการหรือการสื่อสารที่เป็นส่วนตัวแก่ท่านได้
                ท่านสามารถเรียนรู้เพิ่มเติมเกี่ยวกับวิธีที่บริการใช้ข้อมูลเพื่อปรับแต่งรูปแบบของท่านโดยการตรวจสอบข้อมูลความเป็นส่วนตัวที่ปรากฏเมื่อท่านใช้บริการ
                เพื่อขอใช้ข้อมูลส่วนบุคคลของท่านเป็นครั้งแรก
            </li>
        </ul>
        <p class="title">ปฏิบัติตามกฎหมาย</p>
        <ul>
            <li>
                เพื่อปฏิบัติตามกฎหมายที่บังคับใช้ ตัวอย่างเช่น เพื่อปฏิบัติตามภาระผูกพันด้านภาษีหรือการรายงาน
                หรือเพื่อปฏิบัติตามคำขอของรัฐบาลที่ชอบด้วยกฎหมาย
                Move Forward Party
                จะไม่ใช้อัลกอริทึมหรือการรวบรวมข้อมูลที่เป็นประโยชน์เกี่ยวกับสิ่งที่ต้องการทราบรายละเอียดเพื่อช่วยในการตัดสินใจใดๆ
                ที่อาจส่งผลกระทบต่อท่านโดยปราศจากการตรวจสอบหรือดำเนินการใดๆจากมนุษย์
                Move Forward Party เก็บรักษาข้อมูลส่วนบุคคลตราบเท่าที่จำเป็นเพื่อให้เป็นไปตามเป้าหมายในการเก็บรวบรวม
                รวมถึงตามที่อธิบายไว้ในนโยบายความเป็นส่วนตัวหรือในประกาศความเป็นส่วนตัวเฉพาะบริการของเรา
                หรือตามที่กฎหมายกำหนด
                เราจะเก็บรักษาข้อมูลส่วนบุคคลของท่านตามระยะเวลาที่จำเป็นเพื่อให้บรรลุวัตถุประสงค์ที่ระบุไว้ในนโยบายความเป็นส่วนตัวและบทสรุปความเป็นส่วนตัวเฉพาะบริการของเรา
                สำหรับการประเมินระยะเวลาในการเก็บรักษาข้อมูล
                ก่อนอื่นเราจะตรวจสอบอย่างรอบคอบว่าจำเป็นต้องเก็บรักษาข้อมูลส่วนบุคคลที่รวบรวมไว้หรือไม่
                และเมื่อประเมินแล้วพบว่ามีความจำเป็นต้องเก็บรักษาไว้
                เราจะทำงานเพื่อเก็บรักษาข้อมูลส่วนบุคคลในระยะเวลาที่สั้นที่สุดเท่าที่จะเป็นไปได้ตามที่กฎหมายอนุญาต
            </li>
        </ul>
        <p class="title">การแบ่งปันข้อมูลส่วนบุคคลของ Move Forward Party</p>
        <ul>
            <li>
                Move Forward Party อาจแบ่งปันข้อมูลส่วนบุคคลกับองค์กรพันธมิตรของ Move Forward Party
                ผู้ให้บริการที่ดำเนินการในนามของเรา พันธมิตร นักพัฒนา และผู้เผยแพร่ของเรา หรือบุคคลอื่น ๆ
                ตามคำสั่งของท่าน นอกจากนี้ Move Forward Party
                จะไม่แบ่งปันข้อมูลส่วนบุคคลกับบุคคลที่สามเพื่อวัตถุประสงค์ทางการตลาดของบุคคลที่สาม
                ผู้ให้บริการ Move Forward Party อาจให้บุคคลที่สามทำหน้าที่เป็นผู้ให้บริการและดำเนินการในนามของเรา เช่น
                การประมวลผลหรือจัดเก็บข้อมูล
                รวมถึงข้อมูลส่วนบุคคลที่เกี่ยวข้องกับการใช้บริการของเราและการส่งมอบผลิตภัณฑ์ให้กับลูกค้า ผู้ให้บริการ
                Move Forward Party
                มีหน้าที่ในการจัดการข้อมูลส่วนบุคคลให้สอดคล้องกับนโยบายความเป็นส่วนตัวนี้และสอดคล้องตามคำแนะนำของเรา
                พวกเขาไม่สามารถใช้ข้อมูลส่วนบุคคลที่เราแบ่งปันเพื่อวัตถุประสงค์ของตนเองได้
                และต้องลบหรือส่งคืนข้อมูลส่วนบุคคลเมื่อพวกเขาได้ดำเนินการตามคำขอของเราเป็นอันเรียบร้อยแล้ว
            </li>
        </ul>
        <p class="title">พันธมิตร</p>
        <ul>
            <li>
                ในบางครั้ง Move Forward Party อาจร่วมมือกับบุคคลที่สามเพื่อให้บริการหรือจัดหาข้อเสนออื่นๆ
                Move Forward Party อาจแบ่งปันข้อมูลส่วนบุคคลกับผู้อื่นตามคำสั่งหรือตามยินยอมของท่าน เช่น
                เมื่อเราแบ่งปันข้อมูลกับผู้ให้บริการของท่านเพื่อเปิดใช้งานบัญชีของท่าน นอกจากนี้
                เราอาจเปิดเผยข้อมูลของท่านหากเราพิจารณาว่าเป็นไปเพื่อวัตถุประสงค์ด้านความมั่นคงในระดับชาติ
                การบังคับใช้กฎหมาย หรือประเด็นอื่นๆ ที่มีความสำคัญต่อสาธารณะ
                การเปิดเผยข้อมูลเป็นสิ่งจำเป็นหรือไปเป็นตามความเหมาะสม
                เราอาจเปิดเผยข้อมูลเกี่ยวกับท่านโดยเป็นไปตามหลักทางกฎหมาย
                หากเราพิจารณาว่าการเปิดเผยนั้นมีความจำเป็นตามสมควร เพื่อบังคับใช้ข้อกำหนดและเงื่อนไขของเรา
                หรือเพื่อปกป้องการดำเนินงานหรือผู้ใช้ของเรา หรือรวมถึงกรณีของการปรับองค์กร การควบรวมกิจการ หรือการขาย
            </li>
        </ul>
        <p class="title">การคุ้มครองข้อมูลส่วนบุคคลของ Move Forward Party</p>
        <ul>
            <li>
                สำหรับ Move Forward Party เราเชื่อว่าความเป็นส่วนตัวจะดีได้นั้น ขึ้นอยู่กับความปลอดภัยที่ดี
                เราใช้การป้องกันด้านการบริหาร ด้านเทคนิค และทางกายภาพเพื่อปกป้องข้อมูลส่วนบุคคลของท่าน
                โดยคำนึงถึงลักษณะของข้อมูลส่วนบุคคลและการประมวลผล และภัยคุกคามที่เกิดขึ้น
                เราทำงานอย่างต่อเนื่องเพื่อปรับปรุงการป้องกันเหล่านี้เพื่อช่วยรักษาข้อมูลส่วนบุคคลของท่านให้ปลอดภัย
                สำหรับข้อมูลเพิ่มเติม โปรดอ่านที่คู่มือ Move Forward Party Platform Security
            </li>
        </ul>
        <p class="title">คุกกี้และเทคโนโลยีอื่นๆ</p>
        <ul>
            <li>
                เว็บไซต์ บริการออนไลน์ แอปพลิเคชันโต้ตอบ และโฆษณาของ Move Forward Party อาจใช้ "คุกกี้"
                และเทคโนโลยีอื่นๆ เช่น เว็บบีคอน เทคโนโลยีเหล่านี้ช่วยให้เราเข้าใจถึงพฤติกรรมของผู้ใช้ได้ดียิ่งขึ้น
                รวมถึงเพื่อความปลอดภัยและการป้องกันการฉ้อโกง ช่วยให้เราทราบว่าส่วนใดของเว็บไซต์ของเราที่ผู้คนเข้าชม
                และอำนวยความสะดวกและวัดประสิทธิภาพของโฆษณาและการค้นหาเว็บ
                คุกกี้การสื่อสาร คุกกี้มีไว้เพื่อเปิดใช้งานการรับส่งข้อมูลเครือข่ายและจากระบบของ Move Forward Party
                รวมถึงช่วยให้เราตรวจพบข้อผิดพลาด
                คุกกี้ประเภทที่มีความจำเป็นอย่างยิ่ง
                คุกกี้เหล่านี้ได้รับการตั้งค่าตามที่จำเป็นเพื่อให้เป็นไปตามท่านลักษณะหรือบริการเฉพาะที่ท่านเข้าถึงหรือร้องขอ
                คุกกี้อื่นๆ
                คุกกี้ถูกนำมาใช้เพื่อทำความเข้าใจว่าผู้เยี่ยมชมโต้ตอบกับเว็บไซต์และบริการออนไลน์ของเราอย่างไร
                รวมถึงช่วยให้เราประเมินประสิทธิภาพของโฆษณาและการค้นหาเว็บ อีกทั้ง Move Forward Party
                ใช้คุกกี้เหล่านี้เพื่อจำตัวเลือกที่ท่านเลือก เพื่อให้เราสามารถมอบประสบการณ์ที่กำหนดเองให้กับท่านได้
                หากท่านต้องการให้ Move Forward Party เลิกใช้งานคุกกี้ เรามีวิธีการปิดการใช้งานคุกกี้ให้ท่าน
                หากท่านต้องการปิดใช้งานคุกกี้และท่านใช้เว็บเบราว์เซอร์ Safari ให้ท่านเลือก “บล็อกคุกกี้ทั้งหมด”
                ในการตั้งค่าความเป็นส่วนตัวของ Safari หากท่านใช้เบราว์เซอร์อื่น
                ให้ตรวจสอบกับผู้ให้บริการของท่านเพื่อหาวิธีปิดใช้งานคุกกี้ รูปแบบบางอย่างบนเว็บไซต์ Move Forward Party
                อาจไม่สามารถใช้ได้หากปิดใช้งานคุกกี้ทั้งหมด
                นอกจากคุกกี้แล้ว Move Forward Party ยังใช้เทคโนโลยีอื่นที่ช่วยให้เราบรรลุวัตถุประสงค์ที่คล้ายกันอีกด้วย
                ในข้อความอีเมลบางฉบับที่ Move Forward Party ส่งถึงท่าน ท่านสามารถ “การคลิกผ่านURL”
                ที่เชื่อมโยงท่านไปยังเนื้อหาบนเว็บไซต์ Move Forward Party เมื่อท่านคลิกที่URL
                เหล่านี้จะผ่านเซิร์ฟเวอร์ต่างหากก่อนที่จะมาถึงปลายทางบนเว็บไซต์ของเรา
                เราจะติดตามบันทึกการคลิกของท่านเนื่องจากเป็นประโยชน์ที่ช่วยให้เรากำหนดความสนใจในหัวข้อเฉพาะได้
                และเป็นตัวช่วยที่ใช้วัดว่าเราสื่อสารกับท่านอย่างมีประสิทธิภาพหรือไม่
                หากท่านไม่ต้องการให้เราติดตามด้วยวิธีนี้ ท่านไม่ควรคลิกลิงก์กราฟิกหรือข้อความในข้อความอีเมล
                โดยทั่วไป Move Forward Party
                จะถือว่าข้อมูลที่เรารวบรวมโดยใช้คุกกี้และเทคโนโลยีที่คล้ายกันเหล่านี้เป็นข้อมูลที่ไม่ใช่ข้อมูลส่วนบุคคล
                อย่างไรก็ตาม ในขอบเขตที่อยู่อินเทอร์เน็ตโปรโตคอล (IP)
                หรือตัวระบุที่คล้ายกันถือเป็นข้อมูลส่วนบุคคลตามกฎหมายท้องถิ่นได้กำหนด
                เรายังถือว่าตัวระบุเหล่านี้เป็นข้อมูลส่วนบุคคลในภูมิภาคเหล่านั้นด้วย นอกจากนี้ ในบางครั้ง Move Forward
                Party จะนำเอาข้อมูลที่ไม่ใช่ข้อมูลส่วนบุคคลที่รวบรวมจากเทคโนโลยีเหล่านี้เข้ากับข้อมูลส่วนบุคคลอื่น ๆ ที่
                Move Forward Party เก็บไว้ เมื่อเรารวมข้อมูลด้วยวิธีนี้
                เราจะถือว่าข้อมูลที่รวมกันเป็นข้อมูลส่วนบุคคลตามวัตถุประสงค์ของนโยบายความเป็นส่วนตัว
            </li>
        </ul>
        <p class="title">ความมุ่งมั่นจากบริษัทของเราต่อความเป็นส่วนตัวของท่าน</p>
        <ul>
            <li>
                เพื่อให้แน่ใจว่าข้อมูลส่วนบุคคลของท่านปลอดภัย
                เราจึงย้ำถึงแนวทางความเป็นส่วนตัวและแนวทางความปลอดภัยของเราแก่พนักงานของ Move Forward Party
                และบังคับใช้การป้องกันความเป็นส่วนตัวภายในองค์กรอย่างเคร่งครัด
            </li>
        </ul>
        <p class="title">คำถามความเป็นส่วนตัว</p>
        <ul>
            <li>
                หากท่านมีคำถามเกี่ยวกับนโยบายความเป็นส่วนตัวของ Move Forward Party หรือแนวปฏิบัติด้านความเป็นส่วนตัว
                รวมถึงกรณีที่ผู้ให้บริการบุคคลที่สามดำเนินการในนามของเรา ต้องการติดต่อกับเจ้าหน้าที่คุ้มครองข้อมูลของเรา
                หรือต้องการส่งเรื่องร้องเรียน ท่านสามารถติดต่อเราได้ที่สำนักงาน office@moveforwardparty.org
                หรือโทรมายังฝ่ายสนับสนุนของ Move Forward Party หมายเลข 02-821-5874
                ท่านยังสามารถถามเกี่ยวกับวิธีการร้องเรียนเรื่องข้อมูลส่วนบุคคล และเราจะพยายามช่วยเหลือท่าน
                Move Forward Party ให้ความสำคัญกับคำถามความเป็นส่วนตัวของท่าน
                โดยทีมงานจะทำการตรวจคำถามของท่านเพื่อตอบคำถามหรือแก้ไขข้อสงสัยของท่านให้ดีที่สุดเท่าที่เราทำได้
                รวมถึงคำถามที่ได้รับในการตอบกลับคำขอเข้าถึงหรือดาวน์โหลด โดยส่วนใหญ่ท่านจะได้รับการตอบกลับภายในเจ็ดวัน
                ในกรณีอื่นๆ เราอาจยังต้องการข้อมูลเพิ่มเติมหรือแจ้งให้ท่านทราบว่าเราอาจต้องใช้เวลาในการตอบกลับเพิ่มขึ้น
                ในกรณีที่การร้องเรียนของท่านได้ระบุว่า การจัดการปัญหาความเป็นส่วนตัวสามารถแก้ไขปรับปรงได้นั้น
                เราจะดำเนินการตามขั้นตอนเพื่อทำการอัปเดตในโอกาสที่เหมาะสมต่อไป
                ในกรณีที่ปัญหาความเป็นส่วนตัวส่งผลเสียต่อท่านหรือบุคคลอื่น
                เราจะดำเนินการเพื่อจัดการกับปัญหานั้นให้กับท่านหรือบุคคลอื่นโดยเร็ว
                หากท่านไม่พอใจกับการตอบกลับของ Move Forward Party
                ท่านสามารถส่งเรื่องร้องเรียนไปยังหน่วยงานกำกับดูแลที่เกี่ยวข้อง
                โดยเราจะพยายามให้ข้อมูลเกี่ยวกับช่องทางการร้องเรียนที่เกี่ยวข้องกับสถานการณ์หรือปัญหาที่ท่านเผชิญ
                หากนโยบายความเป็นส่วนตัวนี้มีการเปลี่ยนแปลง
                เราจะทำการโพสต์ประกาศในเว็บไซต์ล่วงหน้าอย่างน้อยหนึ่งสัปดาห์และติดต่อท่านโดยตรงเกี่ยวกับการเปลี่ยนแปลงใดๆหากเรามีข้อมูลของท่านอยู่ในไฟล์
            </li>
            <li>
                <b>มีผลบังคับใช้: </b>
                23 กุมภาพันธ์ 2023 (version 1.1.0)
            </li>
        </ul>
    </div>
</div>