<div class="provision">
    <div class="container">
        <p class="header">ข้อกำหนดในการใช้บริการของ{{PLATFORM_NAME_TH}}</p>
        <ul>
            <li>
                นี่คือการทดสอบเบต้า การทดสอบเบต้านี้อาจมีบริการอย่างน้อยหนึ่งบริการ ที่จัดทำโดย Move
                Forward Party ("{{PLATFORM_NAME_TH}}") ข้อกำหนดในการให้บริการเบต้าของ {{PLATFORM_NAME_TH}} ใช้กับ
                การเข้าถึงและการใช้บริการของคุณ โดยการตกลงที่จะเข้าร่วมในการทดสอบเบต้า คุณเข้าใจว่าอาจ
                สามารถยกเลิกได้ตลอดเวลาด้วยเหตุผลใดหรือไม่ก็ตาม นั้นจะอยู่ในดุลยพินิจของเรา
                โดยไม่ต้องแจ้งให้ทราบล่วงหน้า.
            </li>
        </ul>
        <p class="title">
            ใครบ้างที่อาจใช้บริการ
        </p>
        <ul>
            <li>
                คุณจะใช้บริการได้ก็ต่อเมื่อคุณตกลงทำสัญญาผูกพันกับ{{PLATFORM_NAME_TH}}และไม่ใช่
                บุคคลที่ถูกห้ามไม่ให้รับบริการตามกฎหมายของเขตอำนาจศาลที่เกี่ยวข้อง ไม่ว่าในกรณีใดคุณต้องอยู่ที่
                มีอายุไม่ต่ำกว่า 18 ปีในการใช้บริการ หากคุณยอมรับข้อกำหนดเหล่านี้และใช้บริการในนามของ
                บริษัท องค์กร รัฐบาล หรือนิติบุคคลอื่น ๆ คุณต้องรับรองและรับประกันว่าคุณได้รับอนุญาต
                ทำเช่นนั้นและมีอำนาจผูกมัดบุคคลดังกล่าวกับข้อกำหนดเหล่านี้ ซึ่งในกรณีนี้ คำว่า "คุณ" และ "ของคุณ" เป็น
                ที่ใช้ในข้อกำหนดเหล่านี้จะอ้างถึงนิติบุคคลดังกล่าว
            </li>
        </ul>
        <p class="title">
            ความเป็นส่วนตัว
        </p>
        <ul>
            <li>
                <a href="/policy">นโยบายความเป็นส่วนตัว</a>
                อธิบายถึงวิธีที่เราจัดการกับข้อมูลของคุณ
                เมื่อคุณใช้บริการของเรา คุณเข้าใจว่าคุณยินยอมให้เราทำการรวบรวมข้อและการใช้งานผ่านการใช้บริการของคุณ
                (ตามที่กำหนดไว้ในนโยบายความเป็นส่วนตัว) ของข้อมูลนี้ การประมวลผลและการใช้งานโดย Move Forward
                พรรคและพรรคพวก
            </li>
        </ul>
        <p class="title">
            เนื้อหาเกี่ยวกับบริการ
        </p>
        <ul>
            <li>
                คุณต้องรับผิดชอบต่อการใช้บริการและเนื้อหาใดๆ ที่คุณให้ไว้ รวมถึงการปฏิบัติตาม
                กฎหมาย กฎระเบียบ และข้อบังคับที่เกี่ยวข้อง คุณควรให้เนื้อหาที่คุณยินดีแบ่งปันด้วยเท่านั้นกับ
                คนอื่น.
            </li>
            <li>
                การใช้หรือการพึ่งพาเนื้อหาใด ๆ ที่โพสต์ผ่านบริการหรือได้รับจากคุณผ่านบริการ
                เป็นความเสี่ยงของคุณเอง เราไม่รับรอง สนับสนุน เป็นตัวแทนหรือรับประกันความครบถ้วน ความจริง
                ความถูกต้องหรือความน่าเชื่อถือของเนื้อหาหรือการสื่อสารใด ๆ ที่โพสต์ผ่านบริการหรือรับรองความคิดเห็นใด ๆ
                แสดงออกผ่านบริการ คุณต้องเข้าใจว่าการใช้บริการ คุณอาจได้รับเนื้อหาที่อาจ
                สร้างความไม่พอใจ เป็นอันตราย ไม่ถูกต้อง หรือไม่เหมาะสม หรือในบางกรณี การโพสต์ที่เคยเกิดขึ้น
                ติดฉลากผิดหรือหลอกลวง เนื้อหาทั้งหมดเป็นความรับผิดชอบของบุคคลที่สร้างเนื้อหาดังกล่าวแต่เพียงผู้เดียว
                เราไม่อาจตรวจสอบหรือควบคุมเนื้อหาที่โพสต์ผ่านบริการ และเราไม่สามารถรับผิดชอบได้
                สำหรับเนื้อหาดังกล่าว
            </li>
            <li>
                เราขอสงวนสิทธิ์ในการลบเนื้อหาที่ละเมิดข้อตกลงผู้ใช้ เช่น ลิขสิทธิ์หรือ
                การละเมิดเครื่องหมายการค้าหรือการยักยอกทรัพย์สินทางปัญญา การแอบอ้างบุคคลอื่น การกระทำที่ผิดกฎหมาย หรือ
                การคุกคาม เนื้อหาสำหรับผู้ใหญ่ เนื้อหาสแปม หรือเนื้อหาที่ผิดกฎหมายใดๆ หากคุณเชื่อว่าเนื้อหาของคุณได้รับ
                คัดลอกในลักษณะที่เป็นการละเมิดลิขสิทธิ์ โปรดรายงานสิ่งนี้โดยส่งอีเมลถึงเรา:
                office@moveforwardparty.org
            </li>
        </ul>
        <p class="title">
            สิทธิ์ของคุณและการให้สิทธิ์ในเนื้อหา
        </p>
        <ul>
            <li>
                คุณรักษาสิทธิ์ในเนื้อหาใดๆ ที่คุณส่ง โพสต์ หรือแสดงบนหรือผ่านบริการ ของคุณคืออะไร
                ของคุณ - คุณเป็นเจ้าของเนื้อหาของคุณ (และเสียง รูปภาพ และวิดีโอที่คุณรวมไว้จะถือว่าเป็นส่วนหนึ่งของ
                เนื้อหา).
            </li>
            <li>
                ด้วยการส่ง โพสต์หรือแสดงเนื้อหาบนหรือผ่านบริการ แสดงว่าคุณให้สิทธิ์แก่เราทั่วโลก
                ไม่ผูกขาด
                ใบอนุญาตแบบไม่มีค่าลิขสิทธิ์ เพื่อใช้ คัดลอก ทำซ้ำ ประมวลผล ดัดแปลง แก้ไข เผยแพร่
                ส่ง แสดง และแจกจ่ายเนื้อหาดังกล่าวในสื่อใด ๆ และทั้งหมดหรือวิธีการเผยแพร่ที่รู้จักในขณะนี้หรือในภายหลัง
                ได้รับการพัฒนา (เพื่อความชัดเจน สิทธิ์เหล่านี้รวมถึง ตัวอย่างเช่น การดูแลจัดการ การดัดแปลง และการแปล)
                นี้
                ใบอนุญาตอนุญาตให้เราเผยแพร่เนื้อหาของคุณไปยังส่วนอื่นๆ ของโลก และอนุญาตให้ผู้อื่นทำเช่นเดียวกัน คุณ
                ยอมรับว่าใบอนุญาตนี้รวมถึงสิทธิ์ของ Twitter ในการจัดหา ส่งเสริม และปรับปรุงบริการและจัดทำ
                เนื้อหาที่ส่งไปยังหรือผ่านบริการที่มีให้กับบริษัท องค์กร หรือบุคคลอื่นๆ สำหรับ
                การเผยแพร่ ออกอากาศ แจกจ่าย รีทวีต โปรโมตหรือเผยแพร่เนื้อหาดังกล่าวบนสื่ออื่น ๆ และ
                บริการภายใต้ข้อกำหนดและเงื่อนไขของเราสำหรับการใช้เนื้อหาดังกล่าว การใช้งานเพิ่มเติมดังกล่าวโดย
                {{PLATFORM_NAME_TH}}
                หรือบริษัท องค์กร หรือบุคคลอื่นๆ ที่ทำขึ้นโดยไม่มีการจ่ายค่าตอบแทนให้กับคุณในส่วนที่เกี่ยวกับ
                เนื้อหาที่คุณส่ง โพสต์ ส่งต่อ หรือทำให้ใช้งานได้ผ่านบริการในลักษณะการใช้งาน
                บริการโดยคุณได้รับการตกลงว่าเป็นการชดเชยที่เพียงพอสำหรับเนื้อหาและการให้สิทธิ์ในที่นี้
            </li>
            <li>
                {{PLATFORM_NAME_TH}} มีชุดกฎที่พัฒนาขึ้นสำหรับวิธีที่พันธมิตรระบบนิเวศสามารถโต้ตอบกับเนื้อหาของคุณบน
                บริการ. กฎเหล่านี้มีไว้เพื่อเปิดใช้งานระบบนิเวศแบบเปิดโดยคำนึงถึงสิทธิ์ของคุณ คุณเข้าใจว่าเราอาจ
                แก้ไขหรือปรับเนื้อหาของคุณตามที่มีการแจกจ่าย รวบรวม เผยแพร่ หรือเผยแพร่โดยเราและพันธมิตรของเรา
                และ/หรือเปลี่ยนแปลงเนื้อหาของคุณเพื่อปรับเนื้อหาให้เข้ากับสื่อต่างๆ
            </li>
            <li>
                คุณรับรองและรับประกันว่าคุณมีหรือได้รับสิทธิ์ ใบอนุญาต ความยินยอม การอนุญาต อำนาจทั้งหมด
                และ/หรืออำนาจที่จำเป็นในการให้สิทธิ์ที่ได้รับในที่นี้สำหรับเนื้อหาใดๆ ที่คุณส่ง โพสต์หรือแสดง
                บนหรือผ่านบริการ คุณตกลงว่าเนื้อหาดังกล่าวจะไม่มีเนื้อหาที่มีลิขสิทธิ์หรืออื่นๆ
                กรรมสิทธิ์ เว้นแต่คุณจะได้รับอนุญาตที่จำเป็นหรือมีสิทธิ์ตามกฎหมายในการโพสต์เนื้อหา
                และให้สิทธิ์อนุญาตแก่ {{PLATFORM_NAME_TH}} ตามที่อธิบายไว้ข้างต้น
            </li>
        </ul>
        <p class="title">
            การใช้บริการ
        </p>
        <ul>
            <li>
                โปรดตรวจสอบกฎและนโยบายของ {{PLATFORM_NAME_TH}} ซึ่งเป็นส่วนหนึ่งของข้อตกลงผู้ใช้และระบุรายละเอียด
                เป็นสิ่งต้องห้ามในบริการ คุณสามารถใช้บริการโดยปฏิบัติตามข้อกำหนดเหล่านี้และที่เกี่ยวข้องทั้งหมดเท่านั้น
                กฎ กฎหมาย และข้อบังคับ
            </li>
            <li>
                บริการของเราพัฒนาอย่างต่อเนื่อง ด้วยเหตุนี้ บริการอาจเปลี่ยนแปลงเป็นครั้งคราวตามดุลยพินิจของเรา เราอาจ
                หยุด (ถาวรหรือชั่วคราว) ให้บริการหรือฟีเจอร์ใดๆ ภายในบริการแก่คุณหรือผู้ใช้
                โดยทั่วไป.
                เรายังสงวนสิทธิ์ในการสร้างข้อจำกัดในการใช้งานและการจัดเก็บตามดุลยพินิจของเราแต่เพียงผู้เดียวได้ตลอดเวลา
                เรา
                อาจลบหรือปฏิเสธที่จะแจกจ่ายเนื้อหาใด ๆ ในบริการ จำกัดการแจกจ่ายหรือการมองเห็นเนื้อหาใด ๆ
                เนื้อหาในบริการ ระงับหรือยุติผู้ใช้ และเรียกคืนชื่อผู้ใช้โดยไม่ต้องรับผิดต่อคุณ
            </li>
            <li>
                ในการพิจารณาให้ {{PLATFORM_NAME_TH}} อนุญาตให้คุณเข้าถึงและใช้บริการ คุณยอมรับว่า {{PLATFORM_NAME_TH}}
                อนุญาตให้คุณเข้าถึงและใช้บริการได้
                {{PLATFORM_NAME_TH}} และผู้ให้บริการบุคคลที่สามและพันธมิตรอาจวางโฆษณาบนบริการหรือในการเชื่อมต่อ
                ด้วยการแสดงเนื้อหาหรือข้อมูลจากบริการไม่ว่าจะส่งโดยคุณหรือผู้อื่น คุณเห็นด้วย
                ไม่ใช้บริการของเราในทางที่ผิด เช่น โดยการแทรกแซงหรือเข้าถึงโดยใช้วิธีอื่นที่ไม่ใช่
                อินเทอร์เฟซและคำแนะนำที่เราให้ไว้ คุณไม่สามารถทำสิ่งต่อไปนี้ในขณะที่เข้าถึงหรือใช้งาน
                บริการ: (1) เข้าถึง ยุ่งเกี่ยวกับ หรือใช้พื้นที่ที่ไม่ใช่สาธารณะของบริการ {{PLATFORM_NAME_TH}}
                ระบบหรือระบบการจัดส่งทางเทคนิคของผู้ให้บริการของ {{PLATFORM_NAME_TH}}; (2) ค้นหา สแกน หรือทดสอบ
                ช่องโหว่ของระบบหรือเครือข่ายใด ๆ
                หรือละเมิดหรือหลบเลี่ยงมาตรการรักษาความปลอดภัยหรือการรับรองความถูกต้องใด ๆ (3)
                เข้าถึงหรือค้นหาหรือพยายามเข้าถึงหรือค้นหาบริการด้วยวิธีใดๆ (อัตโนมัติหรืออย่างอื่น) นอกเหนือจาก
                ผ่านทางอินเทอร์เฟซที่เผยแพร่ในปัจจุบันของเราซึ่งจัดทำโดย {{PLATFORM_NAME_TH}} (และเฉพาะตาม
                ตามข้อกำหนดและเงื่อนไขที่ใช้บังคับ) เว้นแต่คุณจะได้รับอนุญาตเป็นการเฉพาะให้ทำเช่นนั้นแยกต่างหากจาก
                ข้อตกลงกับ {{PLATFORM_NAME_TH}} (หมายเหตุ: การรวบรวมข้อมูลบริการจะได้รับอนุญาตหากดำเนินการตาม
                อย่างไรก็ตาม ข้อกำหนดของไฟล์ robots.txt เป็นการคัดลอกบริการโดยไม่ได้รับความยินยอมล่วงหน้าจาก
                {{PLATFORM_NAME_TH}});
                (4) ปลอมแปลงส่วนหัวของแพ็กเก็ต TCP/IP หรือส่วนใดส่วนหนึ่งของข้อมูลส่วนหัวในส่วนใดๆ
                อีเมลหรือการโพสต์ หรือใช้บริการในทางใดทางหนึ่งเพื่อส่งการระบุแหล่งที่มาที่เปลี่ยนแปลง หลอกลวง
                หรือข้อมูลที่เป็นเท็จ
                (5) รบกวนหรือขัดขวาง (หรือพยายามทำเช่นนั้น) การเข้าถึงของผู้ใช้ โฮสต์ หรือเครือข่ายใดๆ
                รวมถึง การส่งไวรัส การโอเวอร์โหลด ฟลัด สแปม อีเมลบอมบ์บริการ หรือ
                โดยสคริปต์การสร้างเนื้อหาในลักษณะที่รบกวนหรือสร้างภาระเกินควรแก่
                บริการ. นอกจากนี้ เรายังสงวนสิทธิ์ในการเข้าถึง อ่าน เก็บรักษา และเปิดเผยข้อมูลใด ๆ ตามสมควร
                เชื่อว่าจำเป็นต้อง (1) ปฏิบัติตามกฎหมาย ข้อบังคับ กระบวนการทางกฎหมาย หรือคำขอของรัฐบาลที่บังคับใช้ใดๆ
                (2)
                บังคับใช้ข้อกำหนด รวมถึงการตรวจสอบการละเมิดที่อาจเกิดขึ้นในที่นี้ (3) ตรวจจับ ป้องกัน หรืออื่น ๆ
                จัดการกับปัญหาการฉ้อโกง ความปลอดภัย หรือทางเทคนิค (4) ตอบสนองต่อคำขอการสนับสนุนผู้ใช้ (5) ปกป้องสิทธิ์
                ทรัพย์สินหรือความปลอดภัยของ {{PLATFORM_NAME_TH}} ผู้ใช้ และสาธารณะ {{PLATFORM_NAME_TH}}ไม่เปิดเผย
                ข้อมูลที่ระบุตัวบุคคลแก่บุคคลที่สาม ยกเว้นตามนโยบายความเป็นส่วนตัวของเรา
            </li>
        </ul>
        <p class="title">
            บัญชีของคุณ
        </p>
        <ul>
            <li>
                คุณอาจต้องสร้างบัญชีและเพจเพื่อใช้บริการบางอย่างของเรา คุณมีหน้าที่รับผิดชอบในการปกป้อง
                บัญชีของคุณ ดังนั้นให้ใช้รหัสผ่านที่รัดกุมและจำกัดการใช้งานเฉพาะบัญชีนี้
                เราไม่สามารถและจะไม่รับผิดชอบต่อ
                ความสูญเสียหรือความเสียหายใด ๆ ที่เกิดจากการที่คุณไม่ปฏิบัติตามข้างต้น
            </li>
            <li>
                คุณสามารถควบคุมการสื่อสารส่วนใหญ่ได้จากบริการ เราอาจต้องให้การสื่อสารบางอย่างแก่คุณ
                เช่นประกาศบริการและข้อความเกี่ยวกับการดูแลระบบ การสื่อสารเหล่านี้ถือเป็นส่วนหนึ่งของ
                บริการและบัญชี/เพจของคุณ และคุณอาจไม่สามารถยกเลิกการรับบริการได้ หากคุณเพิ่มโทรศัพท์ของคุณ
                หมายเลขในบัญชีของคุณ และคุณเปลี่ยนหรือปิดใช้งานหมายเลขโทรศัพท์นั้นในภายหลัง คุณต้องอัปเดตบัญชีของคุณ
                ข้อมูลเพื่อช่วยป้องกันไม่ให้เราติดต่อกับใครก็ตามที่ได้รับหมายเลขเก่าของคุณ
            </li>
        </ul>
        <p class="title">
            ใบอนุญาตของคุณในการใช้บริการ
        </p>
        <ul>
            <li>
                {{PLATFORM_NAME_TH}} มอบสิทธิ์การใช้งานส่วนบุคคล ทั่วโลก ปลอดค่าลิขสิทธิ์ ไม่สามารถมอบหมายได้
                และไม่ผูกขาดแก่คุณ
                ใช้ซอฟต์แวร์ที่จัดหาให้คุณเป็นส่วนหนึ่งของบริการ ใบอนุญาตนี้มีวัตถุประสงค์เพียงอย่างเดียวในการช่วยให้คุณ
                ใช้และได้รับประโยชน์จากบริการที่จัดทำโดย {{PLATFORM_NAME_TH}} ในลักษณะที่อนุญาตโดยสิ่งเหล่านี้
                ตามข้อกำหนด
            </li>
            <li>
                บริการนี้ได้รับการคุ้มครองโดยลิขสิทธิ์ เครื่องหมายการค้า และกฎหมายอื่น ๆ ทั้งในประเทศไทยและต่างประเทศ
                ไม่มีอะไร
                ในข้อกำหนดนี้ให้สิทธิ์แก่คุณในการใช้ชื่อ {{PLATFORM_NAME_TH}} หรือเครื่องหมายการค้าใดๆ ของ
                {{PLATFORM_NAME_TH}}
                โลโก้ ชื่อโดเมน คุณลักษณะของแบรนด์ที่โดดเด่นอื่นๆ และสิทธิ์ในกรรมสิทธิ์อื่นๆ ชื่อเรื่องและ
                ความสนใจในและบริการ (ไม่รวมเนื้อหาที่จัดทำโดยผู้ใช้) เป็นและจะยังคงเป็นทรัพย์สินแต่เพียงผู้เดียว
                ของ{{PLATFORM_NAME_TH}}และผู้อนุญาต คำติชม ข้อคิดเห็น หรือคำแนะนำใด ๆ ที่คุณอาจให้ไว้กับ
                {{PLATFORM_NAME_TH}} หรือบริการเป็นไปด้วยความสมัครใจโดยสิ้นเชิง และเราจะใช้คำติชม ข้อคิดเห็น หรือ
                ข้อเสนอแนะตามที่เราเห็นสมควรและไม่มีข้อผูกมัดใดๆ กับคุณ
            </li>
        </ul>
        <p class="title">
            การสิ้นสุดข้อกำหนดเหล่านี้
        </p>
        <ul>
            <li>
                คุณสามารถยุติข้อตกลงทางกฎหมายกับ {{PLATFORM_NAME_TH}} ได้ตลอดเวลาโดยการปิดใช้งานบัญชีของคุณและ
                การยุติการใช้บริการของคุณ
                ดูนโยบายความเป็นส่วนตัวสำหรับข้อมูลเพิ่มเติมเกี่ยวกับสิ่งที่เกิดขึ้นกับข้อมูลของคุณ
            </li>
            <li>
                เราอาจระงับหรือยุติบัญชี/เพจของคุณ หรือยุติการให้บริการทั้งหมดหรือบางส่วนแก่คุณ ณ ที่ใด ๆ
                ตลอดเวลาไม่ว่าจะด้วยเหตุผลใดก็ตาม รวมถึงแต่ไม่จำกัดเพียง หากเราเชื่ออย่างสมเหตุสมผลว่า: (1)
                คุณได้ละเมิดสิ่งเหล่านี้
                ข้อกำหนดหรือกฎและนโยบายของ {{PLATFORM_NAME_TH}} (2)
                คุณสร้างความเสี่ยงหรือความเสี่ยงทางกฎหมายที่อาจเกิดขึ้นให้กับเรา
                (3) บัญชี/เพจของคุณควรถูกลบเนื่องจากการกระทำที่ผิดกฎหมาย (4) บัญชี/เพจของคุณควรถูกลบเนื่องจาก
                ไม่มีการใช้งานเป็นเวลานาน (5) การให้บริการของเราแก่คุณไม่สามารถใช้งานได้ในเชิงพาณิชย์อีกต่อไป เราจะ
                ใช้ความพยายามตามสมควรเพื่อแจ้งให้คุณทราบโดยใช้ที่อยู่อีเมลหรือหมายเลขโทรศัพท์มือถือที่เชื่อมโยงกับบัญชีของคุณ
                หรือครั้งถัดไปที่คุณพยายามเข้าถึงบัญชีของคุณ ขึ้นอยู่กับสถานการณ์ ในทุกกรณีดังกล่าว
                ข้อกำหนดจะยุติ รวมถึงแต่ไม่จำกัดเพียงใบอนุญาตของคุณในการใช้บริการ ยกเว้นว่า
                ส่วนต่อไปนี้จะใช้บังคับต่อไป: 2, 3, 5 และ 6 หากคุณเชื่อว่าบัญชี/เพจของคุณถูกยกเลิก
                คุณสามารถยื่นอุทธรณ์ได้โดยส่งอีเมลถึงเราที่ office@moveforwardparty.org เพื่อหลีกเลี่ยง
                ข้อสงสัย ข้อกำหนดเหล่านี้จะคงอยู่ต่อไปหากปิดใช้งานหรือยกเลิกบัญชี/เพจของคุณ
            </li>
        </ul>
        <p class="title">
            การปฏิเสธความรับผิดและข้อจำกัดความรับผิด บริการมีให้ "ตามที่เป็น"
        </p>
        <ul>
            <li>
                การเข้าถึงและการใช้บริการหรือเนื้อหาใดๆ ของคุณถือเป็นความเสี่ยงของคุณเอง คุณเข้าใจและตกลงว่า
                บริการจะจัดให้คุณตาม "ตามที่เป็น" และ "ตามที่มี" "หน่วยงานของ{{PLATFORM_NAME_TH}}" หมายถึง
                {{PLATFORM_NAME_TH}} บริษัทแม่ บริษัทในเครือ บริษัทที่เกี่ยวข้อง เจ้าหน้าที่ กรรมการ ลูกจ้าง ตัวแทน
                หุ้นส่วน และผู้อนุญาต โดยไม่จำกัดสิ่งที่กล่าวมาข้างต้น ในขอบเขตสูงสุดที่อนุญาตภายใต้
                กฎหมายที่ใช้บังคับ หน่วยงานของ {{PLATFORM_NAME_TH}} ปฏิเสธการรับประกันและเงื่อนไขทั้งหมด
                ไม่ว่าจะโดยชัดแจ้งหรือ
                โดยนัยของความสามารถในการซื้อขาย ความเหมาะสมสำหรับวัตถุประสงค์เฉพาะ หรือการไม่ละเมิด {{PLATFORM_NAME_TH}}
                หน่วยงานไม่รับประกันหรือเป็นตัวแทนและปฏิเสธความรับผิดชอบและความรับผิดทั้งหมดสำหรับ: (1)
                ความสมบูรณ์ ความถูกต้อง ความพร้อมใช้งาน ทันเวลา ความปลอดภัยหรือความน่าเชื่อถือของบริการหรือเนื้อหาใดๆ
                (2)
                อันตรายใดๆ ต่อระบบคอมพิวเตอร์ของคุณ การสูญหายของข้อมูล หรืออันตรายอื่นๆ
                ที่เกิดจากการที่คุณเข้าถึงหรือใช้
                บริการหรือเนื้อหาใดๆ (3) การลบหรือความล้มเหลวในการจัดเก็บหรือส่งเนื้อหาใดๆ และอื่น ๆ
                การสื่อสารที่ดูแลโดยบริการ และ (4) บริการจะตรงตามความต้องการของคุณหรือไม่
                ใช้งานได้อย่างต่อเนื่อง ปลอดภัย หรือปราศจากข้อผิดพลาด ไม่มีคำแนะนำหรือข้อมูลใด ๆ
                ไม่ว่าจะด้วยวาจาหรือเป็นลายลักษณ์อักษร
                ที่ได้รับจากหน่วยงานของ {{PLATFORM_NAME_TH}} หรือผ่านบริการ จะสร้างการรับประกันใดๆ หรือ
                การเป็นตัวแทนที่ไม่ได้จัดทำขึ้นโดยชัดแจ้งในที่นี้
            </li>
        </ul>
        <p class="title">
            กฏเกณฑ์ของความรับผิด
        </p>
        <ul>
            <li>
                ภายในขอบเขตสูงสุดที่กฎหมายที่เกี่ยวข้องอนุญาตไว้ หน่วยงานของ {{PLATFORM_NAME_TH}} จะไม่รับผิดใดๆ
                ความเสียหายทางอ้อม โดยบังเอิญ ความเสียหายพิเศษ ผลสืบเนื่อง หรือความเสียหายเชิงลงโทษ
                หรือการสูญเสียกำไรหรือรายได้ใดๆ ไม่ว่า
                เกิดขึ้นโดยตรงหรือโดยอ้อม หรือการสูญเสียข้อมูล ค่าความนิยม หรือการสูญเสียที่ไม่มีตัวตนอื่นๆ
                อันเป็นผลมาจาก
                (1) การเข้าถึงหรือการใช้งานหรือการไม่สามารถเข้าถึงหรือใช้บริการของคุณ (2) การกระทำหรือเนื้อหาใด ๆ ของ
                บุคคลที่สามในบริการ รวมถึงแต่ไม่จำกัดเพียง การหมิ่นประมาท ก้าวร้าว หรือผิดกฎหมายอื่นๆ
                ผู้ใช้หรือบุคคลที่สาม (3) เนื้อหาใด ๆ ที่ได้รับจากบริการ (4) การเข้าถึงโดยไม่ได้รับอนุญาต หรือ
                การเปลี่ยนแปลงการส่งหรือเนื้อหาของคุณ ข้อจำกัดของส่วนย่อยนี้จะนำไปใช้กับทฤษฎีใด ๆ ของ
                ความรับผิด ไม่ว่าจะขึ้นอยู่กับการรับประกัน สัญญา กฎหมาย การละเมิด (รวมถึงความประมาทเลินเล่อ) หรืออื่นๆ
                และไม่ว่า
                หรือหน่วยงานของ Move Forward ไม่ได้รับทราบถึงความเป็นไปได้ของความเสียหายดังกล่าว และแม้ว่า
                การแก้ไขที่กำหนดไว้ในที่นี้พบว่าไม่เป็นไปตามวัตถุประสงค์ที่สำคัญ
            </li>
        </ul>
        <p class="title">
            ทั่วไป
        </p>
        <ul>
            <li>
                เราอาจแก้ไขข้อกำหนดเหล่านี้เป็นครั้งคราว การเปลี่ยนแปลงจะไม่มีผลย้อนหลังและเป็นเวอร์ชันล่าสุด
                ของข้อกำหนด ซึ่งจะอยู่ที่ <a href="/tos">today.moveforwardparty.org/tos</a> เสมอ
                จะควบคุมความสัมพันธ์ของเรากับคุณ เราจะ
                พยายามแจ้งให้คุณทราบเกี่ยวกับการแก้ไขเนื้อหา เช่น ผ่านการแจ้งเตือนบริการหรืออีเมล/SMS ไปยัง
                อีเมล/เบอร์มือถือที่เชื่อมโยงกับบัญชีของคุณ โดยการเข้าถึงหรือใช้บริการต่อไปหลังจากนั้น
                การแก้ไขมีผลบังคับใช้ คุณตกลงที่จะผูกพันตามข้อกำหนดที่แก้ไข
            </li>
            <li>
                กฎหมายของประเทศไทย ไม่รวมการเลือกบทบัญญัติของกฎหมาย จะควบคุมข้อกำหนดเหล่านี้และข้อพิพาทใดๆ ที่
                เกิดขึ้นระหว่างคุณกับ{{PLATFORM_NAME_TH}}
                ข้อพิพาททั้งหมดที่เกี่ยวข้องกับข้อกำหนดเหล่านี้หรือบริการจะเป็น
                นำขึ้นศาลในประเทศไทยที่ตั้งอยู่ในประเทศไทยแต่เพียงผู้เดียว
                และคุณยินยอมต่อเขตอำนาจศาลส่วนบุคคลและสละสิทธิ์ใดๆ
                คัดค้านเป็นฟอรั่มที่ไม่สะดวก
            </li>
            <li>
                ในกรณีที่ข้อกำหนดใด ๆ ของข้อกำหนดเหล่านี้ถือเป็นโมฆะหรือไม่สามารถบังคับใช้ได้ ข้อกำหนดนั้นจะ
                จะถูกจำกัดหรือกำจัดออกไปในขอบเขตขั้นต่ำที่จำเป็น และข้อกำหนดที่เหลือของข้อกำหนดเหล่านี้จะ
                ยังคงมีผลบังคับใช้อย่างเต็มที่ ความล้มเหลวของ {{PLATFORM_NAME_TH}} ในการบังคับใช้สิทธิ์หรือข้อกำหนดใดๆ
                ของข้อกำหนดเหล่านี้
                จะไม่ถือว่าเป็นการสละสิทธิ์หรือข้อกำหนดดังกล่าว
            </li>
            <li>
                ข้อกำหนดเหล่านี้เป็นข้อตกลงระหว่างคุณและ {{PLATFORM_NAME_TH}} 22 ซอยเพชรเกษม 47/2 บางแค กรุงเทพมหานคร
                ประเทศไทย 10160 หากคุณมีคำถามใดๆ เกี่ยวกับข้อกำหนดเหล่านี้ โปรดติดต่อเราโดยส่งอีเมลไปที่
                <a href="mailto:office@moveforwardparty.org">office@moveforwardparty.org</a>
            </li>
            <li>
                <b>วันที่มีผล: </b>
                1 สิงหาคม 2564
            </li>
        </ul>
    </div>
</div>