<div class="provision">
    <div class="container">
        <p class="header">เงื่อนไขในการให้บริการของ Move Forward Party</p>
        <ul>
            <li>
                บริการดังกล่าวนี้ ("บริการ") ให้บริการโดย Move Forward Party ( โดยในที่นี้ "Move Forward Party"
                หมายรวมถึง "WE" หรือ "US" ในภาษาอังกฤษ) เงื่อนไขในการให้บริการของ Move Forward Party ("เงื่อนไข")
                ส่งผลต่อการเข้าถึงบริการและการใช้บริการของท่าน สำหรับข้อตกลงในการเข้าร่วมบริการนั้น
                ถือว่าท่านรับทราบว่าเราอาจยกเลิกการให้บริการได้ทุกเมื่อไม่ว่าด้วยเหตุผลใดก็ตาม ทั้งนี้
                เป็นไปตามดุลยพินิจของเราแต่เพียงผู้เดียว โดยไม่ต้องแจ้งให้ท่านทราบล่วงหน้าและไม่ถือเป็นความรับผิดชอบของ
                Move Forward Party แต่อย่างใด
            </li>
        </ul>
        <p class="title">
            ใครสามารถใช้บริการของเราได้บ้าง?
        </p>
        <ul>
            <li>
                ท่านสามารถใช้บริการกับทางเราได้ก็ต่อเมื่อท่านได้ตกลงทำสัญญากับ Move Forward Party
                และท่านต้องไม่ใช่บุคคลที่ถูกห้ามไม่ให้รับบริการภายใต้กฎหมายที่ใช้บังคับและภายใต้เขตอำนาจศาล
                ในการใช้บริการท่านต้องมีอายุอย่างน้อย 18 ปี
                หากท่านยอมรับเงื่อนไขดังกล่าวนี้รวมถึงยอมรับการใช้บริการในนามของบริษัท องค์กร รัฐบาล หรือนิติบุคคลอื่นๆ
                ให้ถือว่าท่านได้รับรองและรับประกันว่า ท่านมีอำนาจที่จะกระทำการใดๆ และมีอำนาจผูกพันในนามของบริษัท องค์กร
                รัฐบาล หรือนิติบุคคล โดยเป็นไปตามเงื่อนไข ในกรณีที่มีคำว่า "ท่าน" และ "ของท่าน"
                ที่ใช้ในข้อกำหนดเหล่านี้ให้ถือเป็นการอ้างถึงบริษัท องค์กร รัฐบาล หรือนิติบุคคล
            </li>
        </ul>
        <p class="title">
            ความเป็นส่วนตัว
        </p>
        <ul>
            <li>
                <a href="/policy">นโยบายความเป็นส่วนตัว</a>
                กล่าวถึงวิธีการที่เราใช้ในการจัดการข้อมูลที่ท่านมอบให้กับเราเมื่อท่านใช้บริการ
                ท่านรับทราบว่าในขณะที่ท่านใช้บริการ ท่านได้ยินยอมให้เราเก็บรวบรวมข้อมูลและใช้ข้อมูลของท่าน
                (ตามที่กำหนดไว้ในนโยบายความเป็นส่วนตัว) โดยข้อมูลของท่านจะถูกนำมาประมวลผลและนำมาใช้โดย Move Forward
                Party และบริษัทในเครือ
            </li>
        </ul>
        <p class="title">
            เนื้อหาเกี่ยวกับบริการ
        </p>
        <ul>
            <li>
                ท่านต้องรับผิดชอบต่อการใช้บริการและเนื้อหาใดๆของท่าน รวมถึงการปฏิบัติตามกฎหมาย กฎระเบียบ
                และข้อบังคับที่เกี่ยวข้อง และท่านต้องเต็มใจแลกเปลี่ยนเนื้อหากับบุคคลอื่น
                การใช้เนื้อหาหรือข้อมูลอื่นๆที่ถูกนำมาโพสต์ผ่านบริการ
                หรือเนื้อหาข้อมูลที่ท่านได้รับผ่านบริการถือเป็นความเสี่ยงของท่านเอง เราจะไม่รับรอง สนับสนุน ดำเนินการแทน
                รับประกันเนื้อหาหรือการสื่อสารใดๆว่า เนื้อหาหรือการสื่อสารที่โพสต์ผ่านบริการ ครบถ้วน เป็นความจริง
                มีความถูกต้อง หรือมีความน่าเชื่อถือ และเราจะไม่รับรองความคิดเห็นใดๆ ที่แสดงผ่านบริการ
                ท่านทราบว่าในการใช้บริการ ท่านอาจพบกับเนื้อหาที่สร้างความไม่พอใจ น่ารังเกียจ เป็นอันตราย ไม่ถูกต้อง
                หรือไม่เหมาะสม หรือในบางกรณีเป็นโพสต์ที่ไม่ตรงปกหรือหลอกลวง
                เนื้อหาทั้งหมดถือเป็นความรับผิดชอบของบุคคลผู้สร้างเนื้อหาดังกล่าวแต่เพียงผู้เดียว
                เราไม่สามารถตรวจสอบหรือควบคุมเนื้อหาที่โพสต์ผ่านบริการ และไม่สามารถรับผิดชอบต่อเนื้อหาดังกล่าวได้
                เราขอสงวนสิทธิ์ในการลบเนื้อหาที่ละเมิดข้อตกลงผู้ใช้
                ซึ่งรวมถึงตัวอย่างการละเมิดลิขสิทธิ์หรือเครื่องหมายการค้า หรือการยักยอกทรัพย์สินทางปัญญา การเลียนแบบ
                การกระทำที่ผิดกฎหมาย หรือการคุกคาม เนื้อหาผู้ใหญ่ เนื้อหาสแปม หรือเนื้อหาที่ผิดกฎหมายใดๆ
                หากท่านพบว่าเนื้อหาของท่านได้ถูกคัดลอกหรือถูกนำไปใช้ในลักษณะที่เป็นการละเมิดลิขสิทธิ์
                ท่านสามารถรายงานโดยสามารถส่งอีเมลมาที่ office@moveforwardparty.org
            </li>
        </ul>
        <p class="title">
            สิทธิ์และการให้สิทธิ์ในเนื้อหาของท่าน
        </p>
        <ul>
            <li>
                ท่านสามารถรักษาสิทธิ์ในเนื้อหาใดๆที่ท่านได้ส่ง โพสต์ เผยแพร่ผ่านบริการ เนื้อหาใดที่เป็นของท่าน
                ท่านจะยังคงเป็นเจ้าของเนื้อหานั้นๆ (รวมถึงเสียง รูปภาพ และวิดีโอที่รวมอยู่ด้วยนั้น
                ถือเป็นส่วนหนึ่งของเนื้อหา)
                ในการส่ง โพสต์ หรือเผยแพร่เนื้อหาผ่านบริการ
                ให้ถือว่าท่านได้ยินยอมให้สิทธิ์แก่เราในการเผยแพร่เนื้อหาทั่วโลก โดยไม่จำกัดแต่เพียงผู้เดียว
                และปลอดค่าลิขสิทธิ์ (พร้อมสิทธิ์ในการอนุญาตให้ใช้สิทธิช่วง) เพื่อนำไปใช้ คัดลอก ทำซ้ำ ประมวลผล ดัดแปลง
                แก้ไข เผยแพร่ ส่งต่อ นำไปแสดงและแจกจ่ายเนื้อหาดังกล่าวในสื่อใดๆ
                หรือช่องทางในการเผยแพร่ที่เป็นที่รู้จักหรือที่ถูกพัฒนาขึ้นภายหลัง (เพื่อความชัดเจนในสิทธิ์ดังกล่าว
                ตัวอย่างเช่น การดูแลจัดการ การดัดแปลง และการแปล)
                ใบอนุญาตนี้เป็นการอนุญาตให้เราเผยแพร่เนื้อหาของท่านไปทั่วโลก และอนุญาตให้ผู้อื่นสามารถทำเช่นเดียวกันได้
                ท่านรับรองว่าใบอนุญาตนี้ได้หมายรวมถึงสิทธิ์ของ Google Apple Twitter หรือ Facebook ที่จะสามารถให้บริการ
                ปรับปรุงบริการ และส่งเสริมบริการ
                รวมถึงจัดสรรเนื้อหาที่ถูกส่งมาหรือเนื้อหาที่ถูกส่งผ่านบริการให้แก่บริษัท องค์กร หรือบุคคลอื่นๆ
                สำหรับการเผยแพร่ ออกอากาศ แจกจ่าย รีทวีต ส่งเสริมการขาย หรือเผยแพร่เนื้อหาดังกล่าวบนสื่อและบริการอื่นๆ
                ภายใต้ข้อกำหนดและเงื่อนไขของเราสำหรับการใช้เนื้อหาดังกล่าว การใช้เนื้อหาเพิ่มเติมดังกล่าวโดย Move
                Forward Party หรือบริษัท องค์กร หรือบุคคลอื่นๆ นั้น
                ทางเราจะไม่มีการจ่ายค่าตอบแทนให้กับท่านในส่วนที่เกี่ยวข้องกับเนื้อหาที่ท่านส่ง โพสต์ ส่งต่อ
                หรือเนื้อหาที่พร้อมใช้งานใดๆก็ตามผ่านทางบริการ
                และตราบใดที่ท่านใช้บริการเท่ากับท่านได้รับทราบถึงการจ่ายค่าตอบแทนสำหรับเนื้อหาและการให้สิทธิ์อีกด้วย
                Move Forward Party มีชุดกฎระเบียบที่พัฒนาขึ้นให้ Ecosystem Partners (พันธมิตรในระบบนิเวศ)
                สามารถโต้ตอบกับเนื้อหาของท่านบนบริการดังกล่าวได้
                กฎระเบียบเหล่านี้มีไว้สำหรับระบบนิเวศแบบเปิดโดยคำนึงถึงสิทธิ์ของท่านเป็นประการแรก
                ท่านรับทราบว่าเราอาจปรับเปลี่ยนหรือดัดแปลงเนื้อหาของท่านเมื่อมีการแจกจ่าย รวบรวม ประกาศ
                หรือเผยแพร่จากเราและพันธมิตรของเรา
                และ/หรือเปลี่ยนแปลงเนื้อหาของท่านเพื่อปรับเปลี่ยนเนื้อหาให้เข้ากับสื่ออื่นๆที่แตกต่างกันไป
                ท่านรับรองและรับประกันว่าท่านมีสิทธิ์หรือได้รับสิทธิ์ ได้รับใบอนุญาต ได้ยินยอม ได้อนุญาต
                มีอำนาจและ/หรือมีสิทธิ์เท่าที่จำเป็นในการให้สิทธิ์ในเนื้อใดๆก็ตามที่ท่านได้ส่งหรือโพสต์หรือเผยแพร่เนื้อหาผ่านบริการ
                ท่านรับทราบว่าเนื้อหาดังกล่าวไม่ได้ประกอบด้วยเนื้อหาอื่นที่ติดลิขสิทธิ์หรือกรรมสิทธิ์อื่น
                เว้นแต่ท่านจะได้รับอนุญาตหรือมีสิทธิ์ตามกฎหมายในการโพสต์เนื้อหาและในการให้สิทธิ์อนุญาตแก่ Move Forward
                Party ตามที่กล่าวไว้ข้างต้น
            </li>
        </ul>
        <p class="title">
            การใช้บริการ
        </p>
        <ul>
            <li>
                โปรดศึกษาทบทวนกฎระเบียบและนโยบายของ Move Forward Party ซึ่งเป็นส่วนหนึ่งในข้อตกลงสำหรับผู้ใช้
                และระบุถึงข้อห้ามต่างๆของการบริการ ท่านสามารถใช้บริการโดยปฏิบัติตามข้อกำหนดและกฎหมาย กฎระเบียบ
                และข้อบังคับที่เกี่ยวข้อง
                เราได้พัฒนาบริการอย่างต่อเนื่อง ด้วยเหตุนี้จึงอาจการเปลี่ยนแปลงบริการตามดุลยพินิจของเรา รวมถึงเราอาจยุติ
                (ถาวรหรือชั่วคราว) การให้บริการหรือรูปแบบในการบริการแก่ท่านหรือผู้ใช้
                เราสงวนสิทธิ์ในการกำหนดข้อจำกัดในการใช้งานและข้อจำกัดในการจัดเก็บเนื้อหาให้เป็นไปตามดุลยพินิจของเราแต่เพียงผู้เดียว
                เราอาจลบเนื้อหาหรือปฏิเสธที่จะเผยแพร่เนื้อหาใดๆในบริการ
                รวมถึงเราจำกัดการเผยแพร่หรือการมองเห็นเนื้อหาในการบริการ เราสามารถระงับหรือยุติการใช้งานของผู้ใช้
                และเรียกคืนชื่อผู้ใช้(usernames) โดยไม่ต้องแสดงความรับผิดใดๆต่อท่าน
                ในการพิจารณาของ Move Forward Party ที่อนุญาตให้ท่านสามารถเข้าถึงบริการและใช้บริการนั้น ท่านรับทราบว่า
                Move Forward Party
                และผู้ให้บริการบุคคลที่สามและพันธมิตรอาจลงโฆษณาบนบริการหรือลงโฆษณาบนเนื้อหาหรือข้อมูลจากบริการที่ท่านหรือบุคคลอื่นโพสต์
                รวมถึงท่านรับทราบว่าจะไม่ใช้บริการของเราในทางที่ผิด เช่น
                การแทรกแซงหรือการเข้าถึงด้วยวิธีอื่นนอกเหนือจากวิธีอินเทอร์เฟซและนอกเหนือจากคำแนะนำที่เรากำหนดไว้
                และท่านไม่สามารถกระทำการต่อไปนี้ในขณะที่ท่านเข้าถึงหรือใช้บริการ กล่าวคือ
                (i) เข้าถึง ข้องแวะ หรือใช้บริการในพื้นที่ที่ไม่ใช่พื้นที่สาธารณะ ระบบคอมพิวเตอร์ของ Move Forward Party
                หรือยุ่งเกี่ยวกับระบบการจัดส่งข้อมูลเชิงเทคนิคของผู้ให้บริการของ Move Forward Party; (ii) ตรวจสอบ สแกน
                หรือทดสอบช่องโหว่ของระบบหรือเครือข่ายใดๆ
                ละเมิดหรือหลีกเลี่ยงมาตรการรักษาความปลอดภัยหรือการตรวจสอบเพื่อรองรับการพิสูจน์ตัวตนใดๆ (iii) เข้าถึง
                สืบค้น หรือพยายามเข้าถึงหรือค้นหาบริการด้วยวิธีการใดๆ (ทั้งวิธีการแบบอัตโนมัติหรือวิธีอื่นๆ)
                นอกเหนือจากวิธีผ่านทางอินเทอร์เฟซที่ใช้อย่างแพร่หลายในปัจจบุันซึ่งจัดทำโดย Move Forward Party
                (และให้เป็นไปตามข้อกำหนดและเงื่อนไขที่บังคับใช้เท่านั้น)
                เว้นแต่ท่านจะได้รับอนุญาตเป็นการเฉพาะให้กระทำการใดๆตามข้อตกลงที่แยกต่างหากกับ Move Forward Party
                (หมายเหตุ: การรวบรวมข้อมูลบริการนั้นสามารถทำได้หากทำตามข้อกำหนดจากไฟล์ robots.txt อย่างไรก็ตาม
                ห้ามทำการรวบรวมข้อมูลบริการหากไม่ได้รับความยินยอมล่วงหน้าจาก Move Forward Party); (iv)
                ปลอมแปลงข้อมูลหลักของTCP/IP packet หรือส่วนหนึ่งส่วนใดของข้อมูลส่วนหลักในอีเมลหรือโพสต์
                หรือใช้บริการเพื่อส่งข้อมูลที่ใช้ระบุแหล่งที่มา โดยข้อมูลดังกล่าวถูกแก้ไข เปลี่ยนแปลง หลอกลวง
                หรือข้อมูลอันเป็นเท็จ หรือ (v) มีการแทรกแซงหรือขัดขวาง (หรือพยายามกระทำการเช่นนั้น)
                เพื่อเข้าถึงผู้ใช้ท่านอื่น หรือพยายามเข้าถึงโฮสต์หรือเครือข่ายอื่นๆ รวมถึงมีการจำกัดการเข้าถึง
                ทำการส่งไวรัส การใช้งานมากไป การโพสต์ข้อความถี่ๆ สแปม
                การก่อกวนผู้รับจดหมายทางอีเมลหรือการเขียนสคริปต์การสร้างเนื้อหาในลักษณะที่รบกวนหรือก่อความวุ่นวายหรือยุ่งยากต่อบริการ
                นอกจากนี้ เรายังสงวนสิทธิ์ในการเข้าถึง อ่าน เก็บรักษา และเปิดเผยข้อมูลใดๆ เพื่อ (i) ปฏิบัติตามกฎหมาย
                ข้อบังคับ กระบวนการทางกฎหมาย หรือคำขอของรัฐบาลที่บังคับใช้ (ii) บังคับใช้ข้อกำหนด
                รวมถึงการตรวจสอบศักยภาพ และการละเมิด (iii) ตรวจจับ ป้องกัน หรือแก้ไขปัญหาการฉ้อโกง ความปลอดภัย
                หรือทางเทคนิค (iv) ตอบสนองต่อคำขอรับการสนับสนุนของผู้ใช้ หรือ (v) ปกป้องสิทธิ์ ทรัพย์สิน
                หรือความปลอดภัยของ Move Forward Party ผู้ใช้ และต่อสาธารณะ ทั้งนี้ทาง Move Forward Party
                จะไม่เปิดเผยข้อมูลที่ระบุตัวบุคคลแก่บุคคลที่สาม เว้นเสียแต่ว่าจะเป็นไปตามนโยบายความเป็นส่วนตัวของเรา
            </li>
        </ul>
        <p class="title">
            บัญชีของท่าน
        </p>
        <ul>
            <li>
                Move Forward Party มอบสิทธิ์ให้ท่านสามารถใช้งานได้ส่วนบุคคล ใช้งานได้ทั่วโลก ปลอดค่าลิขสิทธิ์
                ลิขสิทธิ์แบบไม่ผูกขาด (non-exclusive) โอนให้ผู้อื่นไม่ได้ (non-assignable)
                เพื่อใช้ซอฟต์แวร์ที่เราจัดหาให้ท่านโดยถือเป็นส่วนหนึ่งของบริการ
                ใบอนุญาตนี้มีวัตถุประสงค์เพียงอย่างเดียวเพื่อให้ท่านสามารถใช้และได้รับประโยชน์จากบริการที่จัดทำขึ้นโดย
                Move Forward Party ที่ได้ระบุไว้ในข้อกำหนดหรือเงื่อนไขได้อนุญาตไว้
                บริการนี้ได้รับการคุ้มครองโดยลิขสิทธิ์ เครื่องหมายการค้า และกฎหมายอื่น ๆ ทั้งในประเทศไทยและต่างประเทศ
                ในข้อกำหนดนี้ไม่มีส่วนใดที่ระบุว่าเราให้สิทธิ์ท่านในการใช้ชื่อ Move Forward Party หรือเครื่องหมายการค้า
                โลโก้ ชื่อโดเมน รูปแบบเฉพาะของแบรนด์ และกรรมสิทธิ์อื่นๆ ของ Move Forward Party อีกทั้งสิทธิ์ กรรมสิทธิ์
                และผลประโยชน์ทั้งหมดที่มีต่อบริการ (ไม่รวมเนื้อหาที่ผู้ใช้จัดหาให้)
                ทั้งหมดที่กล่าวมายังคงเป็นทรัพย์สินของ Move Forward Party และผู้ออกใบอนุญาตแต่เพียงผู้เดียว สำหรับคำติชม
                ข้อคิดเห็น หรือคำแนะนำใดๆ ที่ท่านมีต่อ Move Forward Party หรือบริการใดๆ และเราจะใช้คำติชม ข้อคิดเห็น
                หรือข้อเสนอแนะดังกล่าวได้ตามที่เห็นสมควรโดยไม่มีข้อผูกมัดใดๆ กับท่าน
            </li>
        </ul>
        <p class="title">
            การยุติข้อกำหนด
        </p>
        <ul>
            <li>
                ท่านสามารถยุติข้อตกลงทางกฎหมายกับ Move Forward Party
                ได้ทุกเมื่อโดยการปิดใช้งานบัญชีของท่านและยุติการใช้บริการของท่าน
                ให้ท่านดูที่นโยบายความเป็นส่วนตัวสำหรับข้อมูลเพิ่มเติมที่ในการจัดการกับข้อมูลของท่านต่อไป
                เราอาจระงับหรือยุติบัญชี/เพจของท่าน หรือหยุดให้บริการทั้งหมดหรือบางส่วนได้ตลอดเวลาด้วยเหตุผลใดๆก็ตาม
                รวมถึงเหตุผลอันควรที่เราเชื่อว่า: (i) ท่านได้ละเมิดข้อกำหนด หรือ กฎและนโยบายของ Move Forward Party (ii)
                ท่านสร้างความเสี่ยงหรือมีการเปิดโปงทางกฎหมาย; (iii)
                บัญชี/เพจของท่านควรถูกลบออกเนื่องจากพฤติกรรมที่ผิดกฎหมาย (iv)
                บัญชี/เพจของท่านควรถูกลบออกเนื่องจากไม่มีการใช้งานมาเป็นระยะเวลานาน; หรือ (v)
                การให้บริการของเราแก่ท่านไม่สามารถใช้งานได้ในเชิงพาณิชย์อีกต่อไป
                เราจะพยายามติดต่อเพื่อแจ้งให้ท่านทราบทางอีเมลหรือหมายเลขโทรศัพท์มือถือที่เชื่อมโยงกับบัญชีของท่าน
                หรือในครั้งต่อไปที่ท่านพยายามเข้าถึงบัญชีของท่าน ทั้งนี้ขึ้นอยู่กับสถานการณ์
                ในกรณีดังกล่าวทั้งหมดที่กล่าวมาข้างต้นจะถือว่าข้อกำหนดเป็นอันยุติ
                รวมถึงใบอนุญาตของท่านในการใช้บริการถือเป็นการยุติอีกด้วย
                เว้นเสียแต่ว่าในส่วนต่อไปนี้จะยังคงมีผลบังคับใช้ต่อไป คือข้อที่ II, III, V และ VI
                หากท่านเชื่อว่าบัญชี/เพจของท่านถูกระงับด้วยเหตุผิดพลาด ท่านสามารถยื่นอุทธรณ์ได้โดยส่งอีเมลถึงเราได้ที่
                <a href="mailto:office@moveforwardparty.org">office@moveforwardparty.org</a> เพื่อไม่ให้เกิดข้อสงสัย
                ข้อกำหนดเหล่านี้จะยังคงมีผลบังคับใช้ต่อไปหากมีการปิดใช้งานหรือยุติบัญชี/เพจของท่าน
            </li>
        </ul>
        <p class="title">
            การปฏิเสธความรับผิดและข้อจำกัดในความรับผิดชอบของบริการในลักษณะ "ตามที่เป็นอยู่"
        </p>
        <ul>
            <li>
                การเข้าถึงและการใช้บริการหรือเนื้อหาใดๆ ของท่านจะถือเป็นความเสี่ยงของท่านเอง
                ท่านมีความเข้าใจและยินยอมว่าบริการที่เราจัดให้ท่านนี้เป็นไป "ตามที่เป็นอยู่" และ "ตามที่กำหนด"
                และสำหรับ​ "หน่วยงานของ Move Forward Party" จะหมายถึง Move Forward Party บริษัทแม่ บริษัทในเครือ
                บริษัทที่เกี่ยวข้อง เจ้าหน้าที่ ผู้อำนวยการ พนักงาน ตัวแทน ตัวแทน หุ้นส่วน และผู้อนุญาต
                โดยไม่จำกัดต่อสิ่งที่กล่าวมาข้างต้น ตามขอบเขตสูงสุดที่อนุญาตภายใต้กฎหมายที่ใช้บังคับ หน่วยงานของ Move
                Forward Party ปฏิเสธในการรับประกันและเงื่อนไขทั้งหมด ไม่ว่าจะโดยชัดแจ้งหรือความเหมาะสมในเชิงพาณิชย์
                และตามความเหมาะสมเพื่อวัตถุประสงค์เฉพาะอย่างหนึ่งอย่างใด หรือการฝ่าฝืนกฎหมาย โดยหน่วยงาน Move Forward
                Party จะไม่รับประกันหรือไม่รับผิดชอบแทนและปฏิเสธความรับผิดชอบ รวมถึงปฏิเสธความรับผิดทั้งหมดสำหรับ: (i)
                ความสมบูรณ์ ความถูกต้อง ความพร้อมใช้งาน ทันเวลา ความปลอดภัย หรือความน่าเชื่อถือของบริการหรือเนื้อหาใดๆ;
                (ii) อันตรายใดๆที่ส่งผลระบบคอมพิวเตอร์ของท่าน ข้อมูลสูญหาย
                หรืออันตรายอื่นใดอันเป็นผลมาจากการเข้าถึงหรือการใช้บริการหรือเนื้อหาใดๆของท่าน; (iii)
                การลบเนื้อหาหรือการจัดเก็บหรือส่งเนื้อหาเนื้อหาที่ล้มเหลว และการสื่อสารอื่นๆ ที่ดูแลจากการบริการ; และ
                (iv) บริการจะตรงตามความต้องการของท่านหรือพร้อมใช้งานโดยไม่ขาดตอนหรือหยุดชะงัก ปลอดภัย
                หรือปราศจากข้อผิดพลาด ทั้งนี้ ทางเราไม่มีคำแนะนำหรือไม่มีข้อมูลใดๆ
                ไม่ว่าจะทางวาจาหรือเป็นลายลักษณ์อักษรที่ได้รับจากหน่วยงานของ Move Forward Party หรือผ่านบริการใดๆ
                ที่จะเป็นการรับประกันหรือการรับรองที่ไม่ได้ระบุไว้อย่างชัดแจ้งในที่นี้
            </li>
        </ul>
        <p class="title">
            กฏเกณฑ์ของหนี้สิน
        </p>
        <ul>
            <li>
                ภายใต้การอนุญาตของขอบเขตกฎหมายที่ใช้บังคับ หน่วยงานของ Move Forward Party
                จะไม่รับผิดชอบต่อความเสียหายโดยอ้อม ความเสียหายโดยบังเอิญ ความเสียหายเฉพาะ
                ความเสียหายที่เป็นผลสืบเนื่องหรือความเสียหายเชิงลงโทษ หรือการสูญเสียผลกำไรหรือรายได้ใดๆ
                ไม่ว่าจะเกิดขึ้นโดยตรงหรือโดยอ้อม หรือข้อมูลสูญหาย การใช้งาน ค่าความนิยม
                หรือการสูญเสียที่ไม่มีตัวตนอื่นๆ อันเป็นผลมาจาก (i)
                การเข้าถึงหรือการใช้งานของท่านหรือการไม่สามารถเข้าถึงหรือใช้บริการ; (ii) การกระทำหรือเนื้อหาใดๆ
                ของบุคคลที่สามในบริการ รวมถึงการกระทำใดๆ ที่ทำให้เสื่อมเสีย ก้าวร้าว
                หรือผิดกฎหมายของผู้ใช้รายอื่นหรือบุคคลที่สาม; (iii) เนื้อหาใดๆ ที่ได้รับจากบริการ; หรือ (iv)
                การเข้าถึงโดยที่ไม่ได้รับอนุญาต ที่นำไปใช้หรือเปลี่ยนแปลงการส่งเนื้อหาของท่าน
                ข้อจำกัดนี้จะนำไปใช้กับทฤษฎีความรับผิดใดๆ ไม่ว่าจะมีการรับประกัน สัญญา กฎหมาย การละเมิด
                (รวมถึงความประมาทเลินเล่อ) หรืออื่นๆ และไม่ว่าหน่วยงานของ Move Forward Party
                จะได้รับแจ้งถึงความเป็นไปได้ของความเสียหายดังกล่าวหรือไม่ก็ตาม
                และแม้ว่าการเยียวยาที่กำหนดไว้ในที่นี้จะไม่เป็นไปตามวัตถุประสงค์หลักก็ตาม
            </li>
        </ul>
        <p class="title">
            บททั่วไป
        </p>
        <ul>
            <li>
                เราอาจมีการแก้ไขข้อกำหนดเป็นครั้งคราว โดยที่การเปลี่ยนแปลงจะไม่มีผลบังคับย้อนหลัง และข้อกำหนดฉบับล่าสุด
                ซึ่งอยู่ที่ <a href="/tos">today.moveforwardparty.org/tos</a>
                เป็นฉบับที่ใช้ควบคุมระหว่างเรา
                เราจะพยายามแจ้งให้ท่านทราบเกี่ยวกับการแก้ไขเนื้อหา ตัวอย่างเช่น ผ่านการแจ้งเตือนบริการหรืออีเมล
                ไปยังอีเมลที่เชื่อมโยงกับบัญชีของท่าน การเข้าถึงหรือใช้บริการหลังจากที่มีการแก้ไขจะมีผลบังคับใช้ทันที
                ซึ่งหมายถึงท่านได้ยอมรับที่จะผูกพันตามข้อกำหนดที่แก้ไขเป็นที่เรียบร้อย
                กฎหมายของประเทศไทยซึ่งไม่รวมการเลือกใช้กฎหมาย จะเป็นกฎหมายที่ควบคุมข้อกำหนดและข้อพิพาทใดๆ
                ที่เกิดขึ้นระหว่างท่านและ Move Forward Party
                ข้อพิพาททั้งหมดที่เกี่ยวข้องกับข้อกำหนดเหล่านี้หรือเกี่ยวข้องกับบริการจะขึ้นศาลในประเทศไทยที่ตั้งอยู่ในประเทศไทยเท่านั้น
                และท่านยินยอมที่จะอยู่ภายใต้เขตอำนาจศาลส่วนบุคคลและสละสิทธิ์การคัดค้านใดๆ ที่เกี่ยวข้องกับ Inconvenient
                Forum
                ในกรณีที่บทบัญญัติใดๆภายใต้ข้อกำหนดกลายเป็นโมฆะหรือไม่สามารถบังคับใช้ได้
                บทบัญญัตินั้นจะถูกจำกัดหรือตัดออกให้เหลือน้อยที่สุดเท่าที่จำเป็น
                และข้อกำหนดที่เหลือจะยังคงมีผลบังคับใช้อย่างสมบูรณ์ต่อไป ความล้มเหลวของ Move Forward Party
                ในการบังคับใช้สิทธิ์หรือข้อกำหนดใดๆ
                ของข้อกำหนดเหล่านี้จะไม่ถือว่าเป็นการสละสิทธิ์หรือสละข้อกำหนดดังกล่าว
                ข้อกำหนดเหล่านี้เป็นข้อตกลงระหว่างท่านและสำนักงานใหญ่ของ Move Forward Party Head
                โดยสำนักงานใหญ่ตั้งอยู่ที่ 167 ชั้น 4 รามคำแหง 42 หัวหมาก บางกะปิ กรุงเทพฯ 10240 หากท่านมีข้อสงสัยใดๆ
                เกี่ยวกับข้อกำหนดเหล่านี้ โปรดติดต่อเราโดยส่งอีเมลไปที่ <a
                    href="mailto:office@moveforwardparty.org">office@moveforwardparty.org</a>
            </li>
            <li>
                <b>มีผลบังคับใช้: </b>
                23 กุมภาพันธ์ 2023 (version 1.1.0)
            </li>
        </ul>
    </div>
</div>