<div class="createpage-temporary">

  <div class="createpage-temporary-box" *ngIf="!aut">
    <create-page></create-page>
  </div>



  <div class="createpage-temporary-box" *ngIf="aut">
    <div class="box-icon">
      <div class="box-icon-svg">
        <svg class="icon-spanboon" id="Group_227" data-name="Group 227" xmlns="http://www.w3.org/2000/svg" width="100pt"
          height="100pt" viewBox="0 0 59.073 29.556">
          <g id="Group_133" data-name="Group 133" transform="translate(0 0)">
            <g id="Group_132" data-name="Group 132">
              <circle id="Ellipse_83" data-name="Ellipse 83" cx="3.282" cy="3.282" r="3.282"
                transform="translate(52.509 9.86)" fill="white" />
              <circle id="Ellipse_84" data-name="Ellipse 84" cx="3.282" cy="3.282" r="3.282"
                transform="translate(0 9.86)" fill="white" />
              <circle id="Ellipse_85" data-name="Ellipse 85" cx="3.282" cy="3.282" r="3.282"
                transform="translate(26.255)" fill="white" />
              <path id="Path_192" data-name="Path 192"
                d="M1489.264,704.882c-.007-11.48-13.228-20.785-29.536-20.785s-29.53,9.3-29.536,20.785h2.929a3.281,3.281,0,0,1,6.563,0h5.824V694.631a5.47,5.47,0,0,1,10.94,0v10.251H1463V694.631a5.47,5.47,0,1,1,10.939,0v10.251h5.779v-.006a3.282,3.282,0,0,1,6.564,0v.006Z"
                transform="translate(-1430.191 -675.326)" fill="white" />
            </g>
          </g>
        </svg>
        <span> สำหรับทดสอบสร้างเพจของเว็บ Spanboon</span>
      </div>
      <div class="box-from">
        <div class="test-login">
          <span class="box-from-text"> * โปรดติดต่อเจ้าหน้าที่ หรือผู้ดูแลเพื่อขอรหัสเข้าทดสอบ</span>
          <input name="testpassword" id="testpassword" [(ngModel)]="testpassword" type="password" class="input-test"
            placeholder="รหัสทดสอบ">
          <div (click)="login()" class="test-login-bt">
            <span class="span-bt">เข้าทดสอบ</span>
            <mat-icon style="color: white;">arrow_forward</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>