<div class="createpage-temporary">

  <div class="createpage-temporary-box" *ngIf="!aut">
    <create-page></create-page>
  </div>



  <div class="createpage-temporary-box" *ngIf="aut">
    <div class="box-icon">
      <div class="box-icon-svg">
        <img style="width: 50%;"  src="../../../../assets/img/logo/logo.svg" alt="">
        <span> สำหรับทดสอบสร้างเพจของเว็บ {{PLATFORM_NAME_ENG}}</span>
      </div>
      <div class="box-from">
        <div class="test-login">
          <span class="box-from-text"> * โปรดติดต่อเจ้าหน้าที่ หรือผู้ดูแลเพื่อขอรหัสเข้าทดสอบ</span>
          <input name="testpassword" id="testpassword" [(ngModel)]="testpassword" type="password" class="input-test"
            placeholder="รหัสทดสอบ">
          <div (click)="login()" class="test-login-bt">
            <span class="span-bt">เข้าทดสอบ</span>
            <mat-icon style="color: white;">arrow_forward</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>