<div class="div-wrapper">
    <div class="container">
        <div class="col1">
            <div class="col1-col1">
                <div class="col-img">
                    <div class="teg_event"> <svg style="margin-right: 10px;" xmlns="http://www.w3.org/2000/svg"
                            width="23" height="21" viewBox="0 0 23 21">
                            <g id="Group_1312" data-name="Group 1312" transform="translate(-672.701 -415.463)">
                                <path class="svg-icon-color-activate" id="Subtraction_2" data-name="Subtraction 2"
                                    d="M-6438.83,1006.048h-12.47V999.7a6.241,6.241,0,0,1,6.235-6.233,6.241,6.241,0,0,1,6.235,6.233v6.351Zm-5.186-11.363a5.776,5.776,0,0,0-3.925,1.269,5.394,5.394,0,0,0-1.9,4.091.55.55,0,0,0,.583.563.55.55,0,0,0,.583-.563,4.24,4.24,0,0,1,1.561-3.267,4.628,4.628,0,0,1,3.1-.928.55.55,0,0,0,.563-.583A.55.55,0,0,0-6444.015,994.686Z"
                                    transform="translate(7129.611 -573.082)" fill="#747474" stroke="rgba(0,0,0,0)"
                                    stroke-miterlimit="10" stroke-width="1" />
                                <path class="svg-icon-color-activate" id="Rectangle_572" data-name="Rectangle 572"
                                    d="M2,0H17a2,2,0,0,1,2,2V2a0,0,0,0,1,0,0H0A0,0,0,0,1,0,2V2A2,2,0,0,1,2,0Z"
                                    transform="translate(674.701 434.463)" fill="#747474" />
                                <rect class="svg-icon-color-activate" id="Rectangle_573" data-name="Rectangle 573"
                                    width="2" height="3" rx="1" transform="translate(683.701 415.463)" fill="#747474" />
                                <rect class="svg-icon-color-activate" id="Rectangle_574" data-name="Rectangle 574"
                                    width="1.398" height="3.962" rx="0.699"
                                    transform="translate(678.115 416.918) rotate(-30)" fill="#747474" />
                                <rect class="svg-icon-color-activate" id="Rectangle_575" data-name="Rectangle 575"
                                    width="1.398" height="3.962" rx="0.699"
                                    transform="matrix(0.523, -0.852, 0.852, 0.523, 674.045, 421.339)" fill="#747474" />
                                <rect class="svg-icon-color-activate" id="Rectangle_576" data-name="Rectangle 576"
                                    width="1.398" height="3.962" rx="0.699"
                                    transform="matrix(0.506, 0.862, -0.862, 0.506, 694.212, 420.343)" fill="#747474" />
                                <rect class="svg-icon-color-activate" id="Rectangle_577" data-name="Rectangle 577"
                                    width="1.398" height="3.962" rx="0.699"
                                    transform="translate(689.761 416.304) rotate(31.145)" fill="#747474" />
                                <rect class="svg-icon-color-activate" id="Rectangle_578" data-name="Rectangle 578"
                                    width="1" height="3" rx="0.5" transform="translate(672.701 427.463) rotate(-90)"
                                    fill="#747474" />
                                <rect class="svg-icon-color-activate" id="Rectangle_579" data-name="Rectangle 579"
                                    width="1" height="3" rx="0.5" transform="translate(692.701 427.463) rotate(-90)"
                                    fill="#747474" />
                            </g>
                        </svg> เหตุการณ์ด่วน</div>
                    <img class="image"
                        src="https://www.khaosod.co.th/wpapp/uploads/2021/08/%E0%B8%A1%E0%B9%87%E0%B8%AD%E0%B8%9A-4.jpg">
                </div>
                <div class="col-detail">
                    <div class="title">
                        <h3>ทะลุฟ้า 22 สิงหา</h3>
                    </div>
                    <div class="content">
                        <span>วันที่ วันนี้ยื่นหนังสือแค่วันพัก ! พรุ่งนี้เตรียมตัวพบกับ #ม็อบ22สิงหา กีฬาสีไล่ล่าทรราช
                            ศึกฟุตบอลแดงเดือด ประชาชน VS ทรราช เริ่มเดินขบวนพาเหรดที่ สี่แยกคอกวัว
                            ไปที่อนุสาวรีย์ประชาธิปไตย เวลา 15.00 น.เป็นต้นไป</span>
                    </div>
                    <div class="participation">
                        <div class="social_control">
                            <div class="amount_social">
                                <span class="count-aontrol">0</span>
                                <span class="title-control">ความเห็น</span>
                                <span class="drot">•</span>
                                <span class="count-aontrol">0</span>
                                <span class="title-control">บอกต่อ</span>
                                <span class="drot">•</span>
                                <span class="count-aontrol">0</span>
                                <span class="title-control">ถูกใจ</span>
                                <span class="drot">•</span>
                                <span class="count-aontrol">0</span>
                                <span class="title-control">แชร์</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col1-col2">
                <div class="col-colum-detail" *ngFor="let item of [0,1,3];let index = index">
                    <div class="colum-detail-1">
                        <div class="image" *ngIf="index === 0">
                            <img src="https://www.senate.go.th/assets/images/logo-400-200.jpg">
                        </div>
                        <div class="detail">
                            <span class="title">#มอบแรงใจสู่แรงงาน</span>
                            <div class="content">
                                <span class="count-aontrol">0</span>
                                <span class="title-control">ความเห็น</span>
                                <span class="drot">•</span>
                                <span class="count-aontrol">0</span>
                                <span class="title-control">บอกต่อ</span>
                                <span class="drot">•</span>
                                <span class="count-aontrol">0</span>
                                <span class="title-control">ถูกใจ</span>
                                <span class="drot">•</span>
                                <span class="count-aontrol">0</span>
                                <span class="title-control">แชร์</span>
                            </div>
                        </div>
                    </div>
                    <div class="colum-detail-2">
                        <span class="title">9 ครั้ง</span>
                        <span class="content">ล่าสุด 25 ธันวาคม 2599</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="col2-col1">
                <div class="title">
                    <span class="text">โพสค์ใหม่ล่าสุด</span>
                </div>
                <div class="posts">
                    <div class="sub-post">
                        <div class="post-col1">
                            <span>กลุ่มทะลุฟ้า แจ้งนัดหมาย "ม็อบ 29 สิงหา" เข้าร่วมขบวน Car Mob-Call Out เวลา 14.00 น.
                                ถนนเกษตร-นวมินทร์</span>
                            <span class="date">29 สิงหา 2553</span>
                        </div>
                        <div class="post-col2">
                            <span>กลุ่มทะลุฟ้า แจ้งนัดหมาย "ม็อบ 29 สิงหา" เข้าร่วมขบวน Car Mob-Call Out เวลา 14.00 น.
                                ถนนเกษตร-นวมินทร์</span>
                            <span class="date">29 สิงหา 2553</span>
                        </div>
                    </div>
                    <div class="main-post">
                        <div class="top">
                            <div class="status">
                                <div class="status-g"></div>
                                <span>ทั่วไป</span>
                            </div>
                            <div class="date-time">
                                <svg style="margin: 0px 5px 0px 14px;" height="10px" viewBox="0 0 512 512" width="10px"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="m256 512c-141.164062 0-256-114.835938-256-256s114.835938-256 256-256 256 114.835938 256 256-114.835938 256-256 256zm0-480c-123.519531 0-224 100.480469-224 224s100.480469 224 224 224 224-100.480469 224-224-100.480469-224-224-224zm0 0"
                                        class="svg-color-gray" />
                                    <path
                                        d="m368 394.667969c-4.097656 0-8.191406-1.558594-11.308594-4.695313l-112-112c-3.007812-3.007812-4.691406-7.082031-4.691406-11.304687v-149.335938c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v142.699219l107.308594 107.308594c6.25 6.25 6.25 16.382812 0 22.632812-3.117188 3.136719-7.210938 4.695313-11.308594 4.695313zm0 0 "
                                        class="svg-color-gray" />
                                </svg>
                                <span>6 วันที่แล้ว</span>
                            </div>
                        </div>
                        <div class="body">
                            <div class="image-post">
                                <img class="image"
                                    src="https://www.khaosod.co.th/wpapp/uploads/2021/08/%E0%B8%A1%E0%B9%87%E0%B8%AD%E0%B8%9A-4.jpg">
                            </div>
                            <div class="detail">
                                <span>กลุ่มทะลุฟ้า แจ้งนัดหมาย "ม็อบ 29 สิงหา" เข้าร่วมขบวน Car Mob-Call Out เวลา 14.00
                                    น.
                                    ถนนเกษตร-นวมินทร์</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col2-col2">
                <div class="title">
                    <span class="text">โพสค์ใหม่ล่าสุด</span>
                </div>
                <div class="posts">
                    <div class="sub-post">
                        <div class="post-col1">
                            <span>กลุ่มทะลุฟ้า แจ้งนัดหมาย "ม็อบ 29 สิงหา" เข้าร่วมขบวน Car Mob-Call Out เวลา 14.00 น.
                                ถนนเกษตร-นวมินทร์</span>
                            <span class="date">29 สิงหา 2553</span>
                        </div>
                        <div class="post-col2">
                            <span>กลุ่มทะลุฟ้า แจ้งนัดหมาย "ม็อบ 29 สิงหา" เข้าร่วมขบวน Car Mob-Call Out เวลา 14.00 น.
                                ถนนเกษตร-นวมินทร์</span>
                            <span class="date">29 สิงหา 2553</span>
                        </div>
                    </div>
                    <div class="main-post">
                        <div class="top">
                            <div class="status">
                                <div class="status-g"></div>
                                <span>ทั่วไป</span>
                            </div>
                            <div class="date-time">
                                <svg style="margin: 0px 5px 0px 14px;" height="10px" viewBox="0 0 512 512" width="10px"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="m256 512c-141.164062 0-256-114.835938-256-256s114.835938-256 256-256 256 114.835938 256 256-114.835938 256-256 256zm0-480c-123.519531 0-224 100.480469-224 224s100.480469 224 224 224 224-100.480469 224-224-100.480469-224-224-224zm0 0"
                                        class="svg-color-gray" />
                                    <path
                                        d="m368 394.667969c-4.097656 0-8.191406-1.558594-11.308594-4.695313l-112-112c-3.007812-3.007812-4.691406-7.082031-4.691406-11.304687v-149.335938c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v142.699219l107.308594 107.308594c6.25 6.25 6.25 16.382812 0 22.632812-3.117188 3.136719-7.210938 4.695313-11.308594 4.695313zm0 0 "
                                        class="svg-color-gray" />
                                </svg>
                                <span>6 วันที่แล้ว</span>
                            </div>
                        </div>
                        <div class="body">
                            <div class="image-post">
                                <img class="image"
                                    src="https://www.khaosod.co.th/wpapp/uploads/2021/08/%E0%B8%A1%E0%B9%87%E0%B8%AD%E0%B8%9A-4.jpg">
                            </div>
                            <div class="detail">
                                <span>กลุ่มทะลุฟ้า แจ้งนัดหมาย "ม็อบ 29 สิงหา" เข้าร่วมขบวน Car Mob-Call Out เวลา 14.00
                                    น.
                                    ถนนเกษตร-นวมินทร์</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>