<!-- <div class="toolbar">
  <a href="javascript:void(0);" data-command='bold'><i class='fa fa-bold'></i></a>
  <a href="javascript:void(0);" data-command='italic'><i class='fa fa-italic'></i></a>
  <a href="javascript:void(0);" data-command='underline'><i class='fa fa-underline'></i></a>
</div>
<div contenteditable>
</div> -->
<!-- <dialog-fulfill-allocate></dialog-fulfill-allocate> -->
<div class="pure-css-advance">
  <div class="spinners">
    <div class="spinner3">
      <div class="circle one"></div>
      <div class="circle two"></div>
      <div class="circle three"></div>
    </div>
  </div>
</div>