.card-content-vote {
  display: flex;
  flex-direction: column;

  .container-content {
    position: relative;
    flex: 1 1 0%;
    @include pointer();

    > button {
      width: 24px;
      height: 24px;
      position: absolute;
      right: 6px;
      top: 6px;
      background-color: rgba($black, 0.15);

      > .mat-button-wrapper {
        display: flex;

        > mat-icon {
          font-size: 18px;
          color: #f9fafa;
        }
      }
    }

    > .image-content-vote {
      width: 100%;
      height: 130pt;
      aspect-ratio: 16/9;
      object-fit: cover;
      @include font-size-9($font-head-500);

      &.image-null {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: #f8f8f8;
      }
    }

    > .logo-img {
      margin: 10px;
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;

      > .image-owner {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 2px solid white;
        background-color: white;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      > .image-null {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 2px solid $white;
        color: $white;
        background-color: $brandcolor2;
        margin-left: unset;
        @include font-size-10($font-head-500);
      }

      > span {
        @include font-size-10($font-head-500);
        color: white;
        margin-left: 5px;
      }
    }

    > .background {
      width: 100%;
      height: 55px;
      background-image: linear-gradient(transparent, $black);
      opacity: 0.8;
      position: absolute;
      bottom: 3px;
    }
  }

  .owner-post {
    padding: 4px 10px 0 10px;

    > .owner-name {
      @include font-size-9($font-head-500);
      margin-bottom: 30pt;
      color: black;
      cursor: pointer;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      word-break: break-word;
      display: -webkit-box;

      &:hover {
        color: rgba($brandcolor2, 0.95);
      }
    }
  }

  > .bottom-vote {
    bottom: 0;
    position: absolute;
    display: flex;

    > .type-vote {
      display: flex;
      align-items: center;
      margin-left: 13px;

      > .status-g {
        width: 10px;
        height: 10px;
        border-radius: 50px;
        background-color: $status-post-general;
      }

      > .status-n {
        width: 10px;
        height: 10px;
        border-radius: 50px;
        background-color: $status-post-need;
      }

      > span {
        @include font-size-11($font-head-500);
        margin-left: 6px;
      }
    }

    > .vote-time {
      padding: 10px;
      opacity: 0.8;
      color: grey;
      @include font-size-11($font-head-500);
    }
  }
}
