.card-content-vote {
  display: flex;
  flex-direction: column;
  height: 100%;

  &:hover {
    .owner-post {
      > .owner-name {
        color: rgba($brandcolor2, 0.95);
      }
    }
  }

  .container-content {
    position: relative;
    @include pointer();

    > button {
      width: 24px;
      height: 24px;
      position: absolute;
      right: 6px;
      top: 6px;
      background-color: rgba($black, 0.15);

      > .mat-button-wrapper {
        display: flex;

        > mat-icon {
          font-size: 18px;
          color: #f9fafa;
        }
      }
    }

    > .image-content-vote {
      width: 100%;
      height: 130pt;
      aspect-ratio: 16/9;
      object-fit: cover;
      @include font-size-9($font-head-500);

      &.image-null {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: #f8f8f8;
      }
    }

    > .background {
      width: 100%;
      height: 55px;
      background-image: linear-gradient(transparent, $black);
      opacity: 0.8;
      position: absolute;
      bottom: 3px;
    }
  }

  > .logo-img {
    display: flex;
    align-items: center;
    z-index: 1;
    border-bottom: 1px solid rgba($black, 0.08);
    padding: 10px;

    > .image-owner {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid white;
      background-color: white;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 4px rgba($black, 0.25);
    }

    > .image-null {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid $white;
      color: $white;
      background-color: $brandcolor2;
      margin-left: unset;
      box-shadow: 0px 0px 4px rgba($black, 0.25);
      @include font-size-10($font-head-500);
    }

    > .wrapper-owner-vote {
      display: flex;
      flex-direction: column;

      > span {
        @include font-size-10($font-head-500);
        color: $black;
        margin-left: 5px;
      }

      > .vote-time {
        padding: 10px;
        opacity: 0.8;
        color: grey;
        @include font-size-11($font-head-500);
      }
    }
  }

  .owner-post {
    padding: 5px 10px 0 10px;

    > .owner-name {
      @include font-size-9($font-head-500);
      margin-bottom: 10pt;
      color: black;
      cursor: pointer;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      word-break: break-word;
      display: -webkit-box;
    }
  }

  > .bottom-vote {
    display: flex;

    > .type-vote {
      display: flex;
      align-items: center;
      margin-left: 13px;
      position: absolute;
      top: 8px;
      pointer-events: none;

      > .status-g {
        width: 10px;
        height: 10px;
        border-radius: 50px;
        border: 1px solid $white;
        background-color: $status-post-general;
        box-shadow: 0px 0px 4px rgba($black, 0.25);
      }

      > .status-n {
        width: 10px;
        height: 10px;
        border-radius: 50px;
        border: 1px solid $white;
        background-color: $status-post-need;
        box-shadow: 0px 0px 4px rgba($black, 0.25);
      }

      > span {
        @include font-size-11($font-head-500);
        text-shadow: 0px 0px 10px rgba($black, 0.4);
        color: $white;
        margin-left: 6px;
      }
    }
  }
}
