<div class="dialog-preview">
    <div mat-dialog-title class="preview-title">สะพานบุญ</div>
    <mat-dialog-content class="mat-typography">
        <mat-tab-group [disableRipple]="true" animationDuration="0ms">
            <mat-tab label="สะพานบุญ">สะพานบุญ 
            </mat-tab>
            <mat-tab label="เฟสบุ๊ค">เฟสบุ๊ค</mat-tab>
            <mat-tab label="ทวิตเตอร์">ทวิตเตอร์</mat-tab>
        </mat-tab-group>
    </mat-dialog-content>
    <!-- <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
    </mat-dialog-actions> -->

</div>