<div class="dialog-preview">
    <div mat-dialog-title class="preview-title">{{PLATFORM_NAME_TH}}</div>
    <mat-dialog-content class="mat-typography">
        <mat-tab-group [disableRipple]="true" animationDuration="0ms">
            <mat-tab label="PLATFORM_NAME_TH">{{PLATFORM_NAME_TH}}
            </mat-tab>
            <mat-tab label="เฟซบุ๊ค">เฟซบุ๊ค</mat-tab>
            <mat-tab label="ทวิตเตอร์">ทวิตเตอร์</mat-tab>
        </mat-tab-group>
    </mat-dialog-content>
    <!-- <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
    </mat-dialog-actions> -->

</div>