<div class="date-picker">
    <mat-form-field>
        <input matInput [matDatepicker]="dp" placeholder="Choose year" [min]="minDate" [max]="maxDate"
            [formControl]="date" (click)="dp.open()">
        <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event, dp)"
            panelClass="example-month-picker">
        </mat-datepicker>
    </mat-form-field>
    <button mat-raised-button (click)="dp.open()">เลือกปี</button>
</div>


<!-- Copyright 2019 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->