<!-- <pre>{{message | json}}</pre> -->
<div *ngIf="!isShow" (click)="navigatetopage(message)" class="noticard" [ngClass]="{'fullpage': fullPage }">
    <div *ngIf="!fullPage" class="title">
        {{message ? message.title : 'การแจ้งเตือนใหม่'}}
        <div class="close" (click)="close()">
            <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="14px" height="14px">
                <path
                    d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z" />
            </svg>
        </div>
    </div>
    <ng-container *ngIf="message.type !== 'OBJECTIVE'; else elseOjbNotification">
        <div class="body">
            <div class="image">
                <ng-container *ngIf="!!message!.image; else image">
                    <img src="{{message ? message.image : ''}}">
                </ng-container>
                <ng-template #image>
                    <div class="image-err">
                        <span>{{message.body | slice: 0:1 }}</span>
                    </div>
                </ng-template>
                <div [ngClass]="{'status-one': message.status === 'FOLLOW' || 'POST' || 'repost' || 'share' || 'COMMENT' || 'LIKE', 'status-two' : message.status === 'fullfill', 'status-tree' : message.status === 'officerPage' }"
                    class="status">
                    <ng-container *ngIf="message.status === 'FOLLOW'"><img src="../../../../../assets/img/follow.svg"
                            alt=""></ng-container>
                    <ng-container *ngIf="message.status === 'POST'"><img src="../../../../../assets/img/post.svg"
                            alt=""></ng-container>
                    <ng-container *ngIf="message.status === 'repost'"><img src="../../../../../assets/img/repost.svg"
                            alt=""></ng-container>
                    <ng-container *ngIf="message.status === 'share'"><img src="../../../../../assets/img/share.svg"
                            alt=""></ng-container>
                    <ng-container *ngIf="message.status === 'COMMENT'"><img src="../../../../../assets/img/comment.svg"
                            alt=""></ng-container>
                    <ng-container *ngIf="message.status === 'LIKE'"><img src="../../../../../assets/img/like.svg"
                            alt=""></ng-container>
                    <ng-container *ngIf="message.status === 'fullfill'"><img src="../../../../../assets/img/fulfill.svg"
                            alt=""></ng-container>
                </div>
            </div>
            <div class="message" [style.opacity]="message.isRead ? '0.5' : '1'">
                <span [innerHTML]="message.body"></span>
                <span [innerHTML]="message.createdDate | dateFormat"></span>
            </div>
            <div *ngIf="!message.isRead" class="new"></div>
        </div>
    </ng-container>
    <ng-template #elseOjbNotification>
        <div class="body">
            <div class="image">
                <ng-container *ngIf="!!message!.imageUrl; else image">
                    <img [src]="apiBaseURL + message.imageUrl + '/image'">
                </ng-container>
                <ng-template #image>
                    <div class="image-err">
                        <span>{{message.data | slice: 0:1 }}</span>
                    </div>
                </ng-template>
                <div class="status status-one">
                    <img src="../../../../../assets/img/flag-objective.svg" alt="" style="width: 12px;">
                </div>
            </div>
            <!-- <div class="message" [style.opacity]="message.isRead ? '0.5' : '1'"> -->
            <div class="message">
                <span [innerHTML]="message.title"></span>
                <span [innerHTML]="message.createdDate | dateFormat"></span>
                <div class="objective-wrapper" *ngIf="message.approve === false">
                    <div class="button" style="background-color: #fff;border: 1px solid #E5E5E5;">
                        <span class="add-label" style="color: #757575;"
                            (click)="navigatetopage(message,'reject');$event.stopPropagation()">ไม่ยินยอม</span>
                    </div>
                    <div class="button" style="background-color: #EE7623;border: 1px solid #EE7623;">
                        <span class="add-label"
                            (click)="navigatetopage(message,'approve');$event.stopPropagation()">ยินยอม</span>
                    </div>
                </div>
            </div>
            <div *ngIf="!message.isRead" class="new"></div>
        </div>
    </ng-template>
</div>