<mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="model.status === 'support'" (click)="clickEditVote()">
        <mat-icon>edit</mat-icon>
        <span class="vote-remove">แก้ไข</span>
    </button>
    <button mat-menu-item (click)="clickDeleteVote()">
        <mat-icon>delete</mat-icon>
        <span class="vote-remove">ลบโหวต</span>
    </button>
</mat-menu>
<div class="card-content-vote" (click)="clickDialog()">
    <div class="container-content">
        <button *ngIf="userId === model.userId" mat-icon-button [matMenuTriggerFor]="menu"
            (click)="$event.stopPropagation()">
            <mat-icon>more_vert</mat-icon>
        </button>
        <ng-container *ngIf="!!model.coverPageURL; else elseVoteImageNull">
            <img class="image-content-vote" [src]="apiBaseURL + image + '/image'">
        </ng-container>
        <ng-template #elseVoteImageNull>
            <img class="image-content-vote" src="../../../../assets/img/logo/vote-01.jpg">
        </ng-template>
        <div class="background"></div>
    </div>
    <div class="logo-img">
        <ng-container *ngIf="model.user !== undefined; else elsePageImage">
            <ng-container *ngIf="!!model!.user!.imageURL; else elseUserImageNull">
                <img class="image-owner" [src]="apiBaseURL + model.user.imageURL + '/image'" alt="">
            </ng-container>
            <ng-template #elseUserImageNull>
                <span class="image-null">{{model.user.firstName | slice:0:1}}</span>
            </ng-template>
        </ng-container>
        <ng-template #elsePageImage>
            <ng-container *ngIf="!!model!.page!.imageURL; else elsePageImageNull">
                <img class="image-owner" [src]="apiBaseURL + model.page.imageURL + '/image'" alt="">
            </ng-container>
            <ng-template #elsePageImageNull>
                <span class="image-null">{{model.page.name | slice:0:1}}</span>
            </ng-template>
        </ng-template>
        <div class="wrapper-owner-vote">
            <span>{{model.user !== undefined ? model.user.firstName : model.page.name}}</span>
            <ng-container *ngIf="model.status === 'support'">
                <mat-progress-bar mode="determinate" [value]="supportValue">
                </mat-progress-bar>
            </ng-container>
            <div class="wrapper-vote-time">
                <ng-container *ngIf="!model.closed && model.endVoteDay >= 0; else elseClosed">
                    <span class="vote-time"
                        [ngClass]="{'one-day-left': model.endVoteDay === 0,'three-days-left': model.endVoteDay > 1 && model.endVoteDay <= 2}">
                        <span>{{model.status === 'vote' ? 'ปิดโหวตใน' : 'ปิดลงชื่อใน'}} </span>
                        <ng-container *ngIf="model.endVoteDay > 0">
                            <span>{{model.endVoteDay}}</span>
                            <span> วัน </span>
                        </ng-container>
                        <ng-container *ngIf="model.endVoteHour > 0 && model.endVoteDay <= 0">
                            <span>{{model.endVoteHour}}</span>
                            <span> ชั่วโมง</span>
                        </ng-container>
                        <ng-container *ngIf="model.endVoteDay <= 0 && model.endVoteHour <= 0">
                            <span>{{model.endVoteMinute}}</span>
                            <span> นาที</span>
                        </ng-container>
                    </span>
                </ng-container>
                <!-- {{model.endVoteHour <= 0 ? '' : model.endVoteHour + 'ชม.' }} -->
                <ng-template #elseClosed>
                    <span class="vote-time end-vote">ปิดโหวตแล้ว</span>
                </ng-template>
                <div class="vote-count" *ngIf="model.status === 'support'">
                    <span>{{model.countSupport}}</span>
                    <span>/{{model.minSupport}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="owner-post">
        <p class="owner-name">{{title}}</p>
    </div>
    <div class="bottom-vote">
        <div class="type-vote">
            <div class="status-vote"
                [ngClass]="{'public': model.type === 'public' || model.type === 'private','member': model.type === 'member'}">
            </div>
            <span>{{model.type === 'public' ? 'ทั่วไป' : (model.type === 'member' ? 'สมาชิกพรรค' : 'ส่วนตัว')}}</span>
        </div>
    </div>
</div>