.container-bucket {
    >.wrapper-bucket {
        margin-top: 10px;

        .field-data {
            padding: 15px;
            border: 1px solid black;
            border-radius: 10px;
            margin-bottom: 10px;

        }
    }
}