<div class="header-add-noti">
  <span>* สามารถเลือกส่งแจ้งเตือนโหวตได้แค่ {{limit}} โหวตเท่านั้น *</span>
  <div class="wrapper-button-header">
    <span>{{valueVote.length + ' / ' + limit}}</span>
    <button class="btn-top-table" mat-raised-button (click)="addVoteEvent()">ยืนยัน</button>
  </div>
</div>
<div class="dialog-add-noti">
  <div class="container">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
      placeholder="ค้นหาโหวต">
    <ng-container *ngFor="let item of listVote | searchText:searchText;let i = index">
      <div class="wrapper-item">
        <div class="wrapper-left">
          <img [src]="baseURL + item.coverPageURL + '/image'" alt="">
          <ng-container *ngIf="!isWordCountOver(item.title); else elseTemplate">
            <span>{{item.title}}</span>
          </ng-container>
          <ng-template #elseTemplate>
            <span>{{item.title | slice:0:220}}....</span>
          </ng-template>
        </div>
        <div class="wrapper-checkbox">
          <mat-checkbox class="example-margin" [checked]="item.checked ? item.checked : false"
            (change)="onChange($event)" [value]="item"></mat-checkbox>
        </div>
      </div>
    </ng-container>
  </div>
</div>