.dialog-list-facebook {
    display: flex;
    flex-direction: column; 
    overflow: hidden;

    > .dialog-facebook {
        > .facebook-header-top {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: auto;
            height: 20pt;
            background-color: #fd5454;
            border-bottom: whitesmoke 2px solid;
            padding: 10pt;
            // display: flex;
            // align-items: center;
            // flex-direction: inherit;
            // position: relative;
            overflow: hidden;

            > .material-icons {
                color: $white;
            }
        }
    }
    > .mat-dialog-content {
        margin: unset;
        padding: unset;
        padding: 20pt 20pt 0 20pt; 
        span {
            font-family: "Kanit-500";
            font-size: 18px; 
        }
        > .box-social {
            position: relative;
            display: flex; 
            align-items: center;
            justify-content: space-between;
            padding: 10pt 0;

            > .left {
                display: flex;
                align-items: center;
                font-family: "Kanit-500";
                font-size: 16px;
                flex: 1 1 0%;
                margin-right: 10pt;

                > .icon-left {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 5pt;
                    width: 20pt;
                    height: 20pt;
                    margin-right: 7pt;
                    background-color: $koalaGray;

                    &.facebook {
                        background-color: #2851a3;
                    }

                    &.twitter {
                        background-color: #1da1f3;
                    }

                    &.share-page {
                        border-radius: 50%;
                        background-color: $brandcolor2;
                        color: $white;
                        width: 35pt;
                        height: 35pt;
                    }
                    > .icon {
                        height: 20px;
                        width: 20px;
                    }
                    > .display-name {
                    }
                }
            }

            .link-connect {
                font-family: "Kanit-500";
                font-size: 16px;
                color: $koalaGray;

                &:hover {
                    color: rgba($brandcolor2, 0.95);
                    color: $brandcolor2;
                    @include pointer();
                }

                &.active {
                    color: $brandcolor2;
                }

                &.hide {
                    display: none;
                }

                > .preload-spinner {
                    svg {
                        float: right;
                    }
                }
            }
        }
    }
    > .mat-dialog-actions {
        border-top: 0.3px solid $border-color;
        padding: 8px 20px;
        margin-bottom: unset;
        > .mat-button:last-child {
            border: 0.3px solid $brandcolor2;
            color: $white;
            background-color: $brandcolor2;
            > .mat-button-wrapper {
                font-family: "Kanit-500";
                font-size: 16px;
            }
        }
        > .mat-button:first-child {
            border: 0.3px solid $border-color;
            margin-right: 5pt;
            > .mat-button-wrapper {
                font-family: "Kanit-500";
                font-size: 16px;
            }
        }
    }
}
