.dialog-list {
  width: 600px;
  height: 600px;
  background-color: #f0f5f6;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @media (max-width: $medium) {
    width: 100vw;
    height: 100vh;
  }

  > .list-header {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 46pt;
    padding: 0 65px;
    background-color: $white;
    box-shadow: 0px -1px 4px rgba($black, 0.25);

    > span {
      @include font-size-7($font-head-500);
    }

    > button {
      position: absolute;
      right: 16px;
      z-index: 1;
      background-color: $black;
    }
  }

  > .wrapper-list-content {
    flex: 1 1 0%;
    display: flex;
    overflow: hidden;

    > .list-content {
      flex: 1 1 0%;
      overflow-y: auto;
      padding: 25px;
      gap: 10px;
      display: flex;
      flex-direction: column;

      > .list {
        border: 1px solid $white;
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        border-radius: 8px;
        background-color: $white;
        box-shadow: 0px 0px 10px 0px rgba($black, 0.1);

        > .user {
          display: flex;
          align-items: center;
          gap: 15px;

          > img {
            width: 32px;
            height: 32px;
            border: 1px solid $white;
            border-radius: 50%;
          }

          > .none-image {
            width: 40px;
            height: 40px;
            border: 2px solid $white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $brandcolor2;
            color: $white;
            flex: 0 0 auto;
            @include font-size-8($font-head-500);
          }

          > span {
            @include font-size-9($font-head-500);
          }
        }

        > .content {
          display: flex;
          align-items: center;

          > span {
            @include font-size-9($font-head-100);
          }
        }
      }

      @media (max-width: $medium) {
        padding: 10px;
      }
    }
  }
}

.panel-backgroud-list {
  max-width: unset !important;

  > mat-dialog-container {
    border-radius: 24px !important;
    box-shadow: unset;

    @media (max-width: $medium) {
      border-radius: unset !important;
    }
  }
}

.mat-menu-item {
  &.disabled-move {
    opacity: 0.5;
    pointer-events: none;
  }
}
