<div class="home-page">
    <section class="section-1">
        <div class="container">
            <div class="wrapper-1">
                <div class="wrapper-1-left">
                    <div class="wrapper-hastags">
                        <span class="header-hastags">มาแรง : </span>
                        <a class="tag-link" href="">#บางแคกำลัง3</a>
                        <span> | </span>
                        <a class="tag-link" href="">#บางแคกำลัง3</a>
                    </div>
                    <a class="wrapper-box" href="">
                        <div class="wrapper-copper-img">
                            <img class="image-background"
                                src="https://d1evz9svx3lh53.cloudfront.net/6020f8720f755b346c231ba5/6020f8720f755b346c231ba56f4o10n6vm216745444917614oxr8woeara.jpg?AWSAccessKeyId=AKIATCMHTO4YJZYKAD7U&Expires=1675051208&Signature=re4eADiyHqGnVhKgta5wJnIYQ04%3D"
                                alt="">
                            <img class="image"
                                src="https://d1evz9svx3lh53.cloudfront.net/6020f8720f755b346c231ba5/6020f8720f755b346c231ba56f4o10n6vm216745444917614oxr8woeara.jpg?AWSAccessKeyId=AKIATCMHTO4YJZYKAD7U&Expires=1675051208&Signature=re4eADiyHqGnVhKgta5wJnIYQ04%3D"
                                alt="">
                        </div>
                        <div class="detail">
                            <p class="title">
                                #กาก้าวไกล
                            </p>
                            <p class="content">
                                เลือกตั้งใหญ่ 2566 คือเวลาที่คุณต้องตัดสินใจ จะอยู่กับปัญหาเดิมๆ ที่เจอมาชั่วชีวิต
                                หรือเลือกคนและพรรคที่จะสร้างการเปลี่ยนแปลงอย่างถึงราก ครบทุกมิติปัญหา
                                เปลี่ยนประเทศไทยให้ การเมืองดี | ปากท้องดี | มีอนาคต
                                .
                                28 มกราคมนี้ เวลา 13.00 น. เป็นต้นไป ที่อุทยานการเรียนรู้ป๋วย 100 ปี ธรรมศาสตร์ รังสิต
                                .
                                ขอเชิญชวนผู้ต้องการเปลี่ยนแปลงประเทศไทยทุกคน
                                มาร่วมรับฟังพรรคก้าวไกลประกาศเจตนารมณ์ทางการเมืองในการเลือกตั้ง 2566
                                พร้อมฟังชุดนโยบายเรือธง การเมืองดี | ปากท้องดี | มีอนาคต
                                .
                                เลือกสีส้ม เพื่อประเทศไทยที่ไม่เหมือนเดิม
                            </p>
                            <p class="amount-social">
                                <span>0 ความคิดเห็น</span>
                                <span>•</span>
                                <span>0 บอกต่อ</span>
                                <span>•</span>
                                <span>0 ถูกใจ</span>
                                <span>•</span>
                                <span>0 แชร์</span>
                            </p>
                        </div>
                    </a>
                    <div class="wrapper-banner-header">
                        <a class="banner-text-header tag-link" href="">
                            #ก้าวไกล
                        </a>
                        <a class="banner-count-header tag-link" href="">
                            0 ครั้ง
                        </a>
                    </div>
                    <div class="wrapper-banner-header">
                        <a class="banner-text-header tag-link" href="">
                            #สวัสดี2022
                        </a>
                        <a class="banner-count-header tag-link" href="">
                            0 ครั้ง
                        </a>
                    </div>
                </div>
                <div class="wrapper-1-right">
                    <div class="wrapper-hastags">
                        <span class="header-hastags">ใหม่ : </span>
                        <a class="tag-link" href="">#ก้าวไกล</a>
                        <span> | </span>
                        <a class="tag-link" href="">#สวัสดี2022</a>
                    </div>
                    <div class="wrapper-banner-header">
                        <span class="banner-text-header">
                            ข่าวใหม่ล่าสุด
                        </span>
                    </div>
                    <div class="wrapper-news">
                        <div class="wrapper-news-left">

                        </div>
                        <div class="wrapper-news-right">
                            <div class="wrapper-news-post">
                                <div class="wrapper-news-post-img">
                                    <img src="https://today-api.moveforwardparty.org/api/file/63dbc25bb9462453d68346db/image"
                                        alt="">
                                </div>
                                <div class="detail">
                                    <p class="title">
                                        เราสร้างพรรคการเมืองขึ้นมาด้วยความคิดว่า พรรคจะต้องอยู่ได้ด้วยประชาชน
                                        รายได้ส่วนใหญ่ต้องมาจากประชาชน
                                        การทำงานและการตัดสินใจทางการเมืองของเราถึงจะมีอิส...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper-news">
                        <div class="wrapper-news-left">

                        </div>
                        <div class="wrapper-news-right">
                            <div class="wrapper-news-post">
                                <div class="wrapper-news-post-img">
                                    <span>
                                        สลากรางวัลที่ 1 2️⃣9️⃣7️⃣4️⃣1️⃣1️⃣ รู้หรือไม่ ❓
                                        พรรคก้าวไกลมีนโยบายซื้อของผู้ค้ารายเล็กแทนซื้อจากทุนใหญ่ ได้หวยไปลุ้นรวย
                                    </span>
                                </div>
                                <div class="detail">
                                    <p class="title">
                                        เราสร้างพรรคการเมืองขึ้นมาด้วยความคิดว่า พรรคจะต้องอยู่ได้ด้วยประชาชน
                                        รายได้ส่วนใหญ่ต้องมาจากประชาชน
                                        การทำงานและการตัดสินใจทางการเมืองของเราถึงจะมีอิส...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>