<div class="home-page">
    <section class="section-1">
        <div class="container">
            <div class="wrapper-1">
                <div class="wrapper-1-left">
                    <div>
                        <div class="wrapper-hastags">
                            <span class="header-hastags">มาแรง : </span>
                            <a class="tag-link" href="">{{model && model!.emergencyEvents!.contents[3]!.title}}</a>
                            <span> | </span>
                            <a class="tag-link" href="">{{model && model!.emergencyEvents!.contents[4]!.title}}</a>
                        </div>
                        <a class="wrapper-box" href="">
                            <div class="wrapper-copper-img">
                                <img class="image-background"
                                    [src]="apiBaseURL + (model && model.emergencyEvents.contents[0].coverPageUrl) + '/image'"
                                    alt="">
                                <img class="image"
                                    [src]="apiBaseURL + (model && model.emergencyEvents.contents[0].coverPageUrl) + '/image'"
                                    alt="">
                            </div>
                            <div class="detail">
                                <p class="title">
                                    {{model && model.emergencyEvents.contents[0].title}}
                                </p>
                                <p class="content-detail">
                                    {{model && model.emergencyEvents.contents[0].description}}
                                </p>
                                <p class="amount-social">
                                    <span>{{model && model.emergencyEvents.contents[0].commentCount}} ความคิดเห็น</span>
                                    <span>•</span>
                                    <span>{{model && model.emergencyEvents.contents[0].shareCount}} บอกต่อ</span>
                                    <span>•</span>
                                    <span>{{model && model.emergencyEvents.contents[0].likeCount}} ถูกใจ</span>
                                    <span>•</span>
                                    <span>{{model && model.emergencyEvents.contents[0].repostCount}} แชร์</span>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div>
                        <div class="wrapper-banner-header">
                            <a class="banner-text-header tag-link" href="">
                                {{model && model.emergencyEvents.contents[1].title}}
                            </a>
                            <a class="banner-count-header tag-link" href="">
                                {{model && model.emergencyEvents.contents[1].postCount}} ครั้ง
                            </a>
                        </div>
                        <div class="wrapper-banner-header">
                            <a class="banner-text-header tag-link" href="">
                                {{model && model.emergencyEvents.contents[2].title}}
                            </a>
                            <a class="banner-count-header tag-link" href="">
                                {{model && model.emergencyEvents.contents[2].postCount}} ครั้ง
                            </a>
                        </div>
                    </div>
                </div>
                <div class="wrapper-1-right">
                    <div class="wrapper-hastags">
                        <span class="header-hastags">ใหม่ : </span>
                        <a class="tag-link" href="">#ก้าวไกล</a>
                        <span> | </span>
                        <a class="tag-link" href="">#สวัสดี2022</a>
                    </div>
                    <div class="wrapper-banner-header banner-header-bg-gray">
                        <span class="banner-text-header">
                            #{{model && model.postSectionModel.contents[0].post.objectiveTag}}
                        </span>
                    </div>
                    <div class="wrapper-news">
                        <div class="wrapper-news-left">
                            <div class="wrapper-bar md-none-min">
                                <span class="news-post-bar-left">
                                    <span class="post-point">●</span>
                                    <span>ทั่วไป</span>
                                </span>
                                <span class="news-post-bar-right">
                                    <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="m256 512c-141.164062 0-256-114.835938-256-256s114.835938-256 256-256 256 114.835938 256 256-114.835938 256-256 256zm0-480c-123.519531 0-224 100.480469-224 224s100.480469 224 224 224 224-100.480469 224-224-100.480469-224-224-224zm0 0" />
                                        <path
                                            d="m368 394.667969c-4.097656 0-8.191406-1.558594-11.308594-4.695313l-112-112c-3.007812-3.007812-4.691406-7.082031-4.691406-11.304687v-149.335938c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v142.699219l107.308594 107.308594c6.25 6.25 6.25 16.382812 0 22.632812-3.117188 3.136719-7.210938 4.695313-11.308594 4.695313zm0 0 " />
                                    </svg>
                                    <a class="tag-link gray time" href="">31 มกราคม เวลา 14:05 น.</a>
                                </span>
                            </div>
                            <div class="wrapper-news-post flex-content">
                                <div class="wrapper-news-post-img md-none-min">
                                    <img src="https://d1evz9svx3lh53.cloudfront.net/604a2148b8a2d345758ffc91/nrwa1d2umvq167508583868598852stw0as.jpg?AWSAccessKeyId=AKIATCMHTO4YJZYKAD7U&Expires=1675416603&Signature=mTYTDYcamfwX2gvq7WDShmrz0LU%3D"
                                        alt="">
                                </div>
                                <div class="detail">
                                    <p class="title md-none-min">
                                        {{model && model.postSectionModel.contents[0].post.title}}
                                    </p>
                                    <div class="wrapper-title-topic md-none-max">
                                        <p class="title-topic">
                                            {{model && model.postSectionModel.contents[0].post.title}}
                                        </p>
                                        <a class="tag-link gray time" href="">{{model &&
                                            model.postSectionModel.contents[0].post.createdDate |
                                            thformatdatetime}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper-bar md-none-min">
                                <span class="news-post-bar-left">
                                    <span class="post-point">●</span>
                                    <span>ทั่วไป</span>
                                </span>
                                <span class="news-post-bar-right">
                                    <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="m256 512c-141.164062 0-256-114.835938-256-256s114.835938-256 256-256 256 114.835938 256 256-114.835938 256-256 256zm0-480c-123.519531 0-224 100.480469-224 224s100.480469 224 224 224 224-100.480469 224-224-100.480469-224-224-224zm0 0" />
                                        <path
                                            d="m368 394.667969c-4.097656 0-8.191406-1.558594-11.308594-4.695313l-112-112c-3.007812-3.007812-4.691406-7.082031-4.691406-11.304687v-149.335938c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v142.699219l107.308594 107.308594c6.25 6.25 6.25 16.382812 0 22.632812-3.117188 3.136719-7.210938 4.695313-11.308594 4.695313zm0 0 " />
                                    </svg>
                                    <a class="tag-link gray time" href="">31 มกราคม เวลา 14:05 น.</a>
                                </span>
                            </div>
                            <div class="wrapper-news-post flex-content">
                                <div class="wrapper-news-post-img md-none-min">
                                    <img src="https://d1evz9svx3lh53.cloudfront.net/604a2148b8a2d345758ffc91/c69obyaqr681674127065394ptgl5ly24t.jpg?AWSAccessKeyId=AKIATCMHTO4YJZYKAD7U&Expires=1675416624&Signature=UAWEF7fgN%2BYUyzhCJt%2BhOK8V8YA%3D"
                                        alt="">
                                </div>
                                <div class="detail">
                                    <p class="title md-none-min">
                                        {{model && model.postSectionModel.contents[1].post.title}}
                                    </p>
                                    <div class="wrapper-title-topic md-none-max">
                                        <p class="title-topic">
                                            {{model && model.postSectionModel.contents[1].post.title}}
                                        </p>
                                        <a class="tag-link gray time" href="">{{model &&
                                            model.postSectionModel.contents[1].post.createdDate |
                                            thformatdatetime}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper-news-right">
                            <div class="wrapper-bar">
                                <span class="news-post-bar-left">
                                    <span class="post-point">●</span>
                                    <span>ทั่วไป</span>
                                </span>
                                <span class="news-post-bar-right">
                                    <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="m256 512c-141.164062 0-256-114.835938-256-256s114.835938-256 256-256 256 114.835938 256 256-114.835938 256-256 256zm0-480c-123.519531 0-224 100.480469-224 224s100.480469 224 224 224 224-100.480469 224-224-100.480469-224-224-224zm0 0" />
                                        <path
                                            d="m368 394.667969c-4.097656 0-8.191406-1.558594-11.308594-4.695313l-112-112c-3.007812-3.007812-4.691406-7.082031-4.691406-11.304687v-149.335938c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v142.699219l107.308594 107.308594c6.25 6.25 6.25 16.382812 0 22.632812-3.117188 3.136719-7.210938 4.695313-11.308594 4.695313zm0 0 " />
                                    </svg>
                                    <a class="tag-link gray time" href="">{{model &&
                                        model.postSectionModel.contents[2].post.createdDate |
                                        thformatdatetime}}</a>
                                </span>
                            </div>
                            <div class="wrapper-news-post">
                                <div class="wrapper-news-post-img">
                                    <img src="{{apiBaseURL + (model && model.postSectionModel.contents[2].coverPageUrl) + '/image'}}"
                                        alt="">
                                </div>
                                <div class="detail">
                                    <p class="title">
                                        {{model && model.postSectionModel.contents[2].post.title}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper-banner-header banner-header-bg-gray">
                        <span class="banner-text-header">
                            ก้าวไกลวันนี้
                        </span>
                    </div>
                    <div class="wrapper-news">
                        <div class="wrapper-news-left">
                            <div class="wrapper-bar md-none-min">
                                <span class="news-post-bar-left">
                                    <span class="post-point">●</span>
                                    <span>ทั่วไป</span>
                                </span>
                                <span class="news-post-bar-right">
                                    <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="m256 512c-141.164062 0-256-114.835938-256-256s114.835938-256 256-256 256 114.835938 256 256-114.835938 256-256 256zm0-480c-123.519531 0-224 100.480469-224 224s100.480469 224 224 224 224-100.480469 224-224-100.480469-224-224-224zm0 0" />
                                        <path
                                            d="m368 394.667969c-4.097656 0-8.191406-1.558594-11.308594-4.695313l-112-112c-3.007812-3.007812-4.691406-7.082031-4.691406-11.304687v-149.335938c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v142.699219l107.308594 107.308594c6.25 6.25 6.25 16.382812 0 22.632812-3.117188 3.136719-7.210938 4.695313-11.308594 4.695313zm0 0 " />
                                    </svg>
                                    <a class="tag-link gray time" href="">31 มกราคม เวลา 14:05 น.</a>
                                </span>
                            </div>
                            <div class="wrapper-news-post flex-content">
                                <div class="wrapper-news-post-img md-none-min">
                                    <img src="https://d1evz9svx3lh53.cloudfront.net/63b7a4a51a69db32be899f6a/uf7xrfa63oo1675396170299dj1w7lkpir.jpg?AWSAccessKeyId=AKIATCMHTO4YJZYKAD7U&Expires=1675417581&Signature=gqRhOcXlWTYL0Mtn1C8tRj9jyBA%3D"
                                        alt="">
                                </div>
                                <div class="detail">
                                    <p class="title md-none-min">
                                        {{model && model.pageRoundRobin.contents[0].post.title}}
                                    </p>
                                    <div class="wrapper-title-topic md-none-max">
                                        <p class="title-topic">
                                            {{model && model.pageRoundRobin.contents[0].post.title}}
                                        </p>
                                        <a class="tag-link gray time" href="">{{model &&
                                            model.pageRoundRobin.contents[0].post.createdDate |
                                            thformatdatetime}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper-bar md-none-min">
                                <span class="news-post-bar-left">
                                    <span class="post-point">●</span>
                                    <span>ทั่วไป</span>
                                </span>
                                <span class="news-post-bar-right">
                                    <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="m256 512c-141.164062 0-256-114.835938-256-256s114.835938-256 256-256 256 114.835938 256 256-114.835938 256-256 256zm0-480c-123.519531 0-224 100.480469-224 224s100.480469 224 224 224 224-100.480469 224-224-100.480469-224-224-224zm0 0" />
                                        <path
                                            d="m368 394.667969c-4.097656 0-8.191406-1.558594-11.308594-4.695313l-112-112c-3.007812-3.007812-4.691406-7.082031-4.691406-11.304687v-149.335938c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v142.699219l107.308594 107.308594c6.25 6.25 6.25 16.382812 0 22.632812-3.117188 3.136719-7.210938 4.695313-11.308594 4.695313zm0 0 " />
                                    </svg>
                                    <a class="tag-link gray time" href="">31 มกราคม เวลา 14:05 น.</a>
                                </span>
                            </div>
                            <div class="wrapper-news-post flex-content">
                                <div class="wrapper-news-post-img md-none-min">
                                    <img src="https://d1evz9svx3lh53.cloudfront.net/63b7a4a51a69db32be899f6a/4w2nikht0ec1674903312348eg9mkb6zan5.jpg?AWSAccessKeyId=AKIATCMHTO4YJZYKAD7U&Expires=1675417974&Signature=6obqqD91j98MP19uRWRySwpj3Bk%3D"
                                        alt="">
                                </div>
                                <div class="detail">
                                    <p class="title md-none-min">
                                        {{model && model.pageRoundRobin.contents[1].post.title}}
                                    </p>
                                    <div class="wrapper-title-topic md-none-max">
                                        <p class="title-topic">
                                            {{model && model.pageRoundRobin.contents[1].post.title}}
                                        </p>
                                        <a class="tag-link gray time" href="">{{model &&
                                            model.pageRoundRobin.contents[1].post.createdDate |
                                            thformatdatetime}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper-news-right">
                            <div class="wrapper-bar">
                                <span class="news-post-bar-left">
                                    <span class="post-point">●</span>
                                    <span>ทั่วไป</span>
                                </span>
                                <span class="news-post-bar-right">
                                    <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="m256 512c-141.164062 0-256-114.835938-256-256s114.835938-256 256-256 256 114.835938 256 256-114.835938 256-256 256zm0-480c-123.519531 0-224 100.480469-224 224s100.480469 224 224 224 224-100.480469 224-224-100.480469-224-224-224zm0 0" />
                                        <path
                                            d="m368 394.667969c-4.097656 0-8.191406-1.558594-11.308594-4.695313l-112-112c-3.007812-3.007812-4.691406-7.082031-4.691406-11.304687v-149.335938c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v142.699219l107.308594 107.308594c6.25 6.25 6.25 16.382812 0 22.632812-3.117188 3.136719-7.210938 4.695313-11.308594 4.695313zm0 0 " />
                                    </svg>
                                    <a class="tag-link gray time" href="">{{model &&
                                        model.pageRoundRobin.contents[2].post.createdDate |
                                        thformatdatetime}}</a>
                                </span>
                            </div>
                            <div class="wrapper-news-post">
                                <div class="wrapper-news-post-img">
                                    <img src="{{apiBaseURL + (model && model.pageRoundRobin.contents[2].coverPageUrl) + '/image'}}"
                                        alt="">
                                </div>
                                <div class="detail">
                                    <p class="title">
                                        {{model && model.pageRoundRobin.contents[2].post.title}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container_other">
            <div class="section">
                <div class="title">
                    <div class="text">
                        <span>เกาะกระแส</span>
                    </div>
                    <div class="line"></div>
                </div>
                <div class="cards">
                    <div class="card-me-type">
                        <div class="card"
                            *ngFor="let item of model && model.majorTrend.contents | slice:0:4 ;let index = index">
                            <div class="top">
                                <div class="status">
                                    <div class="status-g"></div>
                                    <span>ทั่วไป</span>
                                </div>
                                <div class="date-time">
                                    <svg style="margin: 0px 5px 0px 14px;" height="10px" viewBox="0 0 512 512"
                                        width="10px" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="m256 512c-141.164062 0-256-114.835938-256-256s114.835938-256 256-256 256 114.835938 256 256-114.835938 256-256 256zm0-480c-123.519531 0-224 100.480469-224 224s100.480469 224 224 224 224-100.480469 224-224-100.480469-224-224-224zm0 0"
                                            class="svg-color-gray" />
                                        <path
                                            d="m368 394.667969c-4.097656 0-8.191406-1.558594-11.308594-4.695313l-112-112c-3.007812-3.007812-4.691406-7.082031-4.691406-11.304687v-149.335938c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v142.699219l107.308594 107.308594c6.25 6.25 6.25 16.382812 0 22.632812-3.117188 3.136719-7.210938 4.695313-11.308594 4.695313zm0 0 "
                                            class="svg-color-gray" />
                                    </svg>
                                    <span class="date-post">{{item.post.createdDate |
                                        thformatdatetime}}</span>
                                </div>
                            </div>
                            <img src="{{apiBaseURL + item.coverPageUrl + '/image'}}">
                            <div class="text">
                                <div class="col-text">
                                    <span>{{item.post.title}}</span>
                                </div>
                                <div class="bottom">
                                    <div class="owner-offical">

                                    </div>
                                    <span class="owner">{{item.owner.name}}</span>
                                </div>
                                <div class="count">
                                    <span class="count-aontrol">{{item.post.commentCount}}</span>
                                    <span class="title-control">ความเห็น</span>
                                    <span class="drot">•</span>
                                    <span class="count-aontrol">{{item.post.repostCount}}</span>
                                    <span class="title-control">บอกต่อ</span>
                                    <span class="drot">•</span>
                                    <span class="count-aontrol">{{item.post.likeCount}}</span>
                                    <span class="title-control">ถูกใจ</span>
                                    <span class="drot">•</span>
                                    <span class="count-aontrol">{{item.post.shareCount}}</span>
                                    <span class="title-control">แชร์</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>