<div class="home-page">
    <section class="section-1">
        <div class="container">
            <div class="grid">
                <ng-container *ngFor="let item of [1,2,3,4,5]; let i=index">
                    <div class="grid-item">
                        <img src="https://d1evz9svx3lh53.cloudfront.net/6020f8720f755b346c231ba5/6020f8720f755b346c231ba56f4o10n6vm216745444917614oxr8woeara.jpg?AWSAccessKeyId=AKIATCMHTO4YJZYKAD7U&Expires=1675051208&Signature=re4eADiyHqGnVhKgta5wJnIYQ04%3D"
                            alt="">
                    </div>
                </ng-container>
            </div>
        </div>
    </section>
</div>