<div class="privacy-policy">
    <div class="container">
        <div class="body-privacy-policy">
            <div class="topic">
                นโยบายความเป็นส่วนตัวของ
            </div>
            <div class="detail-policy">
                <div class="policy">1. บทนำนโยบายความเป็นส่วนตัว</div>
                <div class="policy">1.1 ที่ {{PLATFORM_NAME_TH}} เราดูแลความเป็นส่วนตัวของท่านอย่างจริงจัง
                    เราให้คำมั่นว่าจะปฏิบัติตามกฎหมายคุ้มครองข้อมูลส่วนบุคคลที่มีผลบังคับใช้กับทางบริษัททั้งหมด </div>
                <div class="policy">1.2 ในระหว่างการให้บริการแก่ท่านหรือการเข้าถึงแพลตฟอร์ม
                    (ตามที่ได้ให้นิยามไว้ในเงื่อนไขในการใช้บริการ)
                    เราจะเก็บรวบรวม ใช้ เปิดเผย เก็บรักษา และ/หรือประมวลผลข้อมูล โดยรวมถึงข้อมูลส่วนบุคคลของท่าน</div>
                <div class="policy">1.3
                    นโยบายความเป็นส่วนตัวฉบับนี้มีขึ้นเพื่อให้ท่านทราบเกี่ยวกับวิธีการที่เราเก็บรวบรวม ใช้ เปิดเผย
                    เก็บรักษาและ/หรือประมวลผลข้อมูลที่เราเก็บรวบรวมและได้รับระหว่างการให้บริการหรือการเข้าถึงแพลตฟอร์มของท่าน
                    ผู้ซึ่งเป็นลูกค้าของเรา เราจะเก็บรวบรวม ใช้ เปิดเผย
                    เก็บรักษาและ/หรือประมวลผลข้อมูลส่วนบุคคลของท่านตามนโยบายความเป็นส่วนตัวนี้เท่านั้น</div>
                <div class="policy">1.4
                    ท่านจำเป็นจะต้องอ่านนโยบายความเป็นส่วนตัวนี้รวมถึงประกาศแจ้งอื่นใดที่เราอาจมีขึ้นเฉพาะกาล
                    ขณะที่เราทำการเก็บรวบรวม ใช้ เปิดเผยและ/หรือประมวลผลข้อมูลส่วนบุคคลเกี่ยวกับท่าน
                    เพื่อให้ท่านได้รับรู้ว่าเราใช้ข้อมูลส่วนบุคคลของท่านอย่างไรและเพื่ออะไร</div>

                <div class="policy">1.5 เมื่อคลิกหรือเลือกปุ่ม “สมัคร”
                    “ข้าพเจ้าตกลงยอมรับนโยบายความเป็นส่วนตัวของ{{PLATFORM_NAME_TH}}”
                    “ข้าพเจ้าตกลงและยินยอมให้เก็บรวบรวม ใช้ เปิดเผย
                    เก็บรักษาและ/หรือประมวลผลซึ่งข้อมูลส่วนบุคคลของข้าพเจ้าเพื่อวัตถุประสงค์ที่ระบุไว้ในนี้และภายใต้ข้อกำหนดของนโยบายความเป็นส่วนตัวของ{{PLATFORM_NAME_TH}}”
                    หรือข้อความคล้ายคลึงกันที่มีอยู่ในหน้าลงทะเบียนของ{{PLATFORM_NAME_TH}}
                    ท่านรับทราบว่าท่านได้รับแจ้งและเข้าใจนโยบายความเป็นส่วนตัวฉบับนี้และท่านยังได้ตกลงและยินยอมให้เก็บรวบรวม
                    ใช้ เปิดเผย และ/หรือประมวลผลข้อมูลส่วนบุคคลของท่านตามที่ได้อธิบายและอยู่ภายใต้ข้อกำหนดนี้</div>

                <div class="policy">
                    1.6 เราอาจแก้ไขนโยบายความเป็นส่วนตัวนี้ให้ทันสมัยเป็นครั้งคราว โดยการเปลี่ยนแปลงใด ๆ
                    ในนโยบายความเป็นส่วนตัวฉบับนี้ในอนาคตจะถูกประกาศให้ทราบไว้ในเพจนี้และ
                    เราจะแจ้งให้ท่านทราบหากเป็นการเปลี่ยนแปลงอย่างมีนัยยะสำคัญ (ตามความเหมาะสม
                    และ/หรือได้รับอนุญาตภายใต้กฎหมายท้องถิ่น) และเมื่อท่านยังคงใช้บริการ เข้าถึงแพลตฟอร์มหรือใช้บริการใด
                    ๆ
                    รวมถึงทำคำสั่งซื้อบนแพลตฟอร์มต่อไปหลังจากนั้น
                    ให้ถือว่าท่านได้รับทราบและยอมรับการเปลี่ยนแปลงนโยบายความเป็นส่วนตัวฉบับนี้โดยเราแล้ว
                    กรุณาตรวจสอบนโยบายความเป็นส่วนตัวเป็นประจำเพื่อให้ทราบถึงการปรับเปลี่ยนให้ทันสมัยหรือการแก้ไขใด ๆ
                    กับนโยบายความเป็นส่วนตัวนี้
                </div>
                <div class="policy">
                    1.7 นโยบายความเป็นส่วนตัวฉบับนี้มีผลบังคับใช้ร่วมกับประกาศ ข้อความสัญญาและข้อความความยินยอมอื่น ๆ
                    ที่เกี่ยวข้องกับการการเก็บรวบรวม เก็บรักษา
                    ใช้และ/หรือการประมวลผลข้อมูลส่วนบุคคลโดยเราและไม่มีจุดประสงค์ในการแทนที่ประกาศ
                    ข้อความสัญญาและข้อความยินยอมดังกล่าวเว้นแต่ว่าเราระบุไว้เป็นอย่างอื่นโดยชัดแจ้ง
                </div>
                <div class="policy">
                    1.8 ท่านสามารถเข้าใช้แพลตฟอร์มและสำรวจแพลตฟอร์มได้โดยไม่ต้องให้ข้อมูลส่วนบุคคล
                    อย่างไรก็ตามท่านจำเป็นต้องลงทะเบียนบัญชีผู้ใช้หากท่านต้องการใช้บริการ
                </div>
                <div class="policy" style="padding-top: 10px;">2. ข้อมูลส่วนบุคคลที่เราเก็บรวบรวมจากท่าน</div>
                <div class="policy">2.1 ข้อมูลส่วนบุคคลหมายถึง ข้อมูลใด ๆ ไม่ว่าจะถูกบันทึกในรูปแบบเอกสารหรือไม่
                    ซึ่งมีการแสดงข้อมูลระบุตัวตน หรือทำให้ผู้ที่ถือข้อมูลนั้นสามารถยืนยันตัวบุคคลได้โดยตรง
                    หรืออย่างสมเหตุสมผล หรือเมื่อนำไปรวมกับข้อมูลอื่น ๆ
                    จะทำให้สามารถระบุตัวตนของบุคคลได้อย่างแน่นอนไม่ว่าทางตรงหรือทางอ้อม</div>
                <div class="policy">2.2 ระหว่างระยะเวลาที่ท่านใช้แพลตฟอร์มและใช้บริการจากเรา
                    เราอาจเก็บรวบรวมข้อมูลส่วนบุคคลจากท่านซึ่งรวมถึงแต่ไม่จำกัดเพียง</div>
                <div class="policy">(ก) ข้อมูลระบุตัวตน เช่น ชื่อ เพศ รูปโปรไฟล์ และวันเกิดของท่าน</div>
                <div class="policy">(ข) ข้อมูลทางเทคนิค เช่น ที่อยู่ไอพี (IP address) ข้อมูลการเข้าใช้
                    ชนิดและรุ่นของบราวเซอร์ การตั้งเขตเวลาและสถานที่ ชนิดและรุ่นของโปรแกรมเสริมของบราวเซอร์
                    ระบบปฏิบัติการและแพลตฟอร์ม รหัสสากลประจำอุปกรณ์เคลื่อนที่ (IMEI) หมายเลขประจำเครื่อง
                    และข้อมูลและเทคโนโลยีอื่นของอุปกรณ์ที่ท่านใช้ในการเข้าถึงแพลตฟอร์ม </div>
                <div class="policy">2.3 ระหว่างระยะเวลาที่ท่านใช้แพลตฟอร์มและใช้บริการจากเรา
                    เราอาจได้รับข้อมูลส่วนบุคคลจากท่านในสถานการณ์ดังต่อไปนี้</div>
                <div class="policy">(ก) เมื่อท่านได้สร้างบัญชีผู้ใช้กับเรา</div>
                <div class="policy">(ข) เมื่อท่านใช้งานฟังก์ชั่นการพูดคุย (แชท) บนแพลตฟอร์ม </div>
                <div class="policy">(ค)
                    เมื่อท่านได้เข้าสู่ระบบจากบัญชีผู้ใช้ของท่านบนแพลตฟอร์มหรือสื่อสารกับเราผ่านบริการหรือแอปพลิเคชันภายนอก
                    เช่น เฟซบุ๊กหรือกูเกิ้ล </div>
                <div class="policy">(ง) เมื่อผู้ใช้อื่นในแพลตฟอร์มได้แสดงความคิดเห็นใด ๆ
                    บนเนื้อหาของท่านที่อัพโหลดอยู่บนแพลตฟอร์มหรือเมื่อท่านได้แสดงความคิดเห็นใดๆ
                    บนเนื้อหาของผู้ใช้อื่นที่อัพโหลดอยู่บนแพลตฟอร์ม</div>
                <div class="policy">(จ)
                    เมื่อบุคคลภายนอกได้ยื่นคำร้องเรียนเกี่ยวกับท่านหรือเนื้อหาที่ท่านได้แสดงไว้บนแพลตฟอร์ม</div>
                <div class="policy">
                    2.4 ระหว่างระยะเวลาที่ท่านใช้แพลตฟอร์มและและใช้บริการ
                    ท่านได้ให้ความยินยอมอย่างชัดแจ้งในการโอนข้อมูลส่วนบุคคลของท่านจากบุคคลภายนอกมายัง{{PLATFORM_NAME_TH}}เพื่อวัตถุประสงค์ที่ระบุไว้ในนโยบายความเป็นส่วนตัวฉบับนี้หรือข้อกำหนดอื่นใด
                </div>
                <div class="policy">
                    2.5 ท่านต้องส่งข้อมูลส่วนบุคคลซึ่งถูกต้องและไม่ก่อให้เกิดความเข้าใจผิดเท่านั้น
                    และท่านต้องหมั่นทำให้ข้อมูลดังกล่าวเป็นปัจจุบันและแจ้งให้เราทราบหากมีการเปลี่ยนแปลงข้อมูลส่วนบุคคลใด
                    ๆ ที่ท่านได้ให้ไว้กับเรา
                    เรามีสิทธิที่จะร้องขอเอกสารยืนยันความถูกต้องของข้อมูลส่วนบุคคลที่ท่านได้เคยให้ไว้
                    เพื่อเป็นส่วนหนึ่งในขั้นตอนการตรวจสอบลูกค้าของเรา
                </div>
                <div class="policy">
                    2.6
                    เราสามารถเก็บรวบรวมข้อมูลส่วนบุคคลของท่านได้ต่อเมี่อท่านสมัครใจที่จะส่งข้อมูลส่วนบุคคลให้กับเราหรือตามที่ระบุไว้เป็นอย่างอื่นภายใต้นโยบายความเป็นส่วนตัวนี้เท่านั้น
                    อย่างไรก็ตามหากท่านเลือกที่จะไม่ให้ข้อมูลส่วนบุคคลของท่านแก่เราหรือท่านได้ถอนความยินยอมของท่านในการให้เราใช้ข้อมูลส่วนบุคคลของท่านในภายหลัง
                    เราอาจจะไม่สามารถให้บริการแก่ท่านหรืออนุญาตให้ท่านเข้าถึงแพลตฟอร์มต่อไปได้
                </div>
                <div class="policy">
                    2.7
                    ท่านสามารถเข้าถึงและแก้ไขข้อมูลที่ท่านเคยส่งให้เราให้เป็นปัจจุบันได้ไม่ว่าในเวลาใดตามที่ระบุไว้ด้านล่าง
                </div>
                <div class="policy">
                    2.8 หากท่านให้ข้อมูลส่วนบุคคลของบุคคลภายนอกใดแก่เรา ท่านรับรองและรับประกันว่าท่านได้รับความยินยอม
                    หนังสืออนุญาต และการอนุญาตตามที่จำเป็นจากบุคคลภายนอกดังกล่าวให้นำมาเปิดเผย
                    และโอนข้อมูลส่วนบุคคลของเขาหรือเธอให้แก่เรา และให้เราเก็บรวบรวม เก็บรักษา
                    ใช้และเปิดเผยข้อมูลดังกล่าวตามนโยบายความเป็นส่วนตัวฉบับนี้
                </div>
                <div class="policy">
                    2.8 หากท่านให้ข้อมูลส่วนบุคคลของบุคคลภายนอกใดแก่เรา ท่านรับรองและรับประกันว่าท่านได้รับความยินยอม
                    หนังสืออนุญาต และการอนุญาตตามที่จำเป็นจากบุคคลภายนอกดังกล่าวให้นำมาเปิดเผย
                    และโอนข้อมูลส่วนบุคคลของเขาหรือเธอให้แก่เรา และให้เราเก็บรวบรวม เก็บรักษา
                    ใช้และเปิดเผยข้อมูลดังกล่าวตามนโยบายความเป็นส่วนตัวฉบับนี้
                </div>
                <div class="policy">
                    2.9 หากท่านสมัครเป็นผู้ใช้แพลตฟอร์มของเราโดยใช้บัญชีเครือข่ายสังคมใดของท่าน
                    หรือเชื่อมต่อบัญชี{{PLATFORM_NAME_TH}}ของท่านกับบัญชีเครือข่ายสังคมของท่านหรือใช้ฟีเจอร์อื่นของเครือข่ายสังคม{{PLATFORM_NAME_TH}}
                    เราจะสามารถเข้าถึงข้อมูลส่วนบุคคลเกี่ยวกับท่านซึ่งท่านได้สมัครใจให้ไว้แก่ผู้ให้บริการเครือข่ายสังคมตามนโยบายของผู้ให้บริการดังกล่าวและเราจะจัดการข้อมูลส่วนบุคคลของท่านตามนโยบายความเป็นส่วนตัวฉบับนี้
                </div>
                <div class="policy" style="padding-top: 10px;">
                    3. การใช้และเปิดเผยข้อมูลส่วนบุคคล
                </div>
                <div class="policy">
                    3.1 เพื่ออำนวยความสะดวกในการใข้บริการหรือการเข้าถึงแพลตฟอร์มของท่าน
                </div>
                <div class="policy">
                    3.2 เพื่อปรับปรุงรูปแบบหรือเนื้อหาของเพจของแพลตฟอร์มและปรับแต่งเพจนั้นให้เหมาะกับผู้ใช้
                </div>
                <div class="policy">
                    3.3 เพื่อระบุตัวตนผู้เยี่ยมชมบนแพลตฟอร์ม
                </div>
                <div class="policy">
                    3.4 เพื่อแสดงชื่อ ชื่อผู้ใช้ หรือโปรไฟล์ของท่านบนแพลตฟอร์ม
                </div>
                <div class="policy">
                    3.5 เพื่อความชัดเจน ท่านรับทราบและยินยอมให้{{PLATFORM_NAME_TH}}แบ่งปันข้อมูลนิรนาม
                    รวมถึงแต่ไม่จำกัดเพียงในสถานการณ์ดังต่อไปนี้
                </div>
                <div class="policy">
                    (ก) ข้อมูลผลรวม
                    โดยเราอาจทำโครงการวิเคราะห์ข้อมูลรวมกับผู้ให้บริการบุคคลภายนอกที่ได้คัดเลือกมาโดยใช้ข้อมูลที่ไม่สามารถระบุตัวบุคคลที่เป็นเจ้าของข้อมูลได้
                    เพื่อประเมินความสนใจของผู้ใช้และเพื่อให้ผู้ใช้ได้รับซึ่งข้อมูลที่ตรงเป้าและ/หรือเกี่ยวข้อง
                    โดยข้อมูลดังกล่าวจะมาจากข้อมูลผลรวมเกี่ยวกับกิจกรรมของผู้ใช้นอกแพลตฟอร์ม
                </div>
                <div class="policy">
                    (ข) การโฆษณาโดยอิงตามพฤติกรรม
                    เราอาจร่วมมือกับบุคคลภายนอกที่ได้คัดเลือกมาโดยใช้ข้อมูลที่ไม่สามารถระบุตัวบุคคลที่เป็นเจ้าของข้อมูลได้เพื่อพัฒนารูปแบบที่จะแสดงโฆษณาที่แม่นยำมากขึ้นแก่ผู้ใช้แต่ละราย
                </div>
                <div class="policy" style="padding-top: 10px;">
                    4. การถอนความยินยอมที่จะให้ใช้ เปิดเผย เก็บรักษา และ/หรือประมวลผลข้อมูลส่วนบุคคล
                </div>
                <div class="policy">
                    4.1 ท่านอาจถอนความยินยอมของท่านที่จะให้ใช้ เปิดเผย เก็บรักษา
                    และ/หรือประมวลผลซึ่งข้อมูลส่วนบุคคลของท่านต่อไปเพื่อวัตถุประสงค์ใด ๆ และในรูปแบบที่ระบุไว้ข้างต้น
                    ไม่ว่าในเวลาใดก็ตาม
                </div>
                <div class="policy">
                    4.2 โปรดทราบว่าหากท่านถอนความยินยอมของท่านที่จะให้เราใช้ เปิดเผย เก็บรักษา
                    หรือประมวลผลซึ่งข้อมูลของท่านเพื่อวัตถุประสงค์และในรูปแบบที่ระบุไว้ข้างต้น
                    เราอาจจะไม่อยู่ในฐานะที่จะดำเนินการให้บริการแก่ท่านต่อไปหรือไม่สามารถปฏิบัติตามสัญญาใดที่เรามีกับท่านได้
                    และเราจะไม่ต้องรับผิดในกรณีที่เราไม่ได้ดำเนินการให้บริการท่านหรือไม่ปฏิบัติตามสัญญากับท่าน
                    โดยเราขอสงวนสิทธิ์ทางกฎหมายและการเยียวยาของเราโดยชัดแจ้งสำหรับกรณีดังกล่าว
                </div>
                <div class="policy" style="padding-top: 10px;">
                    5. การปรับข้อมูลส่วนบุคคลของท่านให้เป็นปัจจุบัน
                </div>
                <div class="policy">
                    5.1
                    ความถูกต้องและสมบูรณ์ของข้อมูลส่วนบุคคลที่ท่านให้แก่เรานั้นเป็นสิ่งสำคัญเพื่อให้ท่านสามารถใช้แพลตฟอร์มต่อไปได้และให้เราสามารถให้บริการได้
                    ท่านเป็นผู้รับผิดชอบในการแจ้งเราหากมีการเปลี่ยนแปลงข้อมูลส่วนบุคคลของท่าน
                    หรือในกรณีที่ท่านเชื่อว่าข้อมูลส่วนบุคคลเกี่ยวกับท่านที่อยู่กับเราไม่แม่นยำ ไม่สมบูรณ์
                    ไม่ถูกต้องหรือล้าสมัย
                </div>
                <div class="policy">
                    5.2
                    ท่านสามารถแก้ไขข้อมูลส่วนบุคคลของท่านให้เป็นปัจจุบันได้ไม่ว่าในเวลาใดโดยการเข้าถึงซึ่งบัญชีผู้ใช้ของท่านบนแพลตฟอร์ม
                </div>
                <div class="policy" style="padding-top: 10px;">
                    6. การเข้าถึงข้อมูลส่วนบุคคลของท่าน
                </div>
                <div class="policy">
                    6.1 ท่านสามารถขอข้อมูลเกี่ยวกับข้อมูลส่วนบุคคลของท่านที่เราเก็บรวบรวม
                    หรือสอบถามเกี่ยวกับวิธีที่ข้อมูลส่วนบุคคลของท่านถูกใช้ เปิดเผย
                    เก็บรักษาหรือประมวลผลโดยเราภายในปีที่ผ่านมา และเพื่อที่จะอำนวยความสะดวกตามคำขอของท่าน
                    เราอาจจำเป็นต้องร้องขอข้อมูลเพิ่มเติมเกี่ยวกับคำขอของท่าน
                </div>
                <div class="policy" style="padding-top: 10px;">
                    7. ความปลอดภัยของข้อมูลส่วนบุคคลของท่าน
                </div>
                <div class="policy">
                    7.1 เพื่อรักษาความปลอดภัยซึ่งข้อมูลส่วนบุคคลของท่านจากการเข้าถึง การเก็บรวบรวม การใช้ การเปิดเผย
                    การประมวลผล การทำสำเนา การเปลี่ยนแปลง การจำหน่าย การทำให้สูญหาย การใช้ในทางที่ผิด
                    การดัดแปลงหรือความเสี่ยงอื่นที่คล้ายคลึงกัน โดยไม่ได้รับอนุญาต เราได้ใช้มาตรการในการจัดการที่เหมาะสม
                    ทั้งที่เป็นรูปธรรมและในทางเทคนิค เช่น
                </div>
                <div class="policy">
                    (ก) จำกัดสิทธิการเข้าถึงข้อมูลส่วนบุคคลให้เข้าถึงได้เฉพาะของบุคคลที่จำเป็นต้องเข้าถึง
                </div>
                <div class="policy">
                    (ข)
                    รักษาระดับของผลิตภัณฑ์ที่เกี่ยวข้องกับเทคโนโลยีเพื่อป้องกันการเข้าถึงทางคอมพิวเตอร์ที่ไม่ได้รับอนุญาต
                </div>
                <div class="policy">
                    7.2 หากท่านเชื่อว่าความเป็นส่วนตัวของท่านถูกละเมิด กรุณาติดต่อเราโดยทันที
                </div>
                <div class="policy">
                    7.3
                    ท่านควรทราบว่าไม่มีวิธีการถ่ายโอนใดบนอินเตอร์เน็ตหรือขั้นตอนการเก็บข้อมูลทางอิเล็กทรอนิกส์ใดที่ปลอดภัยโดยสมบูรณ์
                    แม้ไม่สามารถรับประกันความปลอดภัยนั้นได้
                    แต่เราได้พยายามอย่างมากที่จะปกป้องความปลอดภัยในข้อมูลของท่านและจะทบทวนและเพิ่มเติมมาตรการการรักษาข้อมูลอย่างสม่ำเสมอ
                </div>
                <div class="policy">
                    7.4 รหัสผ่านของท่านคือกุญแจในการเข้าถึงบัญชีของท่าน กรุณาใช้ตัวเลขเฉพาะ ตัวอักษรและอักษรพิเศษ
                    และจะต้องไม่แบ่งปันรหัสผ่าน{{PLATFORM_NAME_TH}}ของท่านกับบุคคลใด หากท่านแบ่งปันรหัสของท่านกับผู้อื่น
                    ท่านจะต้องรับผิดชอบการกระทำทั้งหมดที่ได้ทำไปในนามของบัญชีของท่านและผลที่ตามมา
                    หากท่านเสียการควบคุมรหัสผ่านของท่าน
                    ท่านอาจเสียการควบคุมข้อมูลส่วนบุคคลของท่านและข้อมูลอื่นที่ท่านได้ส่งให้แก่{{PLATFORM_NAME_TH}}อย่างมีนัยสำคัญ
                    รวมทั้งท่านอาจตกอยู่ภายใต้ความผูกพันตามกฎหมายในการกระทำใด ๆ ที่ได้กระทำไปในนามของท่าน
                    ดังนั้นหากมีการเข้าถึงรหัสของท่านโดยไม่ได้รับอนุญาตไม่ว่าด้วยเหตุใดหรือมีเหตุอันควรเชื่อว่ารหัสของท่านถูกเข้าถึงโดยไม่ได้รับอนุญาต
                    ท่านควรติดต่อเราและเปลี่ยนรหัสของท่านโดยทันที
                    ท่านจะต้องไม่ลืมออกจากระบบบัญชีของท่านและปิดบราวเซอร์หากท่านใช้งานในคอมพิวเตอร์ซึ่งใช้ร่วมกับผู้อื่น
                </div>
                <div class="policy" style="padding-top: 10px;">
                    8. การเก็บรักษาข้อมูลส่วนบุคคล
                </div>
                <div class="policy">
                    8.1
                    เราจะเก็บรักษาข้อมูลส่วนบุคคลของท่านไว้เพียงเท่าที่กฎหมายกำหนดไว้หรือเท่าที่จำเป็นสำหรับวัตถุประสงค์ของการเก็บข้อมูลดังกล่าว
                </div>
                <div class="policy">
                    8.2 เราจะยุติการเก็บรักษาข้อมูลส่วนบุคคลของท่านหรือนำวิธีการที่ข้อมูลที่อาจเชื่อมโยงกับท่านออก
                    โดยทันทีที่เห็นสมควรแล้วว่าการเก็บรักษานั้น
                    ไม่สามารถบรรลุวัตถุประสงค์ที่ข้อมูลส่วนบุคคลดังกล่าวได้ถูกเก็บรวบรวมมาแล้วอีกต่อไป
                    และไม่มีความจำเป็นสำหรับวัตถุประสงค์ทางกฎหมายหรือทางธุรกิจใด
                </div>
                <div class="policy" style="padding-top: 10px;">
                    9. การเก็บรวบรวมข้อมูลคอมพิวเตอร์
                </div>
                <div class="policy">
                    9.1 เราหรือผู้ให้บริการที่ได้รับอนุญาตจากเราอาจใช้ คุกกี้ เว็บ
                    และเทคโนโลยีอื่นใดที่คล้ายคลึงกันเพื่อเก็บรักษาข้อมูลที่ช่วยให้เราสร้างประสบการณ์เฉพาะตัวที่ดีขึ้น
                    เร็วขึ้น ปลอดภัยขึ้นเมื่อท่านใช้บริการหรือเข้าถึงแพลตฟอร์ม
                </div>
                <div class="policy">
                    9.2 เมื่อท่านเข้าชมแพลตฟอร์มผ่านคอมพิวเตอร์ อุปกรณ์เคลื่อนที่
                    หรืออุปกรณ์อื่นใดที่มีการเชื่อมต่ออินเตอร์เน็ตของท่าน
                    เซิร์ฟเวอร์ของบริษัทเราจะบันทึกข้อมูลที่บราวเซอร์ของท่านได้ส่งมาโดยอัตโนมัติเมื่อได้เข้าสู่เว็ปไซต์
                    โดยข้อมูลอาจรวมถึง
                </div>
                <div class="policy">
                    (ก) หมายเลขไอพีของคอมพิวเตอร์หรืออุปกรณ์ของท่าน
                </div>
                <div class="policy">
                    (ข) ชนิดของบราวเซอร์
                </div>
                <div class="policy">
                    (ค) เว็บเพจที่ท่านเข้าชมก่อนที่ท่านจะเข้าถึงแพลตฟอร์ม
                </div>
                <div class="policy">
                    (ง) หน้าในแพลตฟอร์มที่ท่านเข้าชม และ
                </div>
                <div class="policy">
                    (จ) ระยะเวลาที่ท่านใช้บนหน้าดังกล่าว สิ่งของและข้อมูลที่ท่านค้นหาบนแพลตฟอร์ม
                    ระยะเวลาเข้าถึงและวันที่และสถิติอื่น ๆ
                </div>
                <div class="policy" style="padding-top: 10px;">
                    10. การเก็บรวบรวมข้อมูลคอมพิวเตอร์
                </div>
                <div class="policy">
                    10.1
                    ข้อมูลเหล่านี้จะถูกเก็บรวบรวมเพื่อวิเคราะห์และประเมินเพื่อที่จะช่วยเราปรับปรุงเว็ปไซต์และการบริการ
                </div>
                <div class="policy">
                    10.2 คุกกี้คือไฟล์ตัวอักษรขนาดเล็ก (ปกติแล้วจะประกอบด้วยตัวอักษรและตัวเลข)
                    ที่ตั้งอยู่ในความจำของบราวเซอร์หรืออุปกรณ์ของท่านเมื่อท่านเข้าชมเว็ปไซต์หรือดูข้อความ
                    คุกกี้ทำให้เราสามารถจำอุปกรณ์หรือบราวเซอร์ดังกล่าวและช่วยให้เราสามารถทำเนื้อหาให้เป็นการเฉพาะโดยให้เหมาะสมกับสิ่งที่ท่านสนใจได้รวดเร็วขึ้นและจะทำให้การบริการและแพลตฟอร์มมีความสะดวกสบายและมีประโยชน์กับท่าน
                </div>
                <div class="policy">
                    10.3 ท่านสามารถจัดการและลบคุกกี้ผ่านการตั้งค่าในบราวเซอร์หรืออุปกรณ์ของท่าน
                    สำหรับข้อมูลเพิ่มเติมเกี่ยวกับวิธีการนั้น กรุณาเข้าชมส่วนช่วยเหลือของบราวเซอร์หรืออุปกรณ์ของท่าน
                </div>
                <div class="policy" style="padding-top: 10px;">
                    11. คำถาม ผลตอบรับ ข้อกังวล คำแนะนำหรือข้อเรียกร้อง
                </div>
                <div class="policy">
                    11.1 หากท่านมีคำถามใดเกี่ยวข้องกับการคุ้มครองข้อมูลส่วนบุคคลหรือความเป็นส่วนตัวของข้อมูล
                    โปรดอ้างถึงรายการคำถามที่พบบ่อยในการคุ้มครองข้อมูล/ความเป็นส่วนตัวของข้อมูล
                </div>
                <div class="policy">
                    12. หากคำถามของท่านไม่อยู่ในรายการคำถามที่พบบ่อยของเรา หรือหากท่านมีผลตอบรับ ข้อกังวล
                    คำแนะนำหรือข้อเรียกร้องเกี่ยวข้องกับข้อมูลส่วนบุคคล กรุณาติดต่อเราที่ {{PLATFORM_SOPPORT_EMAIL}}
                </div>
            </div>
        </div>
    </div>
</div>