<div class="wrapper-vote-page">
    <div class="wrapper-left">
        <div class="menu-wrapper">
            <p>Vote</p>
            <ng-container *ngFor="let item of menuList">
                <div *ngIf="item.isLogin === isLogin()" class="menu-box" [class.active]="activeMenu === item.status"
                    [routerLink]="!!item.status ? ['', 'vote', item.status] : ['','vote']"
                    (click)="activeMenu = item.status;changeMenu(activeMenu)">
                    <div class="icon">
                        <img [src]="item.status === activeMenu ? item.icon2 : item.icon">
                    </div>
                    <span>{{item.name}}</span>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="wrapper-right">
        <div class="menu-wrapper" [ngStyle]="{'top': !isRes ? '59px' : '0'}">
            <ng-container *ngFor="let item of menuList">
                <div *ngIf="item.isLogin === isLogin()" class="menu-box" [class.active]="activeMenu === item.status"
                    [routerLink]="!!item.status ? ['', 'vote', item.status] : ['','vote']"
                    (click)="activeMenu = item.status;changeMenu(activeMenu)">
                    <span [class.active]="activeMenu === item.status">{{item.name}}</span>
                </div>
            </ng-container>
        </div>
        <div class="content-wrapper">
            <div class="search-header">
                <div class="search">
                    <label class="material-icons icon-search" for="searchInput">
                        search
                    </label>
                    <input #searchInput id="searchInput" type="search" [placeholder]="'ค้นหาโหวต'">
                    <!-- (keyup.enter)="searchValue($event.target.value)" -->
                </div>
                <div class="create-vote" *ngIf="isAllowCreate" (click)="openDialogCreateVote()">
                    <img src="../../../../assets/img/icons/votepage/create.svg">
                    <span>สร้างโหวต</span>
                </div>
            </div>

            <ng-container *ngIf="activeUrl === undefined">
                <ng-container *ngIf="!!model && !!model.pin">
                    <div class="header-content">
                        <p>ปักหมุด</p>
                        <span>ดูทั้งหมด</span>
                    </div>
                    <hr>
                    <div class="wrapper-content">
                        <ng-container *ngIf="model.pin.length > 0; else elsePinLength">
                            <ng-container *ngFor="let data of model.pin">
                                <card-content-vote #pinContent class="pin-content-data" [model]="data"
                                    [title]="data.title" (openDialog)="openDialogPost(data)"
                                    (deleteVote)="deleteDataVote($event)" (editVote)="editVote($event)"
                                    [image]="data.coverPageURL"></card-content-vote>
                            </ng-container>
                        </ng-container>
                        <ng-template #elsePinLength>
                            <div class="none-vote">
                                <span>ไม่มีโหวตปักหมุดในขณะนี้</span>
                            </div>
                        </ng-template>
                    </div>
                </ng-container>

                <ng-container *ngIf="!!model && !!model.myVote">
                    <div class="header-content">
                        <p>โหวตของฉัน</p>
                        <span>ดูทั้งหมด</span>
                    </div>
                    <hr>
                    <div class="wrapper-content">
                        <ng-container *ngFor="let data of model.myVote">
                            <card-content-vote #pinContent class="myvote-content-data" [model]="data"
                                [title]="data.title" (openDialog)="openDialogPost(data)"
                                (deleteVote)="deleteDataVote($event)" (editVote)="editVote($event)"
                                [image]="data.coverPageURL"></card-content-vote>
                        </ng-container>
                    </div>
                </ng-container>

                <ng-container *ngIf="!!model && !!model.supporter">
                    <div class="header-content">
                        <p>ล่ารายชื่อ</p>
                        <span>ดูทั้งหมด</span>
                    </div>
                    <hr>
                    <div class="wrapper-content">
                        <ng-container *ngFor="let data of model.supporter">
                            <card-content-vote #pinContent class="support-content-data" [model]="data"
                                [title]="data.title" (openDialog)="openDialogPost(data)"
                                (deleteVote)="deleteDataVote($event)" (editVote)="editVote($event)"
                                [image]="data.coverPageURL"></card-content-vote>
                        </ng-container>
                    </div>
                </ng-container>

                <ng-container *ngIf="!!model && !!model.closeDate">
                    <div class="header-content">
                        <p>ใกล้ปิดโหวต</p>
                        <span>ดูทั้งหมด</span>
                    </div>
                    <hr>
                    <div class="wrapper-content">
                        <ng-container *ngFor="let data of model.closeDate">
                            <card-content-vote #pinContent class="support-content-data" [model]="data"
                                [title]="data.title" (openDialog)="openDialogPost(data)"
                                (deleteVote)="deleteDataVote($event)" (editVote)="editVote($event)"
                                [image]="data.coverPageURL"></card-content-vote>
                        </ng-container>
                    </div>
                </ng-container>
            </ng-container>

            <!-- <ng-container *ngIf="activeUrl === undefined">
                <div class="header-content">
                    <p>ปักหมุด</p>
                    <span>ดูทั้งหมด</span>
                </div>
                <hr>
                <div class="wrapper-content">
                    <ng-container *ngFor="let data of voteData">
                        <ng-container *ngIf="data?.approved && data?.pin">
                            <card-content-vote #pinContent class="pin-content-data" [model]="data" [title]="data.title"
                                (openDialog)="openDialogPost(data)" (deleteVote)="deleteDataVote($event)"
                                (editVote)="editVote($event)" [image]="data.coverPageURL"></card-content-vote>
                        </ng-container>
                    </ng-container>
                </div>
            </ng-container> -->

            <ng-container *ngIf="activeUrl === 'my-vote'">
                <div class="header-content">
                    <p>โหวตของฉัน</p>
                    <span>ดูทั้งหมด</span>
                </div>
                <hr>
                <div class="wrapper-content">
                    <ng-container *ngFor="let data of voteData">
                        <ng-container *ngIf="data?.user?._id === userId">
                            <card-content-vote #myVoteContent class="myvote-content-data" [model]="data"
                                [title]="data.title" (openDialog)="openDialogPost(data)"
                                (deleteVote)="deleteDataVote($event)" (editVote)="editVote($event)"
                                [image]="data.coverPageURL"></card-content-vote>
                        </ng-container>
                    </ng-container>
                </div>
            </ng-container>

            <ng-container *ngIf="activeUrl === 'support'">
                <div class="header-content">
                    <p>ล่ารายชื่อ</p>
                    <span>ดูทั้งหมด</span>
                </div>
                <hr>
                <div class="wrapper-content">
                    <ng-container *ngFor="let data of voteData">
                        <ng-container *ngIf="data?.status === 'support'">
                            <card-content-vote #supportContent class="support-content-data" [model]="data"
                                [title]="data.title" (openDialog)="openDialogPost(data)"
                                (deleteVote)="deleteDataVote($event)" (editVote)="editVote($event)"
                                [image]="data.coverPageURL"></card-content-vote>
                        </ng-container>
                    </ng-container>
                </div>
            </ng-container>

            <ng-container *ngIf="activeUrl === 'open'">
                <div class="header-content">
                    <p>โหวตที่เปิดอยู่</p>
                    <span>ดูทั้งหมด</span>
                </div>
                <hr>
                <div class="wrapper-content">
                    <ng-container *ngFor="let data of voteData">
                        <ng-container *ngIf="data?.status === 'vote' && !data.closed">
                            <card-content-vote [model]="data" [title]="data.title" (openDialog)="openDialogPost(data)"
                                (deleteVote)="deleteDataVote($event)" (editVote)="editVote($event)"
                                [image]="data.coverPageURL"></card-content-vote>
                        </ng-container>
                    </ng-container>
                </div>
            </ng-container>

            <ng-container *ngIf="activeUrl === 'result'">
                <div class="header-content">
                    <p>ปิดโหวตแล้ว</p>
                    <span>ดูทั้งหมด</span>
                </div>
                <hr>
                <div class="wrapper-content">
                    <ng-container *ngFor="let data of voteData">
                        <ng-container *ngIf="data.closed">
                            <card-content-vote #myVoteContent class="myvote-content-data" [model]="data"
                                [title]="data.title" (openDialog)="openDialogPost(data)"
                                (deleteVote)="deleteDataVote($event)" (editVote)="editVote($event)"
                                [image]="data.coverPageURL"></card-content-vote>
                        </ng-container>
                    </ng-container>
                </div>
            </ng-container>

        </div>
    </div>
</div>

<loading *ngIf="isLoading"></loading>