<div class="wrapper-vote-page">
    <div class="wrapper-left" *ngIf="!paramsKey">
        <div class="menu-wrapper">
            <p>Vote</p>
            <ng-container *ngFor="let item of menuList">
                <div *ngIf="item.isLogin === isLogin()" class="menu-box" [class.active]="activeMenu === item.status"
                    [routerLink]="!!item.status ? ['', 'vote', item.status] : ['','vote']"
                    (click)="activeMenu = item.status;changeMenu(activeMenu)">
                    <div class="icon">
                        <img [ngStyle]="{'width': item.status !== activeMenu && item.status === 'my-vote' ? '50px' : '16px'}"
                            [src]="item.status === activeMenu ? item.icon2 : item.icon">
                    </div>
                    <span>{{item.name}}</span>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="wrapper-right" #scrollDiv infinite-scroll [infiniteScrollDistance]="scrollDistance"
        [alwaysCallback]="true" (scrolled)="onScrollDown($event)">
        <div class="menu-wrapper" *ngIf="!paramsKey" [ngStyle]="{'top': !isRes ? '59px' : '0'}">
            <ng-container *ngFor="let item of menuList">
                <div *ngIf="item.isLogin === isLogin()" class="menu-box" [class.active]="activeMenu === item.status"
                    [routerLink]="!!item.status ? ['', 'vote', item.status] : ['','vote']"
                    (click)="activeMenu = item.status;changeMenu(activeMenu)">
                    <span [class.active]="activeMenu === item.status">{{item.name}}</span>
                </div>
            </ng-container>
        </div>
        <div class="content-wrapper">
            <div class="search-header">
                <button mat-icon-button class="button-back" *ngIf="!!paramsKey" [routerLink]="'/vote'"
                    (click)="setValueChangeMenu()">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <div class="search">
                    <label class="material-icons icon-search" for="searchInput">
                        search
                    </label>
                    <input #searchInput id="searchInput" type="search" [placeholder]="'ค้นหาโหวต'">
                    <!-- (keyup.enter)="searchValue($event.target.value)" -->
                </div>
                <div class="create-vote" *ngIf="isAllowCreate" (click)="openDialogCreateVote()">
                    <img src="../../../../assets/img/icons/votepage/create.svg">
                    <span>สร้างโหวต</span>
                </div>
            </div>

            <ng-container *ngIf="activeUrl['name'] === undefined && !isEmpty">
                <ng-container *ngIf="!!model && !!model.pin && model.pin.length > 0">
                    <div class="header-content">
                        <p>ปักหมุด</p>
                        <span (click)="changeMenu('all',false,'ปักหมุด')">ดูทั้งหมด</span>
                    </div>
                    <hr>
                    <div class="wrapper-content"
                        [ngStyle]="{'grid-template-columns': model.pin.length === 0 ? '1fr' : null}">
                        <ng-container *ngIf="model.pin.length > 0">
                            <ng-container *ngFor="let data of model.pin">
                                <card-content-vote #pinContent class="pin-content-data" [model]="data"
                                    [title]="data.title" (openDialog)="checkOpenDialog = true; openDialogPost(data)"
                                    (deleteVote)="deleteDataVote($event)" (editVote)="editVote($event)"
                                    [image]="data.coverPageURL"></card-content-vote>
                            </ng-container>
                        </ng-container>
                    </div>
                </ng-container>

                <ng-container *ngIf="!!model && !!model.myVote && model.myVote.length > 0">
                    <div class="header-content">
                        <p>โหวตของฉัน</p>
                        <!-- <span>ดูทั้งหมด</span> -->
                    </div>
                    <hr>
                    <div class="wrapper-content"
                        [ngStyle]="{'grid-template-columns': model.myVote.length === 0 ? '1fr' : null}">
                        <ng-container *ngIf="model.myVote.length > 0">
                            <ng-container *ngFor="let data of model.myVote">
                                <card-content-vote #pinContent class="myvote-content-data" [model]="data"
                                    [title]="data.title" (openDialog)="checkOpenDialog = true; openDialogPost(data)"
                                    (deleteVote)="deleteDataVote($event)" (editVote)="editVote($event)"
                                    [image]="data.coverPageURL"></card-content-vote>
                            </ng-container>
                        </ng-container>
                    </div>
                </ng-container>

                <ng-container *ngIf="!!model && !!model.closeDate && model.closeDate.length > 0">
                    <div class="header-content">
                        <p>ใกล้ปิดโหวต</p>
                        <span (click)="changeMenu('all',false,'ใกล้ปิดโหวต')">ดูทั้งหมด</span>
                    </div>
                    <hr>
                    <div class="wrapper-content"
                        [ngStyle]="{'grid-template-columns': model.closeDate.length === 0 ? '1fr' : null}">
                        <ng-container *ngIf="model.closeDate.length > 0">
                            <ng-container *ngFor="let data of model.closeDate">
                                <card-content-vote #pinContent class="support-content-data" [model]="data"
                                    [title]="data.title" (openDialog)="checkOpenDialog = true; openDialogPost(data)"
                                    (deleteVote)="deleteDataVote($event)" (editVote)="editVote($event)"
                                    [image]="data.coverPageURL"></card-content-vote>
                            </ng-container>
                        </ng-container>
                    </div>
                </ng-container>

                <ng-container *ngIf="!!model && !!model.closetSupport && model.closetSupport.length > 0">
                    <div class="header-content">
                        <p>ใกล้ปิดล่ารายชื่อ</p>
                        <span (click)="changeMenu('all',false,'ใกล้ปิดล่ารายชื่อ')">ดูทั้งหมด</span>
                    </div>
                    <hr>
                    <div class="wrapper-content"
                        [ngStyle]="{'grid-template-columns': model.closetSupport.length === 0 ? '1fr' : null}">
                        <ng-container *ngIf="model.closetSupport.length > 0">
                            <ng-container *ngFor="let data of model.closetSupport">
                                <card-content-vote #pinContent class="support-content-data" [model]="data"
                                    [title]="data.title" (openDialog)="checkOpenDialog = true; openDialogPost(data)"
                                    (deleteVote)="deleteDataVote($event)" (editVote)="editVote($event)"
                                    [image]="data.coverPageURL"></card-content-vote>
                            </ng-container>
                        </ng-container>
                    </div>
                </ng-container>

                <ng-container *ngIf="!!model && !!model.hashTagVote">
                    <ng-container *ngFor="let item of model.hashTagVote">
                        <div class="header-content">
                            <p>{{item._id}}</p>
                            <span (click)="changeMenu('all',false,item._id)">ดูทั้งหมด</span>
                        </div>
                        <hr>
                        <div class="wrapper-content">
                            <ng-container *ngFor="let data of item.votingEvent">
                                <card-content-vote #pinContent class="support-content-data" [model]="data"
                                    [title]="data.title" (openDialog)="checkOpenDialog = true; openDialogPost(data)"
                                    (deleteVote)="deleteDataVote($event)" (editVote)="editVote($event)"
                                    [image]="data.coverPageURL"></card-content-vote>
                            </ng-container>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="activeUrl['name'] === undefined && isEmpty">
                <div class="header-content">
                    <p>ไม่พบรายการโหวต</p>
                </div>
                <hr>
                <div class="wrapper-content"
                    [ngStyle]="{'grid-template-columns': model.pin.length === 0 ? '1fr' : null}">
                    <div class="none-vote">
                        <span>ไม่พบรายการโหวต</span>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="activeUrl['name'] === 'my-vote'">
                <ng-container *ngIf="isEmpty; else elseMyVoteEmpty">
                    <div class="vote-not-found">
                        <img src="../../../../assets/img/icons/votepage/vote-not-found.svg">
                        <span>{{isSearch ? 'ไม่พบโหวตที่เกี่ยวข้องกับ "'+ searchInputValue +'"' :
                            'ไม่พบโหวตในขณะนี้'}}</span>
                    </div>
                </ng-container>
                <ng-template #elseMyVoteEmpty>
                    <ng-container *ngIf="!!voteData && !!voteData.myVote">
                        <div class="header-content">
                            <p>โหวตที่ฉันสร้าง</p>
                            <!-- <span>ดูทั้งหมด</span> -->
                        </div>
                        <hr>
                        <div class="wrapper-content"
                            [ngStyle]="{'grid-template-columns': voteData.myVote.length === 0 ? '1fr' : null}">
                            <ng-container *ngIf="voteData.myVote.length > 0; else elseMyVotesLength">
                                <ng-container *ngFor="let data of voteData.myVote">
                                    <card-content-vote class="support-content-data" [model]="data" [title]="data.title"
                                        (openDialog)="checkOpenDialog = true; openDialogPost(data)"
                                        (deleteVote)="deleteDataVote($event)" (editVote)="editVote($event)"
                                        [image]="data.coverPageURL"></card-content-vote>
                                </ng-container>
                            </ng-container>
                            <ng-template #elseMyVotesLength>
                                <div class="none-vote">
                                    <span>ไม่มีรายการโหวตที่ฉันสร้าง</span>
                                </div>
                            </ng-template>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="!!voteData && !!voteData.myVoterSupport">
                        <div class="header-content">
                            <p>โหวตที่ฉันสร้างและเปิดล่ารายชื่ออยู่</p>
                            <!-- <span>ดูทั้งหมด</span> -->
                        </div>
                        <hr>
                        <div class="wrapper-content"
                            [ngStyle]="{'grid-template-columns': voteData.myVoterSupport.length === 0 ? '1fr' : null}">
                            <ng-container *ngIf="voteData.myVoterSupport.length > 0; else elseMyVoteSupportLength">
                                <ng-container *ngFor="let data of voteData.myVoterSupport">
                                    <card-content-vote class="support-content-data" [model]="data" [title]="data.title"
                                        (openDialog)="checkOpenDialog = true; openDialogPost(data)"
                                        (deleteVote)="deleteDataVote($event)" (editVote)="editVote($event)"
                                        [image]="data.coverPageURL"></card-content-vote>
                                </ng-container>
                            </ng-container>
                            <ng-template #elseMyVoteSupportLength>
                                <div class="none-vote">
                                    <span>ไม่มีรายการโหวตที่ฉันสร้างและเปิดล่ารายชื่ออยู่</span>
                                </div>
                            </ng-template>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="!!voteData && !!voteData.myVoted">
                        <div class="header-content">
                            <p>ที่ฉันเคยโหวต</p>
                            <!-- <span>ดูทั้งหมด</span> -->
                        </div>
                        <hr>
                        <div class="wrapper-content"
                            [ngStyle]="{'grid-template-columns': voteData.myVoted.length === 0 ? '1fr' : null}">
                            <ng-container *ngIf="voteData.myVoted.length > 0; else elseMyVotedLength">
                                <ng-container *ngFor="let data of voteData.myVoted">
                                    <card-content-vote class="support-content-data" [model]="data.votingEvent"
                                        [title]="data.votingEvent.title"
                                        (openDialog)="checkOpenDialog = true; openDialogPost(data.votingEvent)"
                                        (deleteVote)="deleteDataVote($event.votingEvent)"
                                        (editVote)="editVote($event.votingEvent)"
                                        [image]="data.votingEvent.coverPageURL"></card-content-vote>
                                </ng-container>
                            </ng-container>
                            <ng-template #elseMyVotedLength>
                                <div class="none-vote">
                                    <span>ไม่มีรายการที่ฉันเคยโหวต</span>
                                </div>
                            </ng-template>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="!!voteData && !!voteData.mySupported">
                        <div class="header-content">
                            <p>ที่ฉันลงชื่อให้การสนับสนุน</p>
                            <!-- <span>ดูทั้งหมด</span> -->
                        </div>
                        <hr>
                        <div class="wrapper-content"
                            [ngStyle]="{'grid-template-columns': voteData.mySupported.length === 0 ? '1fr' : null}">
                            <ng-container *ngIf="voteData.mySupported.length > 0; else elseMySupportLength">
                                <ng-container *ngFor="let data of voteData.mySupported">
                                    <card-content-vote class="support-content-data" [model]="data.votingEvent"
                                        [title]="data.votingEvent.title"
                                        (openDialog)="checkOpenDialog = true; openDialogPost(data.votingEvent)"
                                        (deleteVote)="deleteDataVote($event.votingEvent)"
                                        (editVote)="editVote($event.votingEvent)"
                                        [image]="data.votingEvent.coverPageURL"></card-content-vote>
                                </ng-container>
                            </ng-container>
                            <ng-template #elseMySupportLength>
                                <div class="none-vote">
                                    <span>ไม่มีรายการที่ฉันลงชื่อให้การสนับสนุน</span>
                                </div>
                            </ng-template>
                        </div>
                    </ng-container>
                </ng-template>
            </ng-container>

            <ng-container *ngIf="activeUrl['name'] === 'support'">
                <div class="header-content">
                    <ng-container *ngIf="!isEmpty; else elseEmptySupport">
                        <p>{{isSearch && !!searchInputValue ? 'ค้นหาโหวต ' + '"' +searchInputValue + '"' :
                            'ล่ารายชื่อ'}}</p>
                    </ng-container>
                    <ng-template #elseEmptySupport>
                        <ng-container *ngIf="isSearch; else elseSearchSupport">
                            <p>{{'ไม่พบโหวตที่เกี่ยวข้องกับ ' + '"' +searchInputValue + '"'}}</p>
                        </ng-container>
                        <ng-template #elseSearchSupport>
                            <p>ไม่พบโหวตล่ารายชื่อ</p>
                        </ng-template>
                    </ng-template>
                </div>
                <hr *ngIf="!isEmpty">
                <div class="wrapper-content">
                    <ng-container *ngFor="let data of voteData">
                        <ng-container *ngIf="data?.status === 'support'">
                            <card-content-vote #supportContent class="support-content-data" [model]="data"
                                [title]="data.title" (openDialog)="checkOpenDialog = true; openDialogPost(data)"
                                (deleteVote)="deleteDataVote($event)" (editVote)="editVote($event)"
                                [image]="data.coverPageURL"></card-content-vote>
                        </ng-container>
                    </ng-container>
                </div>
            </ng-container>

            <ng-container *ngIf="activeUrl['name'] === 'open'">
                <div class="header-content">
                    <ng-container *ngIf="!isEmpty; else elseEmptyVote">
                        <p>{{isSearch && !!searchInputValue ? 'ค้นหาโหวต ' + '"' +searchInputValue + '"' :
                            'โหวตที่เปิดอยู่'}}</p>
                    </ng-container>
                    <ng-template #elseEmptyVote>
                        <ng-container *ngIf="isSearch; else elseSearchOpen">
                            <p>{{'ไม่พบโหวตที่เกี่ยวข้องกับ ' + '"' +searchInputValue + '"'}}</p>
                        </ng-container>
                        <ng-template #elseSearchOpen>
                            <p>ไม่พบโหวตที่เปิดอยู่</p>
                        </ng-template>
                    </ng-template>
                </div>
                <hr *ngIf="!isEmpty">
                <div class="wrapper-content">
                    <ng-container *ngFor="let data of voteData">
                        <ng-container *ngIf="data?.status === 'vote' && !data.closed">
                            <card-content-vote [model]="data" [title]="data.title"
                                (openDialog)="checkOpenDialog = true; openDialogPost(data)"
                                (deleteVote)="deleteDataVote($event)" (editVote)="editVote($event)"
                                [image]="data.coverPageURL"></card-content-vote>
                        </ng-container>
                    </ng-container>
                </div>
            </ng-container>

            <ng-container *ngIf="activeUrl['name'] === 'result'">
                <div class="header-content">
                    <ng-container *ngIf="!isEmpty; else elseEmptyClose">
                        <p>{{isSearch && !!searchInputValue ? 'ค้นหาโหวต ' + '"' +searchInputValue + '"' :
                            'ปิดโหวตแล้ว'}}</p>
                    </ng-container>
                    <ng-template #elseEmptyClose>
                        <ng-container *ngIf="isSearch; else elseSearchClose">
                            <p>{{'ไม่พบโหวตที่เกี่ยวข้องกับ ' + '"' +searchInputValue + '"'}}</p>
                        </ng-container>
                        <ng-template #elseSearchClose>
                            <p>ไม่พบโหวตที่ปิดโหวตแล้ว</p>
                        </ng-template>
                    </ng-template>
                </div>
                <hr *ngIf="!isEmpty">
                <div class="wrapper-content">
                    <ng-container *ngFor="let data of voteData">
                        <ng-container *ngIf="data.closed">
                            <card-content-vote #myVoteContent class="myvote-content-data" [model]="data"
                                [title]="data.title" (openDialog)="checkOpenDialog = true; openDialogPost(data)"
                                (deleteVote)="deleteDataVote($event)" (editVote)="editVote($event)"
                                [image]="data.coverPageURL"></card-content-vote>
                        </ng-container>
                    </ng-container>
                </div>
            </ng-container>

            <ng-container *ngIf="activeUrl['name'] === 'all' && !isHashTagAll">
                <div class="header-content">
                    <p>{{paramsKey}}</p>
                </div>
                <hr>
                <div class="wrapper-content">
                    <ng-container *ngIf="!!model && model[typeAll]?.length > 0">
                        <ng-container *ngFor="let data of model[typeAll]">
                            <card-content-vote class="pin-content-data" [model]="data" [title]="data.title"
                                (openDialog)="checkOpenDialog = true; openDialogPost(data)"
                                (deleteVote)="deleteDataVote($event)" (editVote)="editVote($event)"
                                [image]="data.coverPageURL"></card-content-vote>
                        </ng-container>
                    </ng-container>
                </div>
            </ng-container>

            <ng-container *ngIf="activeUrl['name'] === 'all' && isHashTagAll">
                <ng-container *ngIf="!!model && !!model.hashTagVote">
                    <ng-container *ngFor="let item of model.hashTagVote">
                        <div class="header-content">
                            <p>{{item._id}}</p>
                            <span (click)="changeMenu('all',false,item._id)">ดูทั้งหมด</span>
                        </div>
                        <hr>
                        <div class="wrapper-content">
                            <ng-container *ngFor="let data of item.votingEvent">
                                <card-content-vote class="support-content-data" [model]="data" [title]="data.title"
                                    (openDialog)="checkOpenDialog = true; openDialogPost(data)"
                                    (deleteVote)="deleteDataVote($event)" (editVote)="editVote($event)"
                                    [image]="data.coverPageURL"></card-content-vote>
                            </ng-container>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>

<loading *ngIf="isLoading"></loading>