<loading *ngIf="isPreLoadIng"></loading>

<div class="security-info" *ngIf="!isPreLoadIng">
    <div class="label-info">
        เชื่อมต่อแฟลตฟอร์ม
    </div>
    <div class="body-social">
        <div class="label-connect">
            เชื่อมต่อด้วยคุณเอง
        </div>
        <div class="box-social">
            <div class="left">
                <div class="icon-left" [class.facebook]="connect">
                    <svg class="icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 96.124 96.123"
                        style="enable-background:new 0 0 96.124 96.123;" xml:space="preserve">
                        <g>
                            <path fill="#F8F7F2"
                                d="M72.089,0.02L59.624,0C45.62,0,36.57,9.285,36.57,23.656v10.907H24.037c-1.083,0-1.96,0.878-1.96,1.961v15.803
		c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96h16.352c1.083,0,1.96-0.878,1.96-1.96V54.287h14.654
		c1.083,0,1.96-0.877,1.96-1.96l0.006-15.803c0-0.52-0.207-1.018-0.574-1.386c-0.367-0.368-0.867-0.575-1.387-0.575H56.842v-9.246
		c0-4.444,1.059-6.7,6.848-6.7l8.397-0.003c1.082,0,1.959-0.878,1.959-1.96V1.98C74.046,0.899,73.17,0.022,72.089,0.02z" />
                        </g>
                    </svg>

                </div>
                <div class="lost-connect">
                    {{connect ? 'เชื่อมต่อกับ Facebook' : 'ยังไม่ได้เชื่อมต่อกับ Facebook'}}
                    <div class="link-social" *ngIf="dataBinding && dataBinding.providerPageId">
                        <span>เพจ : </span>
                        <a href="//www.facebook.com/{{dataBinding && dataBinding.providerPageId}}" target="_blank"> {{ (
                            dataBinding && dataBinding.providerPageName ) }} </a>
                    </div>

                </div>
            </div>
            <div class="social-name">
                <div class="link-connect" [class.hide]="isLoading" [class.active]="connect">
                    <!-- {{connect ? 'ยกเลิกการเชื่อมต่อ' : 'เชื่อมต่อ'}} -->
                    <mat-checkbox [disableRipple]="'true'" [(ngModel)]="connect"
                        (click)="connectionSocial('facebook',connect)" (click)="$event.stopPropagation()">
                    </mat-checkbox>
                </div>
            </div>
            <mat-spinner *ngIf="isLoading" [diameter]="25" class="preload-spinner"></mat-spinner>
        </div>
        <div class="box-social">
            <div class="left">
                <div class="icon-left" [class.twitter]="connectTwitter">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="37.962" height="30.845"
                        viewBox="0 0 37.962 30.845">
                        <path id="brands-and-logotypes"
                            d="M37.962,51.652a16.226,16.226,0,0,1-4.484,1.229,7.739,7.739,0,0,0,3.424-4.3,15.553,15.553,0,0,1-4.935,1.884A7.782,7.782,0,0,0,18.5,55.785a8.014,8.014,0,0,0,.18,1.775A22.029,22.029,0,0,1,2.643,49.419a7.785,7.785,0,0,0,2.392,10.4,7.686,7.686,0,0,1-3.516-.959v.085a7.818,7.818,0,0,0,6.235,7.647,7.767,7.767,0,0,1-2.04.256,6.881,6.881,0,0,1-1.473-.133,7.857,7.857,0,0,0,7.272,5.421,15.638,15.638,0,0,1-9.65,3.319A14.579,14.579,0,0,1,0,75.352a21.91,21.91,0,0,0,11.939,3.493C26.26,78.844,34.09,66.981,34.09,56.7c0-.344-.012-.676-.028-1.006A15.526,15.526,0,0,0,37.962,51.652Z"
                            transform="translate(0 -48)" fill="#F8F7F2" />
                    </svg>
                </div>
                <div class="lost-connect">
                    {{connectTwitter ? 'เชื่อมต่อกับ Twitter' : 'ยังไม่ได้เชื่อมต่อกับ Twitter'}}
                    <div class="link-social" *ngIf="dataBindingTwitter && dataBindingTwitter.providerPageName">
                        <span>บัญชี : </span>
                        <a href="www.facebook.com/{{dataBinding && dataBinding.providerPageId}}" target="_blank">{{ (
                            dataBindingTwitter && dataBindingTwitter.providerPageName ) }} </a>
                    </div>
                </div>
            </div>
            <div class="social-name">
                <div class="link-connect" *ngIf="!isLoadingTwitter" [class.active]="connectTwitter" >
                    <!-- {{connectTwitter ? 'ยกเลิกการเชื่อมต่อ' : 'เชื่อมต่อ'}} -->
                    <mat-checkbox [disableRipple]="'true'" [(ngModel)]="connectTwitter"
                    (click)="connectionSocial('twitter',connectTwitter)"  (click)="$event.stopPropagation()"></mat-checkbox>
                </div>
            </div>
            <mat-spinner *ngIf="isLoadingTwitter" [diameter]="25" class="preload-spinner"></mat-spinner>
        </div>
    </div>
    <!-- <div class="label-info">
        เลือกเพจที่ต้องการแชร์
    </div>
    <div class="body-social">
        <div class="label-connect">
            เพจเฟสบุ๊คของคุณ
        </div>
        <ng-container *ngIf="responseFacabook && responseFacabook.data">
            <div class="box-social" *ngFor="let data of responseFacabook.data; let index = index">
                <div class="left">
                    <div class="icon-left share-page">
                        <div class="display-name">
                            {{data.name | slice: 0:1 }}
                        </div>
                    </div>
                    <div class="lost-connect">
                        {{data.name}}
                    </div>
                </div>
                <div class="link-connect" [class.active]="autoPostFacebook">
                    <mat-checkbox #checkboxPage [disableRipple]="'true'" [(ngModel)]="data.selected"
                        (click)="$event.stopPropagation()" (change)="checkBoxBindingPageFacebook(data,index)">
                    </mat-checkbox>
                </div>
            </div>
        </ng-container>

    </div> -->

    <div class="label-info">
        เผยแพร่โพสต์อัตโนมัติ
    </div>
    <div class="body-social">
        <div class="label-connect">
            การตั้งค่าเริ่มต้นสำหรับการเผยแพร่โพสต์ไปยังแฟลตฟอร์มอื่นๆ
        </div>
        <div class="box-social">
            <div class="left">
                <div class="icon-left" [class.facebook]="autoPostFacebook">
                    <svg class="icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 96.124 96.123"
                        style="enable-background:new 0 0 96.124 96.123;" xml:space="preserve">
                        <g>
                            <path fill="#F8F7F2"
                                d="M72.089,0.02L59.624,0C45.62,0,36.57,9.285,36.57,23.656v10.907H24.037c-1.083,0-1.96,0.878-1.96,1.961v15.803
		c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96h16.352c1.083,0,1.96-0.878,1.96-1.96V54.287h14.654
		c1.083,0,1.96-0.877,1.96-1.96l0.006-15.803c0-0.52-0.207-1.018-0.574-1.386c-0.367-0.368-0.867-0.575-1.387-0.575H56.842v-9.246
		c0-4.444,1.059-6.7,6.848-6.7l8.397-0.003c1.082,0,1.959-0.878,1.959-1.96V1.98C74.046,0.899,73.17,0.022,72.089,0.02z" />
                        </g>
                    </svg>

                </div>
                <div class="lost-connect">
                    {{autoPostFacebook ? 'เผยแพร่โพสต์ไปยัง Facebook' : 'ไม่เผยแพร่โพสต์ไปยัง Facebook'}}
                </div>
            </div>
            <div class="link-connect" [class.active]="autoPostFacebook">
                <mat-slide-toggle *ngIf="!isLoading" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="autoPostFacebook" (click)="onChangeSlide($event , 'facebook')"></mat-slide-toggle>
            </div>
            <mat-spinner *ngIf="isLoading" [diameter]="25" class="preload-spinner"></mat-spinner>
        </div>
        <div class="box-social">
            <div class="left">
                <div class="icon-left" [class.twitter]="autoPostTwitter">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="37.962" height="30.845"
                        viewBox="0 0 37.962 30.845">
                        <path id="brands-and-logotypes"
                            d="M37.962,51.652a16.226,16.226,0,0,1-4.484,1.229,7.739,7.739,0,0,0,3.424-4.3,15.553,15.553,0,0,1-4.935,1.884A7.782,7.782,0,0,0,18.5,55.785a8.014,8.014,0,0,0,.18,1.775A22.029,22.029,0,0,1,2.643,49.419a7.785,7.785,0,0,0,2.392,10.4,7.686,7.686,0,0,1-3.516-.959v.085a7.818,7.818,0,0,0,6.235,7.647,7.767,7.767,0,0,1-2.04.256,6.881,6.881,0,0,1-1.473-.133,7.857,7.857,0,0,0,7.272,5.421,15.638,15.638,0,0,1-9.65,3.319A14.579,14.579,0,0,1,0,75.352a21.91,21.91,0,0,0,11.939,3.493C26.26,78.844,34.09,66.981,34.09,56.7c0-.344-.012-.676-.028-1.006A15.526,15.526,0,0,0,37.962,51.652Z"
                            transform="translate(0 -48)" fill="#F8F7F2" />
                    </svg>
                </div>
                <div class="lost-connect">
                    {{autoPostTwitter ? 'เผยแพร่โพสต์ไปยัง Twitter' : 'ไม่เผยแพร่โพสต์ไปยัง Twitter'}}
                </div>
            </div>

            <div class="link-connect" *ngIf="!isLoadingTwitter" [class.active]="autoPostTwitter">
                <mat-slide-toggle [ngModelOptions]="{standalone: true}" [(ngModel)]="autoPostTwitter"
                    (click)="onChangeSlide($event , 'twitter')"></mat-slide-toggle>
            </div>
            <mat-spinner *ngIf="isLoadingTwitter" [diameter]="25" class="preload-spinner"></mat-spinner>
        </div>
    </div>
</div>